html {
  position: relative;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background:#ffffff;
  font-family: Times, serif;
  width:100%;
  overflow-x:hidden;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important;

}

a {
  text-decoration:none;
  border:0; border:none;
  outline:0 !important;
  -webkit-font-smoothing: antialiased !important;

  img {
    border:0; border:none;
  }
}

// generic styles

// preloader modal animation
@-webkit-keyframes loader-anim {
  0%   {
    transform: scale(0.8) rotate(0deg);
    -khtml-transform: scale(0.8) rotate(0deg);
    -moz-transform: scale(0.8) rotate(0deg);
    -ms-transform: scale(0.8) rotate(0deg);
    -webkit-transform: scale(0.8) rotate(0deg);
  }
  30%   {
    transform: scale(0.9) rotate(-360deg);
    -khtml-transform: scale(0.9) rotate(-360deg);
    -moz-transform: scale(0.9) rotate(-360deg);
    -ms-transform: scale(0.9) rotate(-360deg);
    -webkit-transform: scale(0.9) rotate(-360deg);
  }
  60%   {
    transform: scale(0.8) rotate(0deg);
    -khtml-transform: scale(0.8) rotate(0deg);
    -moz-transform: scale(0.8) rotate(0deg);
    -ms-transform: scale(0.8) rotate(0deg);
    -webkit-transform: scale(0.8) rotate(0deg);
  }
  60%   {
    transform: scale(1) rotate(-360deg);
    -khtml-transform: scale(1) rotate(-360deg);
    -moz-transform: scale(1) rotate(-360deg);
    -ms-transform: scale(1) rotate(-360deg);
    -webkit-transform: scale(1) rotate(-360deg);
  }
  100%   {
    transform: scale(0.9) rotate(-30deg);
    -khtml-transform: scale(0.9) rotate(-30deg);
    -moz-transform: scale(0.9) rotate(-30deg);
    -ms-transform: scale(0.9) rotate(-30deg);
    -webkit-transform: scale(0.9) rotate(-30deg);
  }
}
@-moz-keyframes loader-anim {
  0%   {
    transform: scale(0.8) rotate(0deg);
    -khtml-transform: scale(0.8) rotate(0deg);
    -moz-transform: scale(0.8) rotate(0deg);
    -ms-transform: scale(0.8) rotate(0deg);
    -webkit-transform: scale(0.8) rotate(0deg);
  }
  30%   {
    transform: scale(0.9) rotate(-360deg);
    -khtml-transform: scale(0.9) rotate(-360deg);
    -moz-transform: scale(0.9) rotate(-360deg);
    -ms-transform: scale(0.9) rotate(-360deg);
    -webkit-transform: scale(0.9) rotate(-360deg);
  }
  60%   {
    transform: scale(0.8) rotate(0deg);
    -khtml-transform: scale(0.8) rotate(0deg);
    -moz-transform: scale(0.8) rotate(0deg);
    -ms-transform: scale(0.8) rotate(0deg);
    -webkit-transform: scale(0.8) rotate(0deg);
  }
  60%   {
    transform: scale(1) rotate(-360deg);
    -khtml-transform: scale(1) rotate(-360deg);
    -moz-transform: scale(1) rotate(-360deg);
    -ms-transform: scale(1) rotate(-360deg);
    -webkit-transform: scale(1) rotate(-360deg);
  }
  100%   {
    transform: scale(0.9) rotate(-30deg);
    -khtml-transform: scale(0.9) rotate(-30deg);
    -moz-transform: scale(0.9) rotate(-30deg);
    -ms-transform: scale(0.9) rotate(-30deg);
    -webkit-transform: scale(0.9) rotate(-30deg);
  }
}
@-ms-keyframes loader-anim {
  0%   {
    transform: scale(0.8) rotate(0deg);
    -khtml-transform: scale(0.8) rotate(0deg);
    -moz-transform: scale(0.8) rotate(0deg);
    -ms-transform: scale(0.8) rotate(0deg);
    -webkit-transform: scale(0.8) rotate(0deg);
  }
  30%   {
    transform: scale(0.9) rotate(-360deg);
    -khtml-transform: scale(0.9) rotate(-360deg);
    -moz-transform: scale(0.9) rotate(-360deg);
    -ms-transform: scale(0.9) rotate(-360deg);
    -webkit-transform: scale(0.9) rotate(-360deg);
  }
  60%   {
    transform: scale(0.8) rotate(0deg);
    -khtml-transform: scale(0.8) rotate(0deg);
    -moz-transform: scale(0.8) rotate(0deg);
    -ms-transform: scale(0.8) rotate(0deg);
    -webkit-transform: scale(0.8) rotate(0deg);
  }
  60%   {
    transform: scale(1) rotate(-360deg);
    -khtml-transform: scale(1) rotate(-360deg);
    -moz-transform: scale(1) rotate(-360deg);
    -ms-transform: scale(1) rotate(-360deg);
    -webkit-transform: scale(1) rotate(-360deg);
  }
  100%   {
    transform: scale(0.9) rotate(-30deg);
    -khtml-transform: scale(0.9) rotate(-30deg);
    -moz-transform: scale(0.9) rotate(-30deg);
    -ms-transform: scale(0.9) rotate(-30deg);
    -webkit-transform: scale(0.9) rotate(-30deg);
  }
}
@-khtml-keyframes loader-anim {
  0%   {
    transform: scale(0.8) rotate(0deg);
    -khtml-transform: scale(0.8) rotate(0deg);
    -moz-transform: scale(0.8) rotate(0deg);
    -ms-transform: scale(0.8) rotate(0deg);
    -webkit-transform: scale(0.8) rotate(0deg);
  }
  30%   {
    transform: scale(0.9) rotate(-360deg);
    -khtml-transform: scale(0.9) rotate(-360deg);
    -moz-transform: scale(0.9) rotate(-360deg);
    -ms-transform: scale(0.9) rotate(-360deg);
    -webkit-transform: scale(0.9) rotate(-360deg);
  }
  60%   {
    transform: scale(0.8) rotate(0deg);
    -khtml-transform: scale(0.8) rotate(0deg);
    -moz-transform: scale(0.8) rotate(0deg);
    -ms-transform: scale(0.8) rotate(0deg);
    -webkit-transform: scale(0.8) rotate(0deg);
  }
  60%   {
    transform: scale(1) rotate(-360deg);
    -khtml-transform: scale(1) rotate(-360deg);
    -moz-transform: scale(1) rotate(-360deg);
    -ms-transform: scale(1) rotate(-360deg);
    -webkit-transform: scale(1) rotate(-360deg);
  }
  100%   {
    transform: scale(0.9) rotate(-30deg);
    -khtml-transform: scale(0.9) rotate(-30deg);
    -moz-transform: scale(0.9) rotate(-30deg);
    -ms-transform: scale(0.9) rotate(-30deg);
    -webkit-transform: scale(0.9) rotate(-30deg);
  }
}
@-o-keyframes loader-anim {
  0%   {
    transform: scale(0.8) rotate(0deg);
    -khtml-transform: scale(0.8) rotate(0deg);
    -moz-transform: scale(0.8) rotate(0deg);
    -ms-transform: scale(0.8) rotate(0deg);
    -webkit-transform: scale(0.8) rotate(0deg);
  }
  30%   {
    transform: scale(0.9) rotate(-360deg);
    -khtml-transform: scale(0.9) rotate(-360deg);
    -moz-transform: scale(0.9) rotate(-360deg);
    -ms-transform: scale(0.9) rotate(-360deg);
    -webkit-transform: scale(0.9) rotate(-360deg);
  }
  60%   {
    transform: scale(0.8) rotate(0deg);
    -khtml-transform: scale(0.8) rotate(0deg);
    -moz-transform: scale(0.8) rotate(0deg);
    -ms-transform: scale(0.8) rotate(0deg);
    -webkit-transform: scale(0.8) rotate(0deg);
  }
  60%   {
    transform: scale(1) rotate(-360deg);
    -khtml-transform: scale(1) rotate(-360deg);
    -moz-transform: scale(1) rotate(-360deg);
    -ms-transform: scale(1) rotate(-360deg);
    -webkit-transform: scale(1) rotate(-360deg);
  }
  100%   {
    transform: scale(0.9) rotate(-30deg);
    -khtml-transform: scale(0.9) rotate(-30deg);
    -moz-transform: scale(0.9) rotate(-30deg);
    -ms-transform: scale(0.9) rotate(-30deg);
    -webkit-transform: scale(0.9) rotate(-30deg);
  }
}


@keyframes loading-anim {
  0% {
    transform: translate(0, 0);
    width:0;
  }
  100% {
    transform: translate(300%, 0);
    width:45%;
  }
}
.page-loader{
  position: fixed;
  z-index: 19;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background: @mainCol2;
  display: block;

  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.4s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.4s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.4s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.4s;

  .fa {
    font-size: 2.5rem;
  }
  .logo {
    display:block;
    margin:0 auto;
    width:100%;
    max-width:10vw;
    margin-top: 20vw;
  }

  .loader-bar {
    width:100%;
    height:8px;
    margin:0 auto;
    overflow:hidden;
    z-index:9;
    position: absolute;
    bottom:0;
    -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.4s;
    -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.4s;
    -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.4s;
    transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.4s;


    &:after {
      content:'';
      background: linear-gradient(45deg,@mainCol2,@mainCol1,@mainCol2);
      position:absolute;
      width:20%;
      height:100%;
      left:0;
      top:0px;

      -webkit-animation: loading-anim 3s infinite forwards;
      -khtml-animation: loading-anim 3s infinite forwards;
      -moz-animation: loading-anim 3s infinite forwards;
      -ms-animation: loading-anim 3s infinite forwards;
      -o-animation: loading-anim 3s infinite forwards;
      -webkit-animation-play-state: running;
      animation-play-state: running;

      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
      -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
    }
    &:before {
      content:'';
      background:linear-gradient(45deg, @mainCol2,@mainCol1,@mainCol2);
      position:absolute;
      width:20%;
      height:100%;
      left:0;
      top:0;

      -webkit-animation: loading-anim 3s infinite reverse;
      -khtml-animation: loading-anim 3s infinite reverse;
      -moz-animation: loading-anim 3s infinite reverse;
      -ms-animation: loading-anim 3s infinite reverse;
      -o-animation: loading-anim 3s infinite reverse;
      -webkit-animation-play-state: running;
      animation-play-state: running;

      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
      -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
    }
  }

  &.visible {
    opacity: 1;
  }
  &.hidden {
    opacity: 0;

    .loader-bar {
      height:0;
    }
  }


}

// global color variables
@footerCol: #24298f;
// quick colors
@mainCol1: #eb3f43;
@mainCol2: #f5bac5;
@mainCol3: #ffffff;
@mainCol4: #24298f;

@secCol1: #1e1e1e;
@secCol2: #000;
@secCol3: #000;

::-webkit-scrollbar {
  width: 5px;
}
::-khtml-scrollbar {
  width: 5px;
}
::-moz-scrollbar {
  width: 5px;
}
::-ms-scrollbar {
  width: 5px;
}
::-o-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 26px rgba(0,0,0,0.3);
}
::-khtml-scrollbar-track {
  -webkit-box-shadow: inset 0 0 26px rgba(0,0,0,0.3);
}
::-moz-scrollbar-track {
  -webkit-box-shadow: inset 0 0 26px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 76px @mainCol1;
}
::-khtml-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 76px @mainCol1;
}
::-moz-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 76px @mainCol1;
}


// global colours ends
.onlymobile {display:none}

.container {
  position: relative;
  background:#ffffff;

  &.dark-bg {
    background:@mainCol1;
    color:#ffffff;
  }
}

.container-fluid {
  //-webkit-transform: translate3d(0, 0, 0);
  &.dark-bg {
    background:@mainCol1;
    color:#ffffff;
  }
}

// generic styles ends

// container sections

// navigation styles
#top-nav {
  height: 85px;
  width: 100%;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;

  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;

  .nav-box {
    //max-width:1170px;
    width:100%;
    position:relative;
    padding: 4vw 0 0 0;
    margin:0 auto;
    overflow:hidden;

    -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
    -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
    -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
    transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  }
  a {
    margin: 0 auto;
    max-width: 300px;
    display: block;
    position:relative;

    &:after {
      content:'';
      background:@mainCol1;
      height:2px;
      width:60%;
      position: relative;
      top: 0;
      display: block;
      margin: 0 auto;

      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.8s;
      -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.8s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.8s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.8s;
    }
  }
  .logo {
    display: block;
    width: 300px;
    height: 60px;
    margin: 0 auto;
    will-change:transform;
    -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
    -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
    -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
    transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
    -webkit-transform: scale(1);
    -khtml-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    position: relative;

  }

  .mobile-nav-btn {
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 9;
    top: 66px;
    right: 12vw;
    cursor:pointer; *cursor:hand;
    //display:none;

    -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
    -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
    -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
    transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;

    span {
      background: @mainCol3;
      display: block;
      width: 100%;
      height: 4px;
      margin-bottom: 4px;
      position:relative;

      will-change: transform;

      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
      -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;

    }

    &.active {
      .shape1 {
        -webkit-transform: rotate(-45deg) translateX(-9px) translateY(3px);
        -khtml-transform: rotate(-45deg) translateX(-9px) translateY(3px);
        -moz-transform: rotate(-45deg) translateX(-9px) translateY(3px);
        -ms-transform: rotate(-45deg) translateX(-9px) translateY(3px);
        -o-transform: rotate(-45deg) translateX(-9px) translateY(3px);
        transform: rotate(-45deg) translateX(-9px) translateY(3px);
        width: 24px;
      }
      .shape2 {
        -webkit-transform: translateX(5px);
        -khtml-transform: translateX(5px);
        -moz-transform: translateX(5px);
        -ms-transform: translateX(5px);
        -o-transform: translateX(5px);
        transform: translateX(5px);
        width:0;
      }
      .shape3 {
        -webkit-transform: rotate(45deg) translateX(-9px) translateY(-3px);
        -khtml-transform: rotate(45deg) translateX(-9px) translateY(-3px);
        -moz-transform: rotate(45deg) translateX(-9px) translateY(-3px);
        -ms-transform: rotate(45deg) translateX(-9px) translateY(-3px);
        -o-transform: rotate(45deg) translateX(-9px) translateY(-3px);
        transform: rotate(45deg) translateX(-9px) translateY(-3px);
        width: 24px;
      }
    }
  }
  .menu {
    max-width:60%;
    padding: 0 40px;
    float:right;
    display:block;

    a {
      font-family: 'ogilvy-sans-light';
      margin:0 10px;
      position:relative;
      padding: 15px 0 0 0;
      width: auto;
      color:#ffffff;
      display: inline-block;
      text-align: center;
      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
      -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;

      &:before {
        content:'';
        height:2px;
        position: relative;
        display: block;
        top: -16px;
        z-index: 8;
        margin: 0 auto;
        width: 0;
        background: transparent;

        -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
        -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
        -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
        transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
      }

      &:last-of-type {
        margin-right:0;
      }

      &:hover, &.active {
        color:@mainCol1;

        &:before {
          height:2px;
          width: 80%;
          background: @mainCol2;
        }
      }
    }
  }

  &.minimal {
    height: 60px;
    background: @mainCol3;
    border-bottom:2px solid @mainCol3;

    &:after {
      display:none;
    }
    .menu {

      a {
        color:@mainCol2;
        padding: 6px 0 0 0;
      }
    }
    .mobile-nav-btn {
      top: 16px;
      span {
        background: @mainCol2;
      }
    }
    .logo {
      -webkit-transform: scale(0.6);
      -khtml-transform: scale(0.6);
      -moz-transform: scale(0.6);
      -ms-transform: scale(0.6);
      -o-transform: scale(0.6);
      transform: scale(0.6);
      margin-top: -10px;
      width: 300px;
      position: relative;
      right: 15px;

    }
    .nav-box {
      padding: 10px 9vw 10px 9vw;
    }

  }
  &.loading {
    top: 14vw;
    transform: scale(2) translateX(0);

    a {
      &:after {
        width:0;
      }
    }
  }
  @media screen and (min-width: 220px) and (max-width: 900px) {
    &.loading {
      top: 84vw;
      transform: scale(2) translateX(-5px);
    }
  }

}

.spacer {
  margin-top:5vw;
}
.page-footer {
  position: fixed;
  background:@footerCol;
  padding: 1vw 0;
  overflow: hidden;
  color: #fff;
  font-size: 11px;
  line-height:2px;
  font-weight: normal;
  width: 100% !important;
  margin-top: 0;
  z-index: 8;
  bottom:0;

  .footer-container {
    //max-width: 1170px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    display: block;
    text-align: left;

    h2 {
      color: @mainCol2;
      margin-bottom:40px;
    }
    p {
      color: @mainCol3;
      font-size:12px;
      line-height: 20px;
      text-align:center;
      margin-bottom:0;

      &.copyright {
        clear: both;
      }
    }

    a {
      color: @mainCol2;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      display: inline-block;
      margin-right: 20px;

      &:hover {
        color: @mainCol1;
      }
    }
    .links {
      margin:0;
      max-width:340px;
    }
    .logo {
      width: 180px;
      height: 60px;
      display: block;
      margin:40px 0;
      clear: both;
    }

  }
}
// about page styles
#bio-about {
  padding: 10vw 15vw 0 15vw;
  overflow:hidden;
  background:@mainCol2;
  height: 100vh;

  h1,h2,h3,h4,h5,p {color:#ffffff}
  .btn {
    text-align:center;
    color:@mainCol1;
    border:3px solid @mainCol1;
    padding:1vw;
    font-family: 'ogilvy-sans-bold';
    font-size: 22px;
    line-height: 22px;
    display:block;
    margin: 30px auto 0 auto;
    max-width: 220px;

    &:hover {
      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
      -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
      background:@mainCol1;
      color:@mainCol3;
    }
  }

  #profile, .title-area {
    h1 {
      font-size: 88px;
      line-height: 88px;
      max-width: 70%;
      margin: 5vw 0 3vw 0;
      opacity:0;
      position:relative;
      will-change:transform;
      -webkit-transform: translateY(90px);
      -khtml-transform: translateY(90px);
      -moz-transform: translateY(90px);
      -ms-transform: translateY(90px);
      -o-transform: translateY(90px);
      transform:translateY(90px);

      span {
        opacity:0;

        -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.4s;
        -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.4s;
        -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.4s;
        transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.4s;

        &.blue {
          color:@mainCol1;
          -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.2s;
          -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.2s;
          -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.2s;
          transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.2s;
        }
        &.green {
          color:@mainCol4;
          -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
          -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
          -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
          transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
        }
      }
    }
    h4 {
      font-family: 'ogilvy-sans-bold';
      text-align: center;
      font-size:38px;
      line-height:44px;
      margin-top: 4vw;
      margin-bottom: 0;
      color:@mainCol1;
      position:relative;
      -webkit-transform: translateY(190px);
      -khtml-transform: translateY(190px);
      -moz-transform: translateY(190px);
      -ms-transform: translateY(190px);
      -o-transform: translateY(190px);
      transform:translateY(190px);
      opacity:0;

      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.9s;
      -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.9s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.9s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.9s;
    }
    h5 {
      font-family: 'ogilvy-sans-bold';
      font-size:25px;
      line-height:25px;
      position:relative;
      -webkit-transform: translateY(90px);
      -khtml-transform: translateY(90px);
      -moz-transform: translateY(90px);
      -ms-transform: translateY(90px);
      -o-transform: translateY(90px);
      transform:translateY(90px);
      opacity:0;

      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
      -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
    }
    img {
      margin: 0 auto;
      display: block;
      opacity:0;
      will-change:transform, opacity;
      -webkit-transform: translateY(120px);
      -khtml-transform: translateY(120px);
      -moz-transform: translateY(120px);
      -ms-transform: translateY(120px);
      -o-transform: translateY(120px);
      transform:translateY(120px);

      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
      -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
    }
    .btn {
      opacity:0;
      will-change:transform, opacity;
      -webkit-transform: translateY(200px);
      -khtml-transform: translateY(200px);
      -moz-transform: translateY(200px);
      -ms-transform: translateY(200px);
      -o-transform: translateY(200px);
      transform:translateY(200px);

      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.9s;
      -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99)  1.9s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99)  1.9s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99)  1.9s;
    }

    &.active {
      h1,h4,h5  {
        opacity:1;
        -webkit-transform: translateX(0);
        -khtml-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform:translateX(0);
      }
      h1 {

        span {
          transition-delay:1.2s;opacity:1;
          &.blue {
            transition-delay:1s;opacity:1;
          }
          &.green {
            transition-delay:1.4s;opacity:1;
          }
          &.third {
            transition-delay:1.6s;opacity:1;
          }
        }
      }
      img,.btn {
        opacity:1;
        -webkit-transform: translateX(0);
        -khtml-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform:translateX(0);
      }
    }
  }
}
#socialLinks {
  width:50px;
  position:absolute;
  right:5vw;
  top:17vw;
  opacity:0;

  -webkit-transform: translateX(200px);
  -khtml-transform: translateX(200px);
  -moz-transform: translateX(200px);
  -ms-transform: translateX(200px);
  -o-transform: translateX(200px);
  transform:translateX(200px);

  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.9s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99)  1.9s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99)  1.9s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99)  1.9s;

  .social {
    display:inline-block;
    margin-bottom:20px;
    width:50px; height:50px;
    will-change:transform, opacity;

    -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
    -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
    -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
    transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;

    &:last-of-type {
      margin-right:0; margin-bottom:0;
    }

    &.facebook {
      background:url('../images/icon-facebook.svg') no-repeat center center;
    }
    &.twitter {
      background:url('../images/icon-twitter.svg') no-repeat center center;
    }
    &.linkedin {
      background:url('../images/icon-linkedin.svg') no-repeat center center;
    }

    &:hover {
      -webkit-transform: scale(1.2);
      -khtml-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
    }
  }

  &.active {
    opacity:1;
    -webkit-transform: translateX(0);
    -khtml-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform:translateX(0);
  }
}
@media screen and (min-width: 280px) and (max-width: 900px)
{
  #socialLinks {
    position:static;
    width:100%;
    text-align:center;
    margin-top: 13vw;

    -webkit-transform: translateY(200px);
    -khtml-transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    transform:translateY(200px);

    .social {
      margin-bottom:0;
      margin-right:20px;
    }

    &.active {
      opacity:1;
      -webkit-transform: translateY(0);
      -khtml-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform:translateY(0);
    }
  }

}
#rotateScreen {
  display: block;
  position: fixed;
  opacity:0;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  background: @mainCol2;
  background-size: cover;
  will-change: transform;
  //-webkit-transform: scale(0);
  //-khtml-transform: scale(0);
  //-moz-transform: scale(0);
  //-ms-transform: scale(0);
  //transform: scale(0);
  -webkit-transition: all cubic-bezier(0.18, 0.89, 0.26, 1.08) 0.7s;
  -khtml-transition: all cubic-bezier(0.18, 0.89, 0.26, 1.08) 0.7s;
  -moz-transition: all cubic-bezier(0.18, 0.89, 0.26, 1.08) 0.7s;
  -ms-transition: all cubic-bezier(0.18, 0.89, 0.26, 1.08) 0.7s;
  transition: all cubic-bezier(0.18, 0.89, 0.26, 1.08) 0.7s;

  h1,h2 {
    color:#ffffff;
    text-align: center;
    font-style:normal;
    opacity:0;
    margin: 0 auto 20px auto;

    -webkit-transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
    -khtml-transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
    -moz-transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
    -ms-transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
    transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;


  }
  h1 {
    position:relative;
    top:40px;
    font-size: 3vw;
    transition-delay:1.4s;
    font-family: 'ogilvy-sans-bold';
  }
  h2 {
    font-family: 'ogilvy-serif-reg';
    position:relative;
    top:80px;
    font-size: 2vw;
    transition-delay:1.6s;
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(16deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  span {
    width: 64px;
    height: 64px;
    display:block;
    margin: -14vw auto 55vw auto;
    opacity:0;
    position:relative;

    -webkit-transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
    -khtml-transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
    -moz-transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
    -ms-transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
    transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;

    transition-delay:1.2s;

    &:after {
      content:'';
      position:absolute;
      top:5px; left:5px;
      z-index:2;
      width: 64px;
      height: 64px;
      display:block;
      background:url(../images/rotate-display-icon2.svg) no-repeat top left;

      -webkit-animation: rotate 2s infinite forwards;
      -khtml-animation: rotate 2s infinite forwards;
      -moz-animation: rotate 2s infinite forwards;
      -ms-animation: rotate 2s infinite forwards;
      -o-animation: rotate 2s infinite forwards;
      -webkit-animation-play-state: running;
      animation-play-state: running;
    }

    &:before {
      content:'';
      position:absolute;
      top:5px; left:5px;
      z-index:4;
      width: 64px;
      height: 64px;
      display:block;
      background:url(../images/rotate-display-icon.svg) no-repeat top left;
    }
  }

  &.active {
    opacity:1;
    z-index: 999;
    //-webkit-transform: scale(1);
    //-khtml-transform: scale(1);
    //-moz-transform: scale(1);
    //-ms-transform: scale(1);
    //transform: scale(1);
    //width: 100%;
    display: block;

    h1, h2 {
      opacity:1;
      top:0;
    }

    span {
      margin: 9vw auto 3vw auto;
      opacity:1;
    }
  }
}

.parallax-bg {
  background-attachment:fixed !important;
}

// firefox
.firefox {

}
// IE8 Fixes
.ie8 {

}






