
@media screen and (max-width: 2560px)
{

}

@media screen and (min-width: 1680px) and (max-width: 1920px)
{
  .page-footer {

    .footer-container {
      p {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
  .page-footer .footer-container {
    max-width:none;
  }
}

@media screen and (max-width: 1680px) {}

@media screen and (min-width: 900px) and (max-width: 1680px)
{
  #bio-about {
    padding: 12vw 15vw 0 15vw;
  }
  #bio-about #profile img {
    max-width:80%;
  }

}

@media screen and (max-width: 1366px) {

}

@media screen and(max-width: 1280px) {
  #bio-about #profile h4 {
    margin-top:8vw;
  }
}

// Ipad responsive
@media screen and(max-width: 1024px)
{

  #bio-about {
    padding: 20vw 12vw 5vw 12vw;
    overflow: hidden;
  }
  #bio-about #profile img {
    max-width: 100%;
    width: 100%;
  }
  #bio-about #profile h4 {
    font-size: 28px;
    line-height: 34px;
    margin-top: 7vw;
  }
  #bio-about #profile h1 {
    font-size: 68px;
    line-height: 58px;
  }
  #bio-about #profile h5 {
    font-size: 20px;
    line-height: 20px;
  }
  #bio-about #message h3 {
    max-width: 50%;
    margin-top: 8.1vw;
  }
}

@media screen and (max-width: 960px)
{

  #bio-about #covidLink {
    padding: 30px 30px 0 30px;
  }
  #bio-about #covidLink p {
    font-family: 'ogilvy-sans-bold';
    top: 0;
    text-align: left;
    float:none;
  }
  #bio-about #covidLink a {
    margin:20px 0;
    display:block;
    float:none;
  }
  #clients #clientsCarousel {
    width:100%;
  }
  #rotateScreen {

    h1 {
      font-size: 7vw;
      line-height: 7vw;
    }
    h2 {
      font-size: 4vw;
      line-height: 8vw;
    }
  }
  // GENERAL
  .container {
    width: 100%;
    padding: 0;
  }

  // ABOUT PAGE
  #bio-about {
    padding: 14vw 6vw 7vw 6vw;
  }
  #bio-about #message img {
    margin:20px 0;
  }
  #bio-about #message .inner-pad-right {
    padding-right: 15px;
  }
  #bio-about #profile h1 {
    font-size: 11vw;
    line-height: 10vw;
  }
  #bio-about #profile h4 {
    font-size: 7vw;
    line-height: 7vw;
    margin-top: 15vw;
  }
  #bio-about #profile h5 {
    font-size: 5vw;
    line-height: 5vw;
  }
  #bio-about #profile img {
    margin:30px auto 0 auto;
  }
  #bio-about #message h3 {
    max-width:100%;
    margin: 5vw 0 10vw 0;
    text-align: left;
    font-size: 7vw;
    line-height: 8vw;
  }
  #bio-about #message p {
    font-size: 4vw;
    line-height: 8vw;
    margin-bottom: 25px;
  }
  #bio-about #message p.no-space {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px)
{
  #rotateScreen {

    h1 {
      font-size: 7vw;
      line-height: 7vw;
    }
    h2 {
      font-size: 4vw;
      line-height: 8vw;
    }
  }
  // GENERAL
  .container {
    width: 100%;
    padding: 0;
  }
  // ABOUT PAGE
  #bio-about {
    padding: 14vw 6vw 7vw 6vw;
  }
  #bio-about #message img {
    margin:20px 0;
  }
  #bio-about #message .inner-pad-right {
    padding-right: 15px;
  }
  #bio-about #profile h1 {
    font-size: 11vw;
    line-height: 10vw;
  }
  #bio-about #profile h4 {
    font-size: 7vw;
    line-height: 7vw;
    margin-top: 15vw;
  }
  #bio-about #profile h5 {
    font-size: 5vw;
    line-height: 5vw;
  }
  #bio-about #profile img {
    margin:30px auto 0 auto;
  }
  #bio-about #message h3 {
    max-width:100%;
    margin: 5vw 0 10vw 0;
    text-align: left;
    font-size: 7vw;
    line-height: 8vw;
  }
  #bio-about #message p {
    font-size: 4vw;
    line-height: 8vw;
    margin-bottom: 25px;
  }
  #bio-about #message p.no-space {
    margin-bottom: 10px;
  }
}

// Z5 Premium
@media screen and (min-width: 220px) and (max-width: 900px)
{
  #top-nav {
    top:4vw;
  }
  .page-footer .footer-container p {
    font-size: 12px;
    line-height: 30px;
    margin: 0;
  }
  #bio-about .btn {
    padding: 2vw 3vw;
  }
  #bio-about #covidLink {
    padding: 30px 30px 0 30px;
  }
  #bio-about #covidLink p {
    font-family: 'ogilvy-sans-bold';
    top: 0;
    text-align: left;
    float:none;
  }
  #bio-about #covidLink a {
    margin:20px 0;
    display:block;
    float:none;
  }
  #rotateScreen {

    h1 {
      font-size: 7vw;
      line-height: 7vw;
    }
    h2 {
      font-size: 4vw;
      line-height: 8vw;
    }
  }
  // GENERAL
  .container {
    width: 100%;
    padding: 0;
  }
  // ABOUT PAGE
  #bio-about {
    padding: 14vw 6vw 7vw 6vw;
  }
  #bio-about #message img {
    margin:20px 0;
  }
  #bio-about #message .inner-pad-right {
    padding-right: 15px;
  }
  #bio-about #profile h1 {
    font-size: 11vw;
    line-height: 10vw;
  }
  #bio-about #profile h4 {
    font-size: 5vw;
    line-height: 5vw;
    margin-top: 15vw;
  }
  #bio-about #profile h5 {
    font-size: 5vw;
    line-height: 5vw;
  }
  #bio-about #profile img {
    margin: 15vw auto 0 auto;

  }
  #bio-about #message h3 {
    max-width:100%;
    margin: 5vw 0 10vw 0;
    text-align: left;
    font-size: 7vw;
    line-height: 8vw;
  }
  #bio-about #message p {
    font-size: 4vw;
    line-height: 8vw;
    margin-bottom: 25px;
  }
  #bio-about #message p.no-space {
    margin-bottom: 10px;
  }
}
// IPHONE 6 PLUS
@media screen and (max-width: 414px)
{
  #top-nav .logo {
    max-width: 200px;
  }
}

// IPHONE 6
@media screen and (max-width: 375px)
{

}

// SAMSUNG S3 | S7 | SONY XPERIA Z5
@media screen and (max-width: 360px)
{

}

@media screen and (max-width: 340px)
{

}

@media screen and (max-width: 280px)
{

}

@media (prefers-color-scheme: darks) {
  body {
    background:#000000;
  }
  .container, .container-fluid {
    background:#000000;

    &.page-master.light {
      p,a {
        color: #ffffff;
      }
    }
    &.page-footer {
      background: #1e1e1e;
    }
    h1,h1 span,h3,h4,p,blockquote {color:#ffffff !important}
    h2 {color:red !important}

    .owl-controls {
      filter:invert(1);
    }
    .btn-expander
    {
      color:#ffffff;

      &.expanded {

        &:after {
          background: red;
        }
      }


    }
  }

  // specialised
  #awards-about #awardsCarousel img {
    filter: invert(1);
  }
  #gallery-work.active #worksFilter {
    filter: invert(1);
  }

}