@media screen and (max-width: 2560px) {
  .container {
    width: 1170px;
  }
}
@media screen and (max-width: 1680px) {
  .container {
    width: 1024px;
  }
  blockquote {
    font-size: 35px;
    line-height: 46px;
  }
  .expandible-content blockquote {
    font-size: 35px;
    line-height: 45px;
    padding: 10% 13%;
  }
  .expandible-content .btn-expander {
    font-size: 24px;
    line-height: 31px;
    margin-top: 40px;
  }
  .carousel .owl-stage-outer .owl-item .btn {
    position: absolute;
    bottom: 40px;
    left: 70%;
    opacity: 0;
    z-index: 2;
  }
  #players-about h1,
  #awards-about h1,
  #clients-about h1,
  #service-home h1,
  #about-home h1 {
    font-size: 132px;
    line-height: 106px;
  }
  #intro-home {
    height: 560px;
  }
  #intro-home h1 {
    top: 28%;
    left: 41.1%;
  }
  #intro-home h2 {
    top: 8%;
    left: 42%;
  }
  #intro-home.active h1 {
    top: 28%;
    left: 41.1%;
  }
  #about-home {
    height: 560px;
  }
  #about-home h1 {
    max-width: 60%;
    left: 24.1%;
  }
  #about-home.active h2 {
    left: 24.1%;
  }
  #about-home .btn {
    left: 24.1%;
  }
  #contact-home .container {
    padding: 0;
  }
  #contact-home #contactTabs .form {
    max-width: 1024px;
  }
  #intro-services {
    height: 560px;
  }
  #qoute-services blockqoute {
    padding-bottom: 40px;
  }
  #offering-services #serviceFilter {
    argin: 0 auto 50px auto;
  }
  #offering-services #serviceFilter li {
    min-height: 60px;
  }
  #offering-services #offeringsCarousel .owl-item .item .profile-info p {
    margin-top: 35px;
    font-size: 16px;
    line-height: 26px;
  }
  #offering-services #offeringsCarousel .owl-item .item .profile-info h1 {
    left: -222px;
    font-size: 78px;
    line-height: 66px;
  }
  #offering-services #offeringsCarousel .owl-item.active .item .profile-info h1 {
    font-size: 82px;
  }
  #offering-services #offeringsCarousel .owl-item.active .item .profile-info {
    left: 8%;
  }
  #intro-about {
    height: 560px;
  }
  #intro-about h2 {
    top: 56%;
  }
  #players-about #playersCarousel .owl-item .item .profile-info {
    left: 50px;
    padding-top: 20%;
  }
  #players-about #playersCarousel .owl-controls {
    bottom: 25%;
    width: 100%;
  }
  #awards-about h2 {
    margin-bottom: 30px;
  }
  #intro-works {
    height: 560px;
  }
  #intro-works.active h2 {
    top: 50%;
  }
  #intro-projects {
    height: 560px;
  }
  #intro-projects h1 {
    max-width: 560px;
  }
  #gallery-work #workGallery .picture-item {
    width: 33.32%;
  }
  #gallery-work #workGallery .picture-item .title h1 {
    font-size: 36px;
    line-height: 31px;
  }
  #campaign-projects h1,
  .info-projects h1 {
    font-size: 70px;
    line-height: 58px;
    max-width: 560px;
  }
  #campaign-projects p {
    font-size: 24px;
    line-height: 34px;
    max-width: 70%;
  }
  .info-projects p {
    font-size: 24px;
    line-height: 34px;
    max-width: 70%;
  }
  .image-projects {
    padding: 60px 0;
  }
}
@media screen and (max-width: 1440px) {
  .container {
    width: 1024px;
  }
  blockquote {
    font-size: 35px;
    line-height: 46px;
  }
  .expandible-content blockquote {
    font-size: 35px;
    line-height: 45px;
    padding: 10% 13%;
  }
  .expandible-content .btn-expander {
    font-size: 24px;
    line-height: 31px;
    margin-top: 40px;
  }
  .carousel .owl-stage-outer .owl-item .btn {
    position: absolute;
    bottom: 40px;
    left: 70%;
    opacity: 0;
    z-index: 2;
  }
  #players-about h1,
  #awards-about h1,
  #clients-about h1,
  #service-home h1,
  #about-home h1 {
    font-size: 132px;
    line-height: 106px;
  }
  #intro-home {
    height: 690px;
    background: url(../images/home-top-bg.jpg) no-repeat 0% 0%;
    background-size: cover;
  }
  #intro-home h1 {
    top: 58%;
    left: 41.1%;
  }
  #intro-home h2 {
    top: 30%;
    left: 42%;
  }
  #intro-home.active h1 {
    top: 48%;
    left: 41.1%;
  }
  #about-home {
    height: 690px;
  }
  #about-home h1 {
    max-width: 60%;
    left: 24.1%;
  }
  #about-home.active h2 {
    left: 24.1%;
  }
  #about-home .btn {
    left: 24.1%;
  }
  #contact-home .container {
    padding: 0;
  }
  #contact-home #contactTabs .form {
    max-width: 1024px;
  }
  #intro-services {
    height: 690px;
  }
  #qoute-services blockqoute {
    padding-bottom: 40px;
  }
  #offering-services #serviceFilter {
    argin: 0 auto 50px auto;
  }
  #offering-services #serviceFilter li {
    min-height: 60px;
  }
  #offering-services #offeringsCarousel .owl-item .item .profile-info p {
    margin-top: 35px;
    font-size: 16px;
    line-height: 26px;
  }
  #offering-services #offeringsCarousel .owl-item .item .profile-info h1 {
    left: -222px;
    font-size: 78px;
    line-height: 66px;
  }
  #offering-services #offeringsCarousel .owl-item.active .item .profile-info h1 {
    font-size: 82px;
  }
  #offering-services #offeringsCarousel .owl-item.active .item .profile-info {
    left: 8%;
  }
  #intro-about {
    height: 690px;
  }
  #intro-about h2 {
    top: 56%;
  }
  #players-about #playersCarousel .owl-item .item .profile-info {
    left: 50px;
    padding-top: 20%;
  }
  #players-about #playersCarousel .owl-controls {
    bottom: 25%;
    width: 100%;
  }
  #awards-about h2 {
    margin-bottom: 30px;
  }
  #intro-works {
    height: 690px;
  }
  #intro-works.active h2 {
    top: 50%;
  }
  #intro-projects {
    height: 690px;
  }
  #intro-projects h1 {
    max-width: 560px;
  }
  #gallery-work #workGallery .picture-item {
    width: 33.32%;
  }
  #gallery-work #workGallery .picture-item .title h1 {
    font-size: 36px;
    line-height: 31px;
  }
  #campaign-projects h1,
  .info-projects h1 {
    font-size: 70px;
    line-height: 58px;
  }
  #campaign-projects p {
    font-size: 24px;
    line-height: 34px;
    max-width: 70%;
  }
  .info-projects p {
    font-size: 24px;
    line-height: 34px;
    max-width: 70%;
  }
  .image-projects {
    padding: 60px 0;
  }
}
@media screen and (max-width: 1366px) {
  .container {
    width: 1024px;
  }
  blockquote {
    font-size: 35px;
    line-height: 46px;
  }
  .expandible-content blockquote {
    font-size: 35px;
    line-height: 45px;
    padding: 10% 13%;
  }
  .expandible-content .btn-expander {
    font-size: 24px;
    line-height: 31px;
    margin-top: 40px;
  }
  .carousel .owl-stage-outer .owl-item .btn {
    position: absolute;
    bottom: 40px;
    left: 70%;
    opacity: 0;
    z-index: 2;
  }
  #players-about h1,
  #awards-about h1,
  #clients-about h1,
  #service-home h1,
  #about-home h1 {
    font-size: 132px;
    line-height: 106px;
  }
  #intro-home {
    height: 560px;
    background: url(../images/home-top-bg.jpg) no-repeat 0% 185%;
    background-size: cover;
  }
  #intro-home h1 {
    top: 28%;
    left: 41.1%;
  }
  #intro-home h2 {
    top: 8%;
    left: 42%;
  }
  #intro-home.active h1 {
    top: 28%;
    left: 41.1%;
  }
  #about-home {
    height: 560px;
  }
  #about-home h1 {
    max-width: 60%;
    left: 24.1%;
  }
  #about-home.active h2 {
    left: 24.1%;
  }
  #about-home .btn {
    left: 24.1%;
  }
  #contact-home .container {
    padding: 0;
  }
  #contact-home #contactTabs .form {
    max-width: 1024px;
  }
  #intro-services {
    height: 560px;
  }
  #qoute-services blockqoute {
    padding-bottom: 40px;
  }
  #offering-services #serviceFilter {
    argin: 0 auto 50px auto;
  }
  #offering-services #serviceFilter li {
    min-height: 60px;
  }
  #offering-services #offeringsCarousel .owl-item .item .profile-info p {
    margin-top: 35px;
    font-size: 16px;
    line-height: 26px;
  }
  #offering-services #offeringsCarousel .owl-item .item .profile-info h1 {
    left: -222px;
    font-size: 78px;
    line-height: 66px;
  }
  #offering-services #offeringsCarousel .owl-item.active .item .profile-info h1 {
    font-size: 82px;
  }
  #offering-services #offeringsCarousel .owl-item.active .item .profile-info {
    left: 8%;
  }
  #intro-about {
    height: 560px;
  }
  #intro-about h2 {
    top: 56%;
  }
  #players-about #playersCarousel .owl-item .item .profile-info {
    left: 50px;
    padding-top: 20%;
  }
  #players-about #playersCarousel .owl-controls {
    bottom: 25%;
    width: 100%;
  }
  #awards-about h2 {
    margin-bottom: 30px;
  }
  #intro-works {
    height: 560px;
  }
  #intro-works.active h2 {
    top: 50%;
  }
  #intro-projects {
    height: 560px;
  }
  #intro-projects h1 {
    max-width: 560px;
  }
  #gallery-work #workGallery .picture-item {
    width: 33.32%;
  }
  #gallery-work #workGallery .picture-item .title h1 {
    font-size: 36px;
    line-height: 31px;
  }
  #campaign-projects h1,
  .info-projects h1 {
    font-size: 70px;
    line-height: 58px;
    max-width: 560px;
  }
  #campaign-projects p {
    font-size: 24px;
    line-height: 34px;
    max-width: 70%;
  }
  .info-projects p {
    font-size: 24px;
    line-height: 34px;
    max-width: 70%;
  }
  .image-projects {
    padding: 60px 0;
  }
}
@media screen and (max-width: 1280px) {
  .container {
    width: 1024px;
  }
  blockquote {
    font-size: 35px;
    line-height: 46px;
  }
  .expandible-content blockquote {
    font-size: 35px;
    line-height: 45px;
    padding: 10% 13%;
  }
  .expandible-content .btn-expander {
    font-size: 24px;
    line-height: 31px;
    margin-top: 40px;
  }
  .carousel .owl-stage-outer .owl-item .btn {
    position: absolute;
    bottom: 40px;
    left: 70%;
    opacity: 0;
    z-index: 2;
  }
  #players-about h1,
  #awards-about h1,
  #clients-about h1,
  #service-home h1,
  #about-home h1 {
    font-size: 132px;
    line-height: 106px;
  }
  #intro-home {
    height: 720px;
    background: url(../images/home-top-bg.jpg) no-repeat 50% 60%;
    background-size: cover;
  }
  #intro-home h1 {
    top: 55%;
    left: 41.1%;
  }
  #intro-home h2 {
    top: 29%;
    left: 42%;
  }
  #intro-home.active h1 {
    top: 45%;
    left: 41.1%;
  }
  #about-home {
    height: 720px;
  }
  #about-home h1 {
    max-width: 60%;
    left: 24.1%;
  }
  #about-home.active h2 {
    left: 24.1%;
  }
  #about-home .btn {
    left: 24.1%;
  }
  #contact-home .container {
    padding: 0;
  }
  #contact-home #contactTabs .form {
    max-width: 1024px;
  }
  #intro-services {
    height: 680px;
  }
  #qoute-services blockqoute {
    padding-bottom: 40px;
  }
  #offering-services #serviceFilter {
    argin: 0 auto 50px auto;
  }
  #offering-services #serviceFilter li {
    min-height: 60px;
  }
  #offering-services #offeringsCarousel .owl-item .item .profile-info p {
    margin-top: 35px;
    font-size: 16px;
    line-height: 26px;
  }
  #offering-services #offeringsCarousel .owl-item .item .profile-info h1 {
    left: -222px;
    font-size: 78px;
    line-height: 66px;
  }
  #offering-services #offeringsCarousel .owl-item.active .item .profile-info h1 {
    font-size: 82px;
  }
  #offering-services #offeringsCarousel .owl-item.active .item .profile-info {
    left: 8%;
  }
  #intro-about {
    height: 680px;
  }
  #intro-about h2 {
    top: 56%;
  }
  #players-about #playersCarousel .owl-item .item .profile-info {
    left: 50px;
    padding-top: 20%;
  }
  #players-about #playersCarousel .owl-controls {
    bottom: 25%;
    width: 100%;
  }
  #awards-about h2 {
    margin-bottom: 30px;
  }
  #intro-works {
    height: 680px;
  }
  #intro-works.active h2 {
    top: 50%;
  }
  #intro-projects {
    height: 680px;
  }
  #intro-projects h1 {
    max-width: 560px;
  }
  #gallery-work #workGallery .picture-item {
    width: 33.32%;
  }
  #gallery-work #workGallery .picture-item .title h1 {
    font-size: 36px;
    line-height: 31px;
  }
  #campaign-projects h1,
  .info-projects h1 {
    font-size: 70px;
    line-height: 58px;
    max-width: 560px;
  }
  #campaign-projects p {
    font-size: 24px;
    line-height: 34px;
    max-width: 70%;
  }
  .info-projects p {
    font-size: 24px;
    line-height: 34px;
    max-width: 70%;
  }
  .image-projects {
    padding: 60px 0;
  }
}
@media screen and (max-width: 960px) {
  .container {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}
@media screen and (max-width: 414px) {
  .container {
    width: 100%;
    padding: 0;
  }
  .page-footer .footer-container {
    padding: 50px 30px;
  }
  .page-footer .footer-container p.left-align,
  .page-footer .footer-container p.right-align {
    text-align: center;
  }
  .page-footer .footer-container p.maxxed {
    max-width: 100%;
    padding: 0 15%;
  }
  .page-footer .footer-container .social.foot {
    position: relative;
    margin: 20px auto;
    max-width: 110px;
  }
  .page-footer .footer-container p.copyright {
    text-align: center;
    font-family: 'avenir-light';
    float: none;
    clear: both;
  }
  .page-footer .footer-container .logo {
    background: url(../images/logo-hori-white.png) no-repeat -11px 0px;
    background-size: 100%;
    float: none;
    margin: 35px auto 0 auto;
  }
  button,
  .btn {
    font-size: 12px;
  }
  .parallax-bg {
    background-attachment: initial !important;
  }
  #players-about h1,
  #awards-about h1,
  #clients-about h1,
  #service-home h1,
  #about-home h1 {
    font-size: 66px;
    line-height: 54px;
  }
  #top-nav {
    background: #000000;
    padding: 10px 0;
    height: auto;
  }
  #top-nav .logo {
    width: 135px;
    height: 32px;
    margin-top: 5px;
    float: left;
    background: url(../images/logo-hori-white.png) no-repeat -30px 0px;
    background-size: 100%;
  }
  #top-nav .nav-box {
    padding: 0 9px;
  }
  #top-nav .menu {
    display: none;
  }
  #top-nav .mobile-nav-btn {
    display: block;
    top: 8px;
    right: 2px;
  }
  #sideNav {
    padding: 10px 0;
  }
  #sideNav .logo {
    width: 135px;
    height: 32px;
    margin-top: 5px;
    float: left;
    background: url(../images/logo-hori-white.png) no-repeat -30px 0px;
    background-size: 100%;
    margin-left: 30px;
  }
  #intro-home {
    height: 420px;
    background: url(../images/home-top-bg.jpg) no-repeat 51% 25%;
    background-size: 270%;
  }
  #intro-home.active h1 {
    font-size: 18vw;
    line-height: 14.8vw;
    top: 52%;
    left: 21.1%;
  }
  #intro-home.active h2 {
    font-size: 7vw;
    line-height: 9vw;
    max-width: 100%;
    top: 42%;
    left: 21.1%;
  }
  .expandible-content blockquote {
    font-size: 24px;
    line-height: 35px;
  }
  #worksCarousel .owl-stage-outer {
    overflow: visible;
  }
  #worksCarousel .owl-item .btn {
    position: absolute;
    bottom: -62px;
    left: 10%;
    opacity: 0;
    z-index: 2;
  }
  #worksCarousel .owl-item.active .btn {
    opacity: 1;
    left: 26%;
  }
  #worksCarousel .owl-controls .owl-nav > div.owl-prev {
    background-position: -680px -215px;
    position: absolute;
    left: 5px;
    top: 35%;
  }
  #worksCarousel .owl-controls .owl-nav > div.owl-next {
    background-position: -736px -215px;
    position: absolute;
    right: 5px;
    top: 35%;
  }
  #service-home h1 {
    margin-top: 110px;
    margin-bottom: 20px;
  }
  #service-home.active h1 {
    transform: translateX(33px);
  }
  #service-home #serviceCarousel {
    padding: 0 20px;
  }
  #serviceCarousel .owl-controls {
    position: absolute;
    right: 19px;
    width: 75px;
    bottom: 65px;
  }
  #serviceCarousel .owl-controls .owl-nav > div.owl-prev {
    left: 0;
    top: 40%;
  }
  #serviceCarousel .owl-controls .owl-nav > div.owl-next {
    right: 0;
    top: 40%;
  }
  #about-home {
    height: 320px;
    background: url(../images/about-us-home-bg.jpg) no-repeat 89% 0%;
    background-size: 170%;
  }
  #about-home h1 {
    max-width: 100%;
    left: 11.1%;
  }
  #about-home h2 {
    font-size: 4.8vw;
    line-height: 4vw;
    max-width: 80%;
  }
  #about-home.active h2 {
    left: 11.1%;
  }
  #about-home .btn {
    top: 79%;
  }
  #about-home.active .btn {
    top: 79%;
    left: 45.1%;
  }
  #contact-home {
    padding: 0 30px;
  }
  #contact-home h1 {
    font-size: 72px;
    line-height: 61px;
    margin: 100px 0 0 0;
  }
  #contact-home h2 {
    font-size: 18px;
    line-height: 20px;
    margin: 0 0 50px 0;
  }
  #contact-home #contactTabs {
    padding: 0 15px;
  }
  #contact-home #contactNav {
    margin: 0 0 30px 0;
  }
  #contact-home #contactNav span {
    font-size: 14px;
    line-height: 12px;
    width: 32.5%;
  }
  #contact-home #contactTabs .tab#seeMap {
    width: 100%;
    height: 320px;
  }
  #awardsCarousel {
    padding: 0 60px;
  }
  #intro-works {
    height: 420px;
    background: url(../images/works-top-bg.jpg) no-repeat 77% 0%;
    background-size: cover;
  }
  #intro-works.active h1 {
    font-size: 23vw;
    line-height: 18.8vw;
    top: 32%;
    left: 11.1%;
  }
  #intro-works.active h2 {
    font-size: 7vw;
    line-height: 9vw;
    max-width: 100%;
    top: 67%;
    left: 52.1%;
  }
  #qoute-work blockquote {
    font-size: 25px;
    line-height: 35px;
    padding: 80px 40px 20px 40px;
  }
  #gallery-work #worksFilter {
    max-width: 340px;
    padding: 40px 0 60px 0;
  }
  #gallery-work #worksFilter li {
    max-width: 65px;
  }
  #gallery-work #worksFilter li a {
    font-size: 14px;
    line-height: 15px;
  }
  #gallery-work #workGallery .picture-item {
    width: 49.32%;
  }
  #intro-services {
    height: 420px;
    background: url(../images/services-top-bg.jpg) no-repeat 77% 0%;
    background-size: cover;
  }
  #intro-services.active h1 {
    font-size: 23vw;
    line-height: 18.8vw;
    top: 32%;
    left: 11.1%;
    max-width: 100%;
  }
  #qoute-services blockquote {
    font-size: 25px;
    line-height: 35px;
    padding: 80px 40px 20px 40px;
  }
  #offering-services.active #serviceFilter {
    display: none;
  }
  #offering-services #offeringsCarousel {
    transform: translateY(40%);
  }
  #offering-services #offeringsCarousel .owl-item .item img {
    width: 100%;
    max-width: 340px;
  }
  #offering-services #offeringsCarousel .owl-item.active .item .profile-info {
    left: 0;
    top: -33px;
    padding: 0 30px;
  }
  #offering-services #offeringsCarousel .owl-item.active .item .profile-info {
    left: 0;
    padding: 0 30px;
  }
  #offering-services #offeringsCarousel .owl-item .item .profile-info h1 {
    left: 0;
    font-size: 48px;
    line-height: 49px;
    max-width: 240px;
    color: #ffffff;
  }
  #offering-services #offeringsCarousel .owl-item.active .item .profile-info h1 {
    font-size: 48px;
    line-height: 38px;
    color: #ffffff;
  }
  #offering-services #offeringsCarousel .owl-item .item .profile-info p {
    margin-top: 35px;
    font-size: 14px;
    line-height: 23px;
  }
  #offering-services #offeringsCarousel .owl-controls {
    position: absolute;
    width: 95px;
    top: 580px;
    right: 0%;
  }
}
