/*!
 * Bootstrap Grid v4.1.3 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
@-ms-viewport {
  width: device-width;
}
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}
*,
::after,
::before {
  box-sizing: inherit;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}
.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}
.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}
.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}
.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.order-first {
  -ms-flex-order: -1;
  order: -1;
}
.order-last {
  -ms-flex-order: 13;
  order: 13;
}
.order-0 {
  -ms-flex-order: 0;
  order: 0;
}
.order-1 {
  -ms-flex-order: 1;
  order: 1;
}
.order-2 {
  -ms-flex-order: 2;
  order: 2;
}
.order-3 {
  -ms-flex-order: 3;
  order: 3;
}
.order-4 {
  -ms-flex-order: 4;
  order: 4;
}
.order-5 {
  -ms-flex-order: 5;
  order: 5;
}
.order-6 {
  -ms-flex-order: 6;
  order: 6;
}
.order-7 {
  -ms-flex-order: 7;
  order: 7;
}
.order-8 {
  -ms-flex-order: 8;
  order: 8;
}
.order-9 {
  -ms-flex-order: 9;
  order: 9;
}
.order-10 {
  -ms-flex-order: 10;
  order: 10;
}
.order-11 {
  -ms-flex-order: 11;
  order: 11;
}
.order-12 {
  -ms-flex-order: 12;
  order: 12;
}
.offset-1 {
  margin-left: 8.333333%;
}
.offset-2 {
  margin-left: 16.666667%;
}
.offset-3 {
  margin-left: 25%;
}
.offset-4 {
  margin-left: 33.333333%;
}
.offset-5 {
  margin-left: 41.666667%;
}
.offset-6 {
  margin-left: 50%;
}
.offset-7 {
  margin-left: 58.333333%;
}
.offset-8 {
  margin-left: 66.666667%;
}
.offset-9 {
  margin-left: 75%;
}
.offset-10 {
  margin-left: 83.333333%;
}
.offset-11 {
  margin-left: 91.666667%;
}
@media (min-width: 576px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-sm-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-sm-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-sm-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-sm-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .order-sm-last {
    -ms-flex-order: 13;
    order: 13;
  }
  .order-sm-0 {
    -ms-flex-order: 0;
    order: 0;
  }
  .order-sm-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .order-sm-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .order-sm-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .order-sm-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .order-sm-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .order-sm-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .order-sm-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .order-sm-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .order-sm-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .order-sm-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .order-sm-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .order-sm-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.333333%;
  }
  .offset-sm-2 {
    margin-left: 16.666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.333333%;
  }
  .offset-sm-5 {
    margin-left: 41.666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.333333%;
  }
  .offset-sm-8 {
    margin-left: 66.666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.333333%;
  }
  .offset-sm-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-md-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-md-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .order-md-last {
    -ms-flex-order: 13;
    order: 13;
  }
  .order-md-0 {
    -ms-flex-order: 0;
    order: 0;
  }
  .order-md-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .order-md-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .order-md-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .order-md-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .order-md-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .order-md-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .order-md-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .order-md-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .order-md-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .order-md-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .order-md-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .order-md-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.333333%;
  }
  .offset-md-2 {
    margin-left: 16.666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.333333%;
  }
  .offset-md-5 {
    margin-left: 41.666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.333333%;
  }
  .offset-md-8 {
    margin-left: 66.666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.333333%;
  }
  .offset-md-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 992px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-lg-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-lg-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-lg-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-lg-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .order-lg-last {
    -ms-flex-order: 13;
    order: 13;
  }
  .order-lg-0 {
    -ms-flex-order: 0;
    order: 0;
  }
  .order-lg-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .order-lg-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .order-lg-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .order-lg-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .order-lg-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .order-lg-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .order-lg-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .order-lg-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .order-lg-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .order-lg-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .order-lg-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .order-lg-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.333333%;
  }
  .offset-lg-2 {
    margin-left: 16.666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.333333%;
  }
  .offset-lg-5 {
    margin-left: 41.666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.333333%;
  }
  .offset-lg-8 {
    margin-left: 66.666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.333333%;
  }
  .offset-lg-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 1200px) {
  .col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-xl-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-xl-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-xl-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-xl-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-xl-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-xl-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-xl-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-xl-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-xl-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .order-xl-last {
    -ms-flex-order: 13;
    order: 13;
  }
  .order-xl-0 {
    -ms-flex-order: 0;
    order: 0;
  }
  .order-xl-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .order-xl-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .order-xl-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .order-xl-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .order-xl-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .order-xl-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .order-xl-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .order-xl-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .order-xl-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .order-xl-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .order-xl-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .order-xl-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.333333%;
  }
  .offset-xl-2 {
    margin-left: 16.666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.333333%;
  }
  .offset-xl-5 {
    margin-left: 41.666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.333333%;
  }
  .offset-xl-8 {
    margin-left: 66.666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.333333%;
  }
  .offset-xl-11 {
    margin-left: 91.666667%;
  }
}
.d-none {
  display: none !important;
}
.d-inline {
  display: inline !important;
}
.d-inline-block {
  display: inline-block !important;
}
.d-block {
  display: block !important;
}
.d-table {
  display: table !important;
}
.d-table-row {
  display: table-row !important;
}
.d-table-cell {
  display: table-cell !important;
}
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
.d-inline-flex {
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}
@media (min-width: 576px) {
  .d-sm-none {
    display: none !important;
  }
  .d-sm-inline {
    display: inline !important;
  }
  .d-sm-inline-block {
    display: inline-block !important;
  }
  .d-sm-block {
    display: block !important;
  }
  .d-sm-table {
    display: table !important;
  }
  .d-sm-table-row {
    display: table-row !important;
  }
  .d-sm-table-cell {
    display: table-cell !important;
  }
  .d-sm-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-sm-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}
@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }
  .d-md-inline {
    display: inline !important;
  }
  .d-md-inline-block {
    display: inline-block !important;
  }
  .d-md-block {
    display: block !important;
  }
  .d-md-table {
    display: table !important;
  }
  .d-md-table-row {
    display: table-row !important;
  }
  .d-md-table-cell {
    display: table-cell !important;
  }
  .d-md-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-md-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}
@media (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }
  .d-lg-inline {
    display: inline !important;
  }
  .d-lg-inline-block {
    display: inline-block !important;
  }
  .d-lg-block {
    display: block !important;
  }
  .d-lg-table {
    display: table !important;
  }
  .d-lg-table-row {
    display: table-row !important;
  }
  .d-lg-table-cell {
    display: table-cell !important;
  }
  .d-lg-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-lg-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}
@media (min-width: 1200px) {
  .d-xl-none {
    display: none !important;
  }
  .d-xl-inline {
    display: inline !important;
  }
  .d-xl-inline-block {
    display: inline-block !important;
  }
  .d-xl-block {
    display: block !important;
  }
  .d-xl-table {
    display: table !important;
  }
  .d-xl-table-row {
    display: table-row !important;
  }
  .d-xl-table-cell {
    display: table-cell !important;
  }
  .d-xl-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-xl-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}
@media print {
  .d-print-none {
    display: none !important;
  }
  .d-print-inline {
    display: inline !important;
  }
  .d-print-inline-block {
    display: inline-block !important;
  }
  .d-print-block {
    display: block !important;
  }
  .d-print-table {
    display: table !important;
  }
  .d-print-table-row {
    display: table-row !important;
  }
  .d-print-table-cell {
    display: table-cell !important;
  }
  .d-print-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-print-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}
.flex-row {
  -ms-flex-direction: row!important;
  flex-direction: row !important;
}
.flex-column {
  -ms-flex-direction: column!important;
  flex-direction: column !important;
}
.flex-row-reverse {
  -ms-flex-direction: row-reverse !important;
  flex-direction: row-reverse !important;
}
.flex-column-reverse {
  -ms-flex-direction: column-reverse !important;
  flex-direction: column-reverse !important;
}
.flex-wrap {
  -ms-flex-wrap: wrap!important;
  flex-wrap: wrap !important;
}
.flex-nowrap {
  -ms-flex-wrap: nowrap!important;
  flex-wrap: nowrap !important;
}
.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse !important;
  flex-wrap: wrap-reverse !important;
}
.flex-fill {
  -ms-flex: 1 1 auto!important;
  flex: 1 1 auto !important;
}
.flex-grow-0 {
  -ms-flex-positive: 0!important;
  flex-grow: 0 !important;
}
.flex-grow-1 {
  -ms-flex-positive: 1!important;
  flex-grow: 1 !important;
}
.flex-shrink-0 {
  -ms-flex-negative: 0!important;
  flex-shrink: 0 !important;
}
.flex-shrink-1 {
  -ms-flex-negative: 1!important;
  flex-shrink: 1 !important;
}
.justify-content-start {
  -ms-flex-pack: start!important;
  justify-content: flex-start !important;
}
.justify-content-end {
  -ms-flex-pack: end!important;
  justify-content: flex-end !important;
}
.justify-content-center {
  -ms-flex-pack: center!important;
  justify-content: center !important;
}
.justify-content-between {
  -ms-flex-pack: justify!important;
  justify-content: space-between !important;
}
.justify-content-around {
  -ms-flex-pack: distribute!important;
  justify-content: space-around !important;
}
.align-items-start {
  -ms-flex-align: start!important;
  align-items: flex-start !important;
}
.align-items-end {
  -ms-flex-align: end!important;
  align-items: flex-end !important;
}
.align-items-center {
  -ms-flex-align: center!important;
  align-items: center !important;
}
.align-items-baseline {
  -ms-flex-align: baseline!important;
  align-items: baseline !important;
}
.align-items-stretch {
  -ms-flex-align: stretch!important;
  align-items: stretch !important;
}
.align-content-start {
  -ms-flex-line-pack: start!important;
  align-content: flex-start !important;
}
.align-content-end {
  -ms-flex-line-pack: end!important;
  align-content: flex-end !important;
}
.align-content-center {
  -ms-flex-line-pack: center!important;
  align-content: center !important;
}
.align-content-between {
  -ms-flex-line-pack: justify!important;
  align-content: space-between !important;
}
.align-content-around {
  -ms-flex-line-pack: distribute!important;
  align-content: space-around !important;
}
.align-content-stretch {
  -ms-flex-line-pack: stretch!important;
  align-content: stretch !important;
}
.align-self-auto {
  -ms-flex-item-align: auto!important;
  align-self: auto !important;
}
.align-self-start {
  -ms-flex-item-align: start!important;
  align-self: flex-start !important;
}
.align-self-end {
  -ms-flex-item-align: end!important;
  align-self: flex-end !important;
}
.align-self-center {
  -ms-flex-item-align: center!important;
  align-self: center !important;
}
.align-self-baseline {
  -ms-flex-item-align: baseline!important;
  align-self: baseline !important;
}
.align-self-stretch {
  -ms-flex-item-align: stretch!important;
  align-self: stretch !important;
}
@media (min-width: 576px) {
  .flex-sm-row {
    -ms-flex-direction: row!important;
    flex-direction: row !important;
  }
  .flex-sm-column {
    -ms-flex-direction: column!important;
    flex-direction: column !important;
  }
  .flex-sm-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
  }
  .flex-sm-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
  }
  .flex-sm-wrap {
    -ms-flex-wrap: wrap!important;
    flex-wrap: wrap !important;
  }
  .flex-sm-nowrap {
    -ms-flex-wrap: nowrap!important;
    flex-wrap: nowrap !important;
  }
  .flex-sm-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
  }
  .flex-sm-fill {
    -ms-flex: 1 1 auto!important;
    flex: 1 1 auto !important;
  }
  .flex-sm-grow-0 {
    -ms-flex-positive: 0!important;
    flex-grow: 0 !important;
  }
  .flex-sm-grow-1 {
    -ms-flex-positive: 1!important;
    flex-grow: 1 !important;
  }
  .flex-sm-shrink-0 {
    -ms-flex-negative: 0!important;
    flex-shrink: 0 !important;
  }
  .flex-sm-shrink-1 {
    -ms-flex-negative: 1!important;
    flex-shrink: 1 !important;
  }
  .justify-content-sm-start {
    -ms-flex-pack: start!important;
    justify-content: flex-start !important;
  }
  .justify-content-sm-end {
    -ms-flex-pack: end!important;
    justify-content: flex-end !important;
  }
  .justify-content-sm-center {
    -ms-flex-pack: center!important;
    justify-content: center !important;
  }
  .justify-content-sm-between {
    -ms-flex-pack: justify!important;
    justify-content: space-between !important;
  }
  .justify-content-sm-around {
    -ms-flex-pack: distribute!important;
    justify-content: space-around !important;
  }
  .align-items-sm-start {
    -ms-flex-align: start!important;
    align-items: flex-start !important;
  }
  .align-items-sm-end {
    -ms-flex-align: end!important;
    align-items: flex-end !important;
  }
  .align-items-sm-center {
    -ms-flex-align: center!important;
    align-items: center !important;
  }
  .align-items-sm-baseline {
    -ms-flex-align: baseline!important;
    align-items: baseline !important;
  }
  .align-items-sm-stretch {
    -ms-flex-align: stretch!important;
    align-items: stretch !important;
  }
  .align-content-sm-start {
    -ms-flex-line-pack: start!important;
    align-content: flex-start !important;
  }
  .align-content-sm-end {
    -ms-flex-line-pack: end!important;
    align-content: flex-end !important;
  }
  .align-content-sm-center {
    -ms-flex-line-pack: center!important;
    align-content: center !important;
  }
  .align-content-sm-between {
    -ms-flex-line-pack: justify!important;
    align-content: space-between !important;
  }
  .align-content-sm-around {
    -ms-flex-line-pack: distribute!important;
    align-content: space-around !important;
  }
  .align-content-sm-stretch {
    -ms-flex-line-pack: stretch!important;
    align-content: stretch !important;
  }
  .align-self-sm-auto {
    -ms-flex-item-align: auto!important;
    align-self: auto !important;
  }
  .align-self-sm-start {
    -ms-flex-item-align: start!important;
    align-self: flex-start !important;
  }
  .align-self-sm-end {
    -ms-flex-item-align: end!important;
    align-self: flex-end !important;
  }
  .align-self-sm-center {
    -ms-flex-item-align: center!important;
    align-self: center !important;
  }
  .align-self-sm-baseline {
    -ms-flex-item-align: baseline!important;
    align-self: baseline !important;
  }
  .align-self-sm-stretch {
    -ms-flex-item-align: stretch!important;
    align-self: stretch !important;
  }
}
@media (min-width: 768px) {
  .flex-md-row {
    -ms-flex-direction: row!important;
    flex-direction: row !important;
  }
  .flex-md-column {
    -ms-flex-direction: column!important;
    flex-direction: column !important;
  }
  .flex-md-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
  }
  .flex-md-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
  }
  .flex-md-wrap {
    -ms-flex-wrap: wrap!important;
    flex-wrap: wrap !important;
  }
  .flex-md-nowrap {
    -ms-flex-wrap: nowrap!important;
    flex-wrap: nowrap !important;
  }
  .flex-md-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
  }
  .flex-md-fill {
    -ms-flex: 1 1 auto!important;
    flex: 1 1 auto !important;
  }
  .flex-md-grow-0 {
    -ms-flex-positive: 0!important;
    flex-grow: 0 !important;
  }
  .flex-md-grow-1 {
    -ms-flex-positive: 1!important;
    flex-grow: 1 !important;
  }
  .flex-md-shrink-0 {
    -ms-flex-negative: 0!important;
    flex-shrink: 0 !important;
  }
  .flex-md-shrink-1 {
    -ms-flex-negative: 1!important;
    flex-shrink: 1 !important;
  }
  .justify-content-md-start {
    -ms-flex-pack: start!important;
    justify-content: flex-start !important;
  }
  .justify-content-md-end {
    -ms-flex-pack: end!important;
    justify-content: flex-end !important;
  }
  .justify-content-md-center {
    -ms-flex-pack: center!important;
    justify-content: center !important;
  }
  .justify-content-md-between {
    -ms-flex-pack: justify!important;
    justify-content: space-between !important;
  }
  .justify-content-md-around {
    -ms-flex-pack: distribute!important;
    justify-content: space-around !important;
  }
  .align-items-md-start {
    -ms-flex-align: start!important;
    align-items: flex-start !important;
  }
  .align-items-md-end {
    -ms-flex-align: end!important;
    align-items: flex-end !important;
  }
  .align-items-md-center {
    -ms-flex-align: center!important;
    align-items: center !important;
  }
  .align-items-md-baseline {
    -ms-flex-align: baseline!important;
    align-items: baseline !important;
  }
  .align-items-md-stretch {
    -ms-flex-align: stretch!important;
    align-items: stretch !important;
  }
  .align-content-md-start {
    -ms-flex-line-pack: start!important;
    align-content: flex-start !important;
  }
  .align-content-md-end {
    -ms-flex-line-pack: end!important;
    align-content: flex-end !important;
  }
  .align-content-md-center {
    -ms-flex-line-pack: center!important;
    align-content: center !important;
  }
  .align-content-md-between {
    -ms-flex-line-pack: justify!important;
    align-content: space-between !important;
  }
  .align-content-md-around {
    -ms-flex-line-pack: distribute!important;
    align-content: space-around !important;
  }
  .align-content-md-stretch {
    -ms-flex-line-pack: stretch!important;
    align-content: stretch !important;
  }
  .align-self-md-auto {
    -ms-flex-item-align: auto!important;
    align-self: auto !important;
  }
  .align-self-md-start {
    -ms-flex-item-align: start!important;
    align-self: flex-start !important;
  }
  .align-self-md-end {
    -ms-flex-item-align: end!important;
    align-self: flex-end !important;
  }
  .align-self-md-center {
    -ms-flex-item-align: center!important;
    align-self: center !important;
  }
  .align-self-md-baseline {
    -ms-flex-item-align: baseline!important;
    align-self: baseline !important;
  }
  .align-self-md-stretch {
    -ms-flex-item-align: stretch!important;
    align-self: stretch !important;
  }
}
@media (min-width: 992px) {
  .flex-lg-row {
    -ms-flex-direction: row!important;
    flex-direction: row !important;
  }
  .flex-lg-column {
    -ms-flex-direction: column!important;
    flex-direction: column !important;
  }
  .flex-lg-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
  }
  .flex-lg-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
  }
  .flex-lg-wrap {
    -ms-flex-wrap: wrap!important;
    flex-wrap: wrap !important;
  }
  .flex-lg-nowrap {
    -ms-flex-wrap: nowrap!important;
    flex-wrap: nowrap !important;
  }
  .flex-lg-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
  }
  .flex-lg-fill {
    -ms-flex: 1 1 auto!important;
    flex: 1 1 auto !important;
  }
  .flex-lg-grow-0 {
    -ms-flex-positive: 0!important;
    flex-grow: 0 !important;
  }
  .flex-lg-grow-1 {
    -ms-flex-positive: 1!important;
    flex-grow: 1 !important;
  }
  .flex-lg-shrink-0 {
    -ms-flex-negative: 0!important;
    flex-shrink: 0 !important;
  }
  .flex-lg-shrink-1 {
    -ms-flex-negative: 1!important;
    flex-shrink: 1 !important;
  }
  .justify-content-lg-start {
    -ms-flex-pack: start!important;
    justify-content: flex-start !important;
  }
  .justify-content-lg-end {
    -ms-flex-pack: end!important;
    justify-content: flex-end !important;
  }
  .justify-content-lg-center {
    -ms-flex-pack: center!important;
    justify-content: center !important;
  }
  .justify-content-lg-between {
    -ms-flex-pack: justify!important;
    justify-content: space-between !important;
  }
  .justify-content-lg-around {
    -ms-flex-pack: distribute!important;
    justify-content: space-around !important;
  }
  .align-items-lg-start {
    -ms-flex-align: start!important;
    align-items: flex-start !important;
  }
  .align-items-lg-end {
    -ms-flex-align: end!important;
    align-items: flex-end !important;
  }
  .align-items-lg-center {
    -ms-flex-align: center!important;
    align-items: center !important;
  }
  .align-items-lg-baseline {
    -ms-flex-align: baseline!important;
    align-items: baseline !important;
  }
  .align-items-lg-stretch {
    -ms-flex-align: stretch!important;
    align-items: stretch !important;
  }
  .align-content-lg-start {
    -ms-flex-line-pack: start!important;
    align-content: flex-start !important;
  }
  .align-content-lg-end {
    -ms-flex-line-pack: end!important;
    align-content: flex-end !important;
  }
  .align-content-lg-center {
    -ms-flex-line-pack: center!important;
    align-content: center !important;
  }
  .align-content-lg-between {
    -ms-flex-line-pack: justify!important;
    align-content: space-between !important;
  }
  .align-content-lg-around {
    -ms-flex-line-pack: distribute!important;
    align-content: space-around !important;
  }
  .align-content-lg-stretch {
    -ms-flex-line-pack: stretch!important;
    align-content: stretch !important;
  }
  .align-self-lg-auto {
    -ms-flex-item-align: auto!important;
    align-self: auto !important;
  }
  .align-self-lg-start {
    -ms-flex-item-align: start!important;
    align-self: flex-start !important;
  }
  .align-self-lg-end {
    -ms-flex-item-align: end!important;
    align-self: flex-end !important;
  }
  .align-self-lg-center {
    -ms-flex-item-align: center!important;
    align-self: center !important;
  }
  .align-self-lg-baseline {
    -ms-flex-item-align: baseline!important;
    align-self: baseline !important;
  }
  .align-self-lg-stretch {
    -ms-flex-item-align: stretch!important;
    align-self: stretch !important;
  }
}
@media (min-width: 1200px) {
  .flex-xl-row {
    -ms-flex-direction: row!important;
    flex-direction: row !important;
  }
  .flex-xl-column {
    -ms-flex-direction: column!important;
    flex-direction: column !important;
  }
  .flex-xl-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
  }
  .flex-xl-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
  }
  .flex-xl-wrap {
    -ms-flex-wrap: wrap!important;
    flex-wrap: wrap !important;
  }
  .flex-xl-nowrap {
    -ms-flex-wrap: nowrap!important;
    flex-wrap: nowrap !important;
  }
  .flex-xl-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
  }
  .flex-xl-fill {
    -ms-flex: 1 1 auto!important;
    flex: 1 1 auto !important;
  }
  .flex-xl-grow-0 {
    -ms-flex-positive: 0!important;
    flex-grow: 0 !important;
  }
  .flex-xl-grow-1 {
    -ms-flex-positive: 1!important;
    flex-grow: 1 !important;
  }
  .flex-xl-shrink-0 {
    -ms-flex-negative: 0!important;
    flex-shrink: 0 !important;
  }
  .flex-xl-shrink-1 {
    -ms-flex-negative: 1!important;
    flex-shrink: 1 !important;
  }
  .justify-content-xl-start {
    -ms-flex-pack: start!important;
    justify-content: flex-start !important;
  }
  .justify-content-xl-end {
    -ms-flex-pack: end!important;
    justify-content: flex-end !important;
  }
  .justify-content-xl-center {
    -ms-flex-pack: center!important;
    justify-content: center !important;
  }
  .justify-content-xl-between {
    -ms-flex-pack: justify!important;
    justify-content: space-between !important;
  }
  .justify-content-xl-around {
    -ms-flex-pack: distribute!important;
    justify-content: space-around !important;
  }
  .align-items-xl-start {
    -ms-flex-align: start!important;
    align-items: flex-start !important;
  }
  .align-items-xl-end {
    -ms-flex-align: end!important;
    align-items: flex-end !important;
  }
  .align-items-xl-center {
    -ms-flex-align: center!important;
    align-items: center !important;
  }
  .align-items-xl-baseline {
    -ms-flex-align: baseline!important;
    align-items: baseline !important;
  }
  .align-items-xl-stretch {
    -ms-flex-align: stretch!important;
    align-items: stretch !important;
  }
  .align-content-xl-start {
    -ms-flex-line-pack: start!important;
    align-content: flex-start !important;
  }
  .align-content-xl-end {
    -ms-flex-line-pack: end!important;
    align-content: flex-end !important;
  }
  .align-content-xl-center {
    -ms-flex-line-pack: center!important;
    align-content: center !important;
  }
  .align-content-xl-between {
    -ms-flex-line-pack: justify!important;
    align-content: space-between !important;
  }
  .align-content-xl-around {
    -ms-flex-line-pack: distribute!important;
    align-content: space-around !important;
  }
  .align-content-xl-stretch {
    -ms-flex-line-pack: stretch!important;
    align-content: stretch !important;
  }
  .align-self-xl-auto {
    -ms-flex-item-align: auto!important;
    align-self: auto !important;
  }
  .align-self-xl-start {
    -ms-flex-item-align: start!important;
    align-self: flex-start !important;
  }
  .align-self-xl-end {
    -ms-flex-item-align: end!important;
    align-self: flex-end !important;
  }
  .align-self-xl-center {
    -ms-flex-item-align: center!important;
    align-self: center !important;
  }
  .align-self-xl-baseline {
    -ms-flex-item-align: baseline!important;
    align-self: baseline !important;
  }
  .align-self-xl-stretch {
    -ms-flex-item-align: stretch!important;
    align-self: stretch !important;
  }
}
/*# sourceMappingURL=bootstrap-grid.min.css.map */
html {
  position: relative;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: Times, serif;
  width: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important;
}
a {
  text-decoration: none;
  border: 0;
  border: none;
  outline: 0 !important;
  -webkit-font-smoothing: antialiased !important;
}
a img {
  border: 0;
  border: none;
}
@-webkit-keyframes loader-anim {
  0% {
    transform: scale(0.8) rotate(0deg);
    -khtml-transform: scale(0.8) rotate(0deg);
    -moz-transform: scale(0.8) rotate(0deg);
    -ms-transform: scale(0.8) rotate(0deg);
    -webkit-transform: scale(0.8) rotate(0deg);
  }
  30% {
    transform: scale(0.9) rotate(-360deg);
    -khtml-transform: scale(0.9) rotate(-360deg);
    -moz-transform: scale(0.9) rotate(-360deg);
    -ms-transform: scale(0.9) rotate(-360deg);
    -webkit-transform: scale(0.9) rotate(-360deg);
  }
  60% {
    transform: scale(0.8) rotate(0deg);
    -khtml-transform: scale(0.8) rotate(0deg);
    -moz-transform: scale(0.8) rotate(0deg);
    -ms-transform: scale(0.8) rotate(0deg);
    -webkit-transform: scale(0.8) rotate(0deg);
  }
  60% {
    transform: scale(1) rotate(-360deg);
    -khtml-transform: scale(1) rotate(-360deg);
    -moz-transform: scale(1) rotate(-360deg);
    -ms-transform: scale(1) rotate(-360deg);
    -webkit-transform: scale(1) rotate(-360deg);
  }
  100% {
    transform: scale(0.9) rotate(-30deg);
    -khtml-transform: scale(0.9) rotate(-30deg);
    -moz-transform: scale(0.9) rotate(-30deg);
    -ms-transform: scale(0.9) rotate(-30deg);
    -webkit-transform: scale(0.9) rotate(-30deg);
  }
}
@-moz-keyframes loader-anim {
  0% {
    transform: scale(0.8) rotate(0deg);
    -khtml-transform: scale(0.8) rotate(0deg);
    -moz-transform: scale(0.8) rotate(0deg);
    -ms-transform: scale(0.8) rotate(0deg);
    -webkit-transform: scale(0.8) rotate(0deg);
  }
  30% {
    transform: scale(0.9) rotate(-360deg);
    -khtml-transform: scale(0.9) rotate(-360deg);
    -moz-transform: scale(0.9) rotate(-360deg);
    -ms-transform: scale(0.9) rotate(-360deg);
    -webkit-transform: scale(0.9) rotate(-360deg);
  }
  60% {
    transform: scale(0.8) rotate(0deg);
    -khtml-transform: scale(0.8) rotate(0deg);
    -moz-transform: scale(0.8) rotate(0deg);
    -ms-transform: scale(0.8) rotate(0deg);
    -webkit-transform: scale(0.8) rotate(0deg);
  }
  60% {
    transform: scale(1) rotate(-360deg);
    -khtml-transform: scale(1) rotate(-360deg);
    -moz-transform: scale(1) rotate(-360deg);
    -ms-transform: scale(1) rotate(-360deg);
    -webkit-transform: scale(1) rotate(-360deg);
  }
  100% {
    transform: scale(0.9) rotate(-30deg);
    -khtml-transform: scale(0.9) rotate(-30deg);
    -moz-transform: scale(0.9) rotate(-30deg);
    -ms-transform: scale(0.9) rotate(-30deg);
    -webkit-transform: scale(0.9) rotate(-30deg);
  }
}
@-ms-keyframes loader-anim {
  0% {
    transform: scale(0.8) rotate(0deg);
    -khtml-transform: scale(0.8) rotate(0deg);
    -moz-transform: scale(0.8) rotate(0deg);
    -ms-transform: scale(0.8) rotate(0deg);
    -webkit-transform: scale(0.8) rotate(0deg);
  }
  30% {
    transform: scale(0.9) rotate(-360deg);
    -khtml-transform: scale(0.9) rotate(-360deg);
    -moz-transform: scale(0.9) rotate(-360deg);
    -ms-transform: scale(0.9) rotate(-360deg);
    -webkit-transform: scale(0.9) rotate(-360deg);
  }
  60% {
    transform: scale(0.8) rotate(0deg);
    -khtml-transform: scale(0.8) rotate(0deg);
    -moz-transform: scale(0.8) rotate(0deg);
    -ms-transform: scale(0.8) rotate(0deg);
    -webkit-transform: scale(0.8) rotate(0deg);
  }
  60% {
    transform: scale(1) rotate(-360deg);
    -khtml-transform: scale(1) rotate(-360deg);
    -moz-transform: scale(1) rotate(-360deg);
    -ms-transform: scale(1) rotate(-360deg);
    -webkit-transform: scale(1) rotate(-360deg);
  }
  100% {
    transform: scale(0.9) rotate(-30deg);
    -khtml-transform: scale(0.9) rotate(-30deg);
    -moz-transform: scale(0.9) rotate(-30deg);
    -ms-transform: scale(0.9) rotate(-30deg);
    -webkit-transform: scale(0.9) rotate(-30deg);
  }
}
@-khtml-keyframes loader-anim {
  0% {
    transform: scale(0.8) rotate(0deg);
    -khtml-transform: scale(0.8) rotate(0deg);
    -moz-transform: scale(0.8) rotate(0deg);
    -ms-transform: scale(0.8) rotate(0deg);
    -webkit-transform: scale(0.8) rotate(0deg);
  }
  30% {
    transform: scale(0.9) rotate(-360deg);
    -khtml-transform: scale(0.9) rotate(-360deg);
    -moz-transform: scale(0.9) rotate(-360deg);
    -ms-transform: scale(0.9) rotate(-360deg);
    -webkit-transform: scale(0.9) rotate(-360deg);
  }
  60% {
    transform: scale(0.8) rotate(0deg);
    -khtml-transform: scale(0.8) rotate(0deg);
    -moz-transform: scale(0.8) rotate(0deg);
    -ms-transform: scale(0.8) rotate(0deg);
    -webkit-transform: scale(0.8) rotate(0deg);
  }
  60% {
    transform: scale(1) rotate(-360deg);
    -khtml-transform: scale(1) rotate(-360deg);
    -moz-transform: scale(1) rotate(-360deg);
    -ms-transform: scale(1) rotate(-360deg);
    -webkit-transform: scale(1) rotate(-360deg);
  }
  100% {
    transform: scale(0.9) rotate(-30deg);
    -khtml-transform: scale(0.9) rotate(-30deg);
    -moz-transform: scale(0.9) rotate(-30deg);
    -ms-transform: scale(0.9) rotate(-30deg);
    -webkit-transform: scale(0.9) rotate(-30deg);
  }
}
@-o-keyframes loader-anim {
  0% {
    transform: scale(0.8) rotate(0deg);
    -khtml-transform: scale(0.8) rotate(0deg);
    -moz-transform: scale(0.8) rotate(0deg);
    -ms-transform: scale(0.8) rotate(0deg);
    -webkit-transform: scale(0.8) rotate(0deg);
  }
  30% {
    transform: scale(0.9) rotate(-360deg);
    -khtml-transform: scale(0.9) rotate(-360deg);
    -moz-transform: scale(0.9) rotate(-360deg);
    -ms-transform: scale(0.9) rotate(-360deg);
    -webkit-transform: scale(0.9) rotate(-360deg);
  }
  60% {
    transform: scale(0.8) rotate(0deg);
    -khtml-transform: scale(0.8) rotate(0deg);
    -moz-transform: scale(0.8) rotate(0deg);
    -ms-transform: scale(0.8) rotate(0deg);
    -webkit-transform: scale(0.8) rotate(0deg);
  }
  60% {
    transform: scale(1) rotate(-360deg);
    -khtml-transform: scale(1) rotate(-360deg);
    -moz-transform: scale(1) rotate(-360deg);
    -ms-transform: scale(1) rotate(-360deg);
    -webkit-transform: scale(1) rotate(-360deg);
  }
  100% {
    transform: scale(0.9) rotate(-30deg);
    -khtml-transform: scale(0.9) rotate(-30deg);
    -moz-transform: scale(0.9) rotate(-30deg);
    -ms-transform: scale(0.9) rotate(-30deg);
    -webkit-transform: scale(0.9) rotate(-30deg);
  }
}
@keyframes loading-anim {
  0% {
    transform: translate(0, 0);
    width: 0;
  }
  100% {
    transform: translate(300%, 0);
    width: 45%;
  }
}
.page-loader {
  position: fixed;
  z-index: 19;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #f5bac5;
  display: block;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.4s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.4s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.4s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.4s;
}
.page-loader .fa {
  font-size: 2.5rem;
}
.page-loader .logo {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 10vw;
  margin-top: 20vw;
}
.page-loader .loader-bar {
  width: 100%;
  height: 8px;
  margin: 0 auto;
  overflow: hidden;
  z-index: 9;
  position: absolute;
  bottom: 0;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.4s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.4s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.4s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.4s;
}
.page-loader .loader-bar:after {
  content: '';
  background: linear-gradient(45deg, #f5bac5, #eb3f43, #f5bac5);
  position: absolute;
  width: 20%;
  height: 100%;
  left: 0;
  top: 0px;
  -webkit-animation: loading-anim 3s infinite forwards;
  -khtml-animation: loading-anim 3s infinite forwards;
  -moz-animation: loading-anim 3s infinite forwards;
  -ms-animation: loading-anim 3s infinite forwards;
  -o-animation: loading-anim 3s infinite forwards;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
}
.page-loader .loader-bar:before {
  content: '';
  background: linear-gradient(45deg, #f5bac5, #eb3f43, #f5bac5);
  position: absolute;
  width: 20%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-animation: loading-anim 3s infinite reverse;
  -khtml-animation: loading-anim 3s infinite reverse;
  -moz-animation: loading-anim 3s infinite reverse;
  -ms-animation: loading-anim 3s infinite reverse;
  -o-animation: loading-anim 3s infinite reverse;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
}
.page-loader.visible {
  opacity: 1;
}
.page-loader.hidden {
  opacity: 0;
}
.page-loader.hidden .loader-bar {
  height: 0;
}
::-webkit-scrollbar {
  width: 5px;
}
::-khtml-scrollbar {
  width: 5px;
}
::-moz-scrollbar {
  width: 5px;
}
::-ms-scrollbar {
  width: 5px;
}
::-o-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 26px rgba(0, 0, 0, 0.3);
}
::-khtml-scrollbar-track {
  -webkit-box-shadow: inset 0 0 26px rgba(0, 0, 0, 0.3);
}
::-moz-scrollbar-track {
  -webkit-box-shadow: inset 0 0 26px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 76px #eb3f43;
}
::-khtml-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 76px #eb3f43;
}
::-moz-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 76px #eb3f43;
}
.onlymobile {
  display: none;
}
.container {
  position: relative;
  background: #ffffff;
}
.container.dark-bg {
  background: #eb3f43;
  color: #ffffff;
}
.container-fluid.dark-bg {
  background: #eb3f43;
  color: #ffffff;
}
#top-nav {
  height: 85px;
  width: 100%;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
}
#top-nav .nav-box {
  width: 100%;
  position: relative;
  padding: 4vw 0 0 0;
  margin: 0 auto;
  overflow: hidden;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
}
#top-nav a {
  margin: 0 auto;
  max-width: 300px;
  display: block;
  position: relative;
}
#top-nav a:after {
  content: '';
  background: #eb3f43;
  height: 2px;
  width: 60%;
  position: relative;
  top: 0;
  display: block;
  margin: 0 auto;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.8s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.8s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.8s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.8s;
}
#top-nav .logo {
  display: block;
  width: 300px;
  height: 60px;
  margin: 0 auto;
  will-change: transform;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -webkit-transform: scale(1);
  -khtml-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  position: relative;
}
#top-nav .mobile-nav-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  z-index: 9;
  top: 66px;
  right: 12vw;
  cursor: pointer;
  *cursor: hand;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
}
#top-nav .mobile-nav-btn span {
  background: #ffffff;
  display: block;
  width: 100%;
  height: 4px;
  margin-bottom: 4px;
  position: relative;
  will-change: transform;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
}
#top-nav .mobile-nav-btn.active .shape1 {
  -webkit-transform: rotate(-45deg) translateX(-9px) translateY(3px);
  -khtml-transform: rotate(-45deg) translateX(-9px) translateY(3px);
  -moz-transform: rotate(-45deg) translateX(-9px) translateY(3px);
  -ms-transform: rotate(-45deg) translateX(-9px) translateY(3px);
  -o-transform: rotate(-45deg) translateX(-9px) translateY(3px);
  transform: rotate(-45deg) translateX(-9px) translateY(3px);
  width: 24px;
}
#top-nav .mobile-nav-btn.active .shape2 {
  -webkit-transform: translateX(5px);
  -khtml-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -ms-transform: translateX(5px);
  -o-transform: translateX(5px);
  transform: translateX(5px);
  width: 0;
}
#top-nav .mobile-nav-btn.active .shape3 {
  -webkit-transform: rotate(45deg) translateX(-9px) translateY(-3px);
  -khtml-transform: rotate(45deg) translateX(-9px) translateY(-3px);
  -moz-transform: rotate(45deg) translateX(-9px) translateY(-3px);
  -ms-transform: rotate(45deg) translateX(-9px) translateY(-3px);
  -o-transform: rotate(45deg) translateX(-9px) translateY(-3px);
  transform: rotate(45deg) translateX(-9px) translateY(-3px);
  width: 24px;
}
#top-nav .menu {
  max-width: 60%;
  padding: 0 40px;
  float: right;
  display: block;
}
#top-nav .menu a {
  font-family: 'ogilvy-sans-light';
  margin: 0 10px;
  position: relative;
  padding: 15px 0 0 0;
  width: auto;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
}
#top-nav .menu a:before {
  content: '';
  height: 2px;
  position: relative;
  display: block;
  top: -16px;
  z-index: 8;
  margin: 0 auto;
  width: 0;
  background: transparent;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
}
#top-nav .menu a:last-of-type {
  margin-right: 0;
}
#top-nav .menu a:hover,
#top-nav .menu a.active {
  color: #eb3f43;
}
#top-nav .menu a:hover:before,
#top-nav .menu a.active:before {
  height: 2px;
  width: 80%;
  background: #f5bac5;
}
#top-nav.minimal {
  height: 60px;
  background: #ffffff;
  border-bottom: 2px solid #ffffff;
}
#top-nav.minimal:after {
  display: none;
}
#top-nav.minimal .menu a {
  color: #f5bac5;
  padding: 6px 0 0 0;
}
#top-nav.minimal .mobile-nav-btn {
  top: 16px;
}
#top-nav.minimal .mobile-nav-btn span {
  background: #f5bac5;
}
#top-nav.minimal .logo {
  -webkit-transform: scale(0.6);
  -khtml-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
  margin-top: -10px;
  width: 300px;
  position: relative;
  right: 15px;
}
#top-nav.minimal .nav-box {
  padding: 10px 9vw 10px 9vw;
}
#top-nav.loading {
  top: 14vw;
  transform: scale(2) translateX(0);
}
#top-nav.loading a:after {
  width: 0;
}
@media screen and (min-width: 220px) and (max-width: 900px) {
  #top-nav.loading {
    top: 84vw;
    transform: scale(2) translateX(-5px);
  }
}
.spacer {
  margin-top: 5vw;
}
.page-footer {
  position: fixed;
  background: #24298f;
  padding: 1vw 0;
  overflow: hidden;
  color: #fff;
  font-size: 11px;
  line-height: 2px;
  font-weight: normal;
  width: 100% !important;
  margin-top: 0;
  z-index: 8;
  bottom: 0;
}
.page-footer .footer-container {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  display: block;
  text-align: left;
}
.page-footer .footer-container h2 {
  color: #f5bac5;
  margin-bottom: 40px;
}
.page-footer .footer-container p {
  color: #ffffff;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 0;
}
.page-footer .footer-container p.copyright {
  clear: both;
}
.page-footer .footer-container a {
  color: #f5bac5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
  margin-right: 20px;
}
.page-footer .footer-container a:hover {
  color: #eb3f43;
}
.page-footer .footer-container .links {
  margin: 0;
  max-width: 340px;
}
.page-footer .footer-container .logo {
  width: 180px;
  height: 60px;
  display: block;
  margin: 40px 0;
  clear: both;
}
#bio-about {
  padding: 10vw 15vw 0 15vw;
  overflow: hidden;
  background: #f5bac5;
  height: 100vh;
}
#bio-about h1,
#bio-about h2,
#bio-about h3,
#bio-about h4,
#bio-about h5,
#bio-about p {
  color: #ffffff;
}
#bio-about .btn {
  text-align: center;
  color: #eb3f43;
  border: 3px solid #eb3f43;
  padding: 1vw;
  font-family: 'ogilvy-sans-bold';
  font-size: 22px;
  line-height: 22px;
  display: block;
  margin: 30px auto 0 auto;
  max-width: 220px;
}
#bio-about .btn:hover {
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
  background: #eb3f43;
  color: #ffffff;
}
#bio-about #profile h1,
#bio-about .title-area h1 {
  font-size: 88px;
  line-height: 88px;
  max-width: 70%;
  margin: 5vw 0 3vw 0;
  opacity: 0;
  position: relative;
  will-change: transform;
  -webkit-transform: translateY(90px);
  -khtml-transform: translateY(90px);
  -moz-transform: translateY(90px);
  -ms-transform: translateY(90px);
  -o-transform: translateY(90px);
  transform: translateY(90px);
}
#bio-about #profile h1 span,
#bio-about .title-area h1 span {
  opacity: 0;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.4s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.4s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.4s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.4s;
}
#bio-about #profile h1 span.blue,
#bio-about .title-area h1 span.blue {
  color: #eb3f43;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.2s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.2s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.2s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.2s;
}
#bio-about #profile h1 span.green,
#bio-about .title-area h1 span.green {
  color: #24298f;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
}
#bio-about #profile h4,
#bio-about .title-area h4 {
  font-family: 'ogilvy-sans-bold';
  text-align: center;
  font-size: 38px;
  line-height: 44px;
  margin-top: 4vw;
  margin-bottom: 0;
  color: #eb3f43;
  position: relative;
  -webkit-transform: translateY(190px);
  -khtml-transform: translateY(190px);
  -moz-transform: translateY(190px);
  -ms-transform: translateY(190px);
  -o-transform: translateY(190px);
  transform: translateY(190px);
  opacity: 0;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.9s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.9s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.9s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.9s;
}
#bio-about #profile h5,
#bio-about .title-area h5 {
  font-family: 'ogilvy-sans-bold';
  font-size: 25px;
  line-height: 25px;
  position: relative;
  -webkit-transform: translateY(90px);
  -khtml-transform: translateY(90px);
  -moz-transform: translateY(90px);
  -ms-transform: translateY(90px);
  -o-transform: translateY(90px);
  transform: translateY(90px);
  opacity: 0;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
}
#bio-about #profile img,
#bio-about .title-area img {
  margin: 0 auto;
  display: block;
  opacity: 0;
  will-change: transform, opacity;
  -webkit-transform: translateY(120px);
  -khtml-transform: translateY(120px);
  -moz-transform: translateY(120px);
  -ms-transform: translateY(120px);
  -o-transform: translateY(120px);
  transform: translateY(120px);
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
}
#bio-about #profile .btn,
#bio-about .title-area .btn {
  opacity: 0;
  will-change: transform, opacity;
  -webkit-transform: translateY(200px);
  -khtml-transform: translateY(200px);
  -moz-transform: translateY(200px);
  -ms-transform: translateY(200px);
  -o-transform: translateY(200px);
  transform: translateY(200px);
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.9s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.9s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.9s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.9s;
}
#bio-about #profile.active h1,
#bio-about .title-area.active h1,
#bio-about #profile.active h4,
#bio-about .title-area.active h4,
#bio-about #profile.active h5,
#bio-about .title-area.active h5 {
  opacity: 1;
  -webkit-transform: translateX(0);
  -khtml-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
#bio-about #profile.active h1 span,
#bio-about .title-area.active h1 span {
  transition-delay: 1.2s;
  opacity: 1;
}
#bio-about #profile.active h1 span.blue,
#bio-about .title-area.active h1 span.blue {
  transition-delay: 1s;
  opacity: 1;
}
#bio-about #profile.active h1 span.green,
#bio-about .title-area.active h1 span.green {
  transition-delay: 1.4s;
  opacity: 1;
}
#bio-about #profile.active h1 span.third,
#bio-about .title-area.active h1 span.third {
  transition-delay: 1.6s;
  opacity: 1;
}
#bio-about #profile.active img,
#bio-about .title-area.active img,
#bio-about #profile.active .btn,
#bio-about .title-area.active .btn {
  opacity: 1;
  -webkit-transform: translateX(0);
  -khtml-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
#socialLinks {
  width: 50px;
  position: absolute;
  right: 5vw;
  top: 17vw;
  opacity: 0;
  -webkit-transform: translateX(200px);
  -khtml-transform: translateX(200px);
  -moz-transform: translateX(200px);
  -ms-transform: translateX(200px);
  -o-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.9s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.9s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.9s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.9s;
}
#socialLinks .social {
  display: inline-block;
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
  will-change: transform, opacity;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
}
#socialLinks .social:last-of-type {
  margin-right: 0;
  margin-bottom: 0;
}
#socialLinks .social.facebook {
  background: url('../images/icon-facebook.svg') no-repeat center center;
}
#socialLinks .social.twitter {
  background: url('../images/icon-twitter.svg') no-repeat center center;
}
#socialLinks .social.linkedin {
  background: url('../images/icon-linkedin.svg') no-repeat center center;
}
#socialLinks .social:hover {
  -webkit-transform: scale(1.2);
  -khtml-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
#socialLinks.active {
  opacity: 1;
  -webkit-transform: translateX(0);
  -khtml-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
@media screen and (min-width: 280px) and (max-width: 900px) {
  #socialLinks {
    position: static;
    width: 100%;
    text-align: center;
    margin-top: 13vw;
    -webkit-transform: translateY(200px);
    -khtml-transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    transform: translateY(200px);
  }
  #socialLinks .social {
    margin-bottom: 0;
    margin-right: 20px;
  }
  #socialLinks.active {
    opacity: 1;
    -webkit-transform: translateY(0);
    -khtml-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
#rotateScreen {
  display: block;
  position: fixed;
  opacity: 0;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  background: #f5bac5;
  background-size: cover;
  will-change: transform;
  -webkit-transition: all cubic-bezier(0.18, 0.89, 0.26, 1.08) 0.7s;
  -khtml-transition: all cubic-bezier(0.18, 0.89, 0.26, 1.08) 0.7s;
  -moz-transition: all cubic-bezier(0.18, 0.89, 0.26, 1.08) 0.7s;
  -ms-transition: all cubic-bezier(0.18, 0.89, 0.26, 1.08) 0.7s;
  transition: all cubic-bezier(0.18, 0.89, 0.26, 1.08) 0.7s;
}
#rotateScreen h1,
#rotateScreen h2 {
  color: #ffffff;
  text-align: center;
  font-style: normal;
  opacity: 0;
  margin: 0 auto 20px auto;
  -webkit-transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
  -khtml-transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
  -moz-transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
  -ms-transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
  transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
}
#rotateScreen h1 {
  position: relative;
  top: 40px;
  font-size: 3vw;
  transition-delay: 1.4s;
  font-family: 'ogilvy-sans-bold';
}
#rotateScreen h2 {
  font-family: 'ogilvy-serif-reg';
  position: relative;
  top: 80px;
  font-size: 2vw;
  transition-delay: 1.6s;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(16deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
#rotateScreen span {
  width: 64px;
  height: 64px;
  display: block;
  margin: -14vw auto 55vw auto;
  opacity: 0;
  position: relative;
  -webkit-transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
  -khtml-transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
  -moz-transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
  -ms-transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
  transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
  transition-delay: 1.2s;
}
#rotateScreen span:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 2;
  width: 64px;
  height: 64px;
  display: block;
  background: url(../images/rotate-display-icon2.svg) no-repeat top left;
  -webkit-animation: rotate 2s infinite forwards;
  -khtml-animation: rotate 2s infinite forwards;
  -moz-animation: rotate 2s infinite forwards;
  -ms-animation: rotate 2s infinite forwards;
  -o-animation: rotate 2s infinite forwards;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
#rotateScreen span:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 4;
  width: 64px;
  height: 64px;
  display: block;
  background: url(../images/rotate-display-icon.svg) no-repeat top left;
}
#rotateScreen.active {
  opacity: 1;
  z-index: 999;
  display: block;
}
#rotateScreen.active h1,
#rotateScreen.active h2 {
  opacity: 1;
  top: 0;
}
#rotateScreen.active span {
  margin: 9vw auto 3vw auto;
  opacity: 1;
}
.parallax-bg {
  background-attachment: fixed !important;
}
@font-face {
  font-family: 'ogilvy-sans-bold';
  src: url('../fonts/OgilvySans-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ogilvy-sans-light';
  src: url('../fonts/OgilvySans-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ogilvy-serif-reg';
  src: url('../fonts/OgilvySerif-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ogilvy-serif-bold';
  src: url('../fonts/OgilvySerif-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
.menu {
  font-family: 'ogilvy-sans-light';
}
a {
  color: #1e1e1e;
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  color: #1e1e1e;
  text-decoration: none;
}
h1 {
  font-family: 'ogilvy-sans-bold';
  color: inherit;
  margin-bottom: 20px;
  margin-top: 20px;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
}
h1.centered {
  text-align: center;
}
h2 {
  font-family: 'ogilvy-serif-reg';
  color: inherit;
  margin-bottom: 20px;
  margin-top: 20px;
  -webkit-font-smoothing: antialiased;
  font-style: italic;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
}
h2.centered {
  text-align: center;
}
h2.bold {
  font-weight: bold;
}
h2 span {
  color: #f5bac5;
}
h1 {
  font-size: 26px;
  line-height: 26px;
}
h2 {
  font-size: 21px;
  line-height: 21px;
}
h3 {
  font-size: 18px;
  line-height: 18px;
}
p {
  font-family: 'ogilvy-serif-reg';
  color: inherit;
}
p.centered {
  text-align: center;
}
p.bold {
  font-weight: bold;
}
h1,
h2,
h3,
p,
a,
blockqoute {
  letter-spacing: 0;
  font-weight: normal;
}
@media screen and (min-width: 1680px) and (max-width: 1920px) {
  .page-footer .footer-container p {
    font-size: 16px;
    line-height: 20px;
  }
  .page-footer .footer-container {
    max-width: none;
  }
}
@media screen and (min-width: 900px) and (max-width: 1680px) {
  #bio-about {
    padding: 12vw 15vw 0 15vw;
  }
  #bio-about #profile img {
    max-width: 80%;
  }
}
@media screen and (max-width: 1280px) {
  #bio-about #profile h4 {
    margin-top: 8vw;
  }
}
@media screen and (max-width: 1024px) {
  #bio-about {
    padding: 20vw 12vw 5vw 12vw;
    overflow: hidden;
  }
  #bio-about #profile img {
    max-width: 100%;
    width: 100%;
  }
  #bio-about #profile h4 {
    font-size: 28px;
    line-height: 34px;
    margin-top: 7vw;
  }
  #bio-about #profile h1 {
    font-size: 68px;
    line-height: 58px;
  }
  #bio-about #profile h5 {
    font-size: 20px;
    line-height: 20px;
  }
  #bio-about #message h3 {
    max-width: 50%;
    margin-top: 8.1vw;
  }
}
@media screen and (max-width: 960px) {
  #bio-about #covidLink {
    padding: 30px 30px 0 30px;
  }
  #bio-about #covidLink p {
    font-family: 'ogilvy-sans-bold';
    top: 0;
    text-align: left;
    float: none;
  }
  #bio-about #covidLink a {
    margin: 20px 0;
    display: block;
    float: none;
  }
  #clients #clientsCarousel {
    width: 100%;
  }
  #rotateScreen h1 {
    font-size: 7vw;
    line-height: 7vw;
  }
  #rotateScreen h2 {
    font-size: 4vw;
    line-height: 8vw;
  }
  .container {
    width: 100%;
    padding: 0;
  }
  #bio-about {
    padding: 14vw 6vw 7vw 6vw;
  }
  #bio-about #message img {
    margin: 20px 0;
  }
  #bio-about #message .inner-pad-right {
    padding-right: 15px;
  }
  #bio-about #profile h1 {
    font-size: 11vw;
    line-height: 10vw;
  }
  #bio-about #profile h4 {
    font-size: 7vw;
    line-height: 7vw;
    margin-top: 15vw;
  }
  #bio-about #profile h5 {
    font-size: 5vw;
    line-height: 5vw;
  }
  #bio-about #profile img {
    margin: 30px auto 0 auto;
  }
  #bio-about #message h3 {
    max-width: 100%;
    margin: 5vw 0 10vw 0;
    text-align: left;
    font-size: 7vw;
    line-height: 8vw;
  }
  #bio-about #message p {
    font-size: 4vw;
    line-height: 8vw;
    margin-bottom: 25px;
  }
  #bio-about #message p.no-space {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 768px) {
  #rotateScreen h1 {
    font-size: 7vw;
    line-height: 7vw;
  }
  #rotateScreen h2 {
    font-size: 4vw;
    line-height: 8vw;
  }
  .container {
    width: 100%;
    padding: 0;
  }
  #bio-about {
    padding: 14vw 6vw 7vw 6vw;
  }
  #bio-about #message img {
    margin: 20px 0;
  }
  #bio-about #message .inner-pad-right {
    padding-right: 15px;
  }
  #bio-about #profile h1 {
    font-size: 11vw;
    line-height: 10vw;
  }
  #bio-about #profile h4 {
    font-size: 7vw;
    line-height: 7vw;
    margin-top: 15vw;
  }
  #bio-about #profile h5 {
    font-size: 5vw;
    line-height: 5vw;
  }
  #bio-about #profile img {
    margin: 30px auto 0 auto;
  }
  #bio-about #message h3 {
    max-width: 100%;
    margin: 5vw 0 10vw 0;
    text-align: left;
    font-size: 7vw;
    line-height: 8vw;
  }
  #bio-about #message p {
    font-size: 4vw;
    line-height: 8vw;
    margin-bottom: 25px;
  }
  #bio-about #message p.no-space {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 220px) and (max-width: 900px) {
  #top-nav {
    top: 4vw;
  }
  .page-footer .footer-container p {
    font-size: 12px;
    line-height: 30px;
    margin: 0;
  }
  #bio-about .btn {
    padding: 2vw 3vw;
  }
  #bio-about #covidLink {
    padding: 30px 30px 0 30px;
  }
  #bio-about #covidLink p {
    font-family: 'ogilvy-sans-bold';
    top: 0;
    text-align: left;
    float: none;
  }
  #bio-about #covidLink a {
    margin: 20px 0;
    display: block;
    float: none;
  }
  #rotateScreen h1 {
    font-size: 7vw;
    line-height: 7vw;
  }
  #rotateScreen h2 {
    font-size: 4vw;
    line-height: 8vw;
  }
  .container {
    width: 100%;
    padding: 0;
  }
  #bio-about {
    padding: 14vw 6vw 7vw 6vw;
  }
  #bio-about #message img {
    margin: 20px 0;
  }
  #bio-about #message .inner-pad-right {
    padding-right: 15px;
  }
  #bio-about #profile h1 {
    font-size: 11vw;
    line-height: 10vw;
  }
  #bio-about #profile h4 {
    font-size: 5vw;
    line-height: 5vw;
    margin-top: 15vw;
  }
  #bio-about #profile h5 {
    font-size: 5vw;
    line-height: 5vw;
  }
  #bio-about #profile img {
    margin: 15vw auto 0 auto;
  }
  #bio-about #message h3 {
    max-width: 100%;
    margin: 5vw 0 10vw 0;
    text-align: left;
    font-size: 7vw;
    line-height: 8vw;
  }
  #bio-about #message p {
    font-size: 4vw;
    line-height: 8vw;
    margin-bottom: 25px;
  }
  #bio-about #message p.no-space {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 414px) {
  #top-nav .logo {
    max-width: 200px;
  }
}
@media (prefers-color-scheme: darks) {
  body {
    background: #000000;
  }
  .container,
  .container-fluid {
    background: #000000;
  }
  .container.page-master.light p,
  .container-fluid.page-master.light p,
  .container.page-master.light a,
  .container-fluid.page-master.light a {
    color: #ffffff;
  }
  .container.page-footer,
  .container-fluid.page-footer {
    background: #1e1e1e;
  }
  .container h1,
  .container-fluid h1,
  .container h1 span,
  .container-fluid h1 span,
  .container h3,
  .container-fluid h3,
  .container h4,
  .container-fluid h4,
  .container p,
  .container-fluid p,
  .container blockquote,
  .container-fluid blockquote {
    color: #ffffff !important;
  }
  .container h2,
  .container-fluid h2 {
    color: red !important;
  }
  .container .owl-controls,
  .container-fluid .owl-controls {
    filter: invert(1);
  }
  .container .btn-expander,
  .container-fluid .btn-expander {
    color: #ffffff;
  }
  .container .btn-expander.expanded:after,
  .container-fluid .btn-expander.expanded:after {
    background: red;
  }
  #awards-about #awardsCarousel img {
    filter: invert(1);
  }
  #gallery-work.active #worksFilter {
    filter: invert(1);
  }
}
/*# sourceMappingURL=styles.css.map */