
.dropdown dd, .dropdown dt, .dropdown ul {
  margin: 0px;
  padding: 0px;
}
.dropdown dd ul li a span:first-child, .dropdown dt a span span:first-child {
  background-image: url('https://i.imgur.com/OQiDoZe.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 11px;
  display: inline-block;
  margin:5px;
  vertical-align: top;
  display:none;
}
.dropdown dt a span {
  cursor: pointer;
  display: block;
  padding: 5px;
  white-space: nowrap;
}
.dropdown dt a img {
  position: relative;
  z-index: 1;
}
.dropdown dt a span span:first-child:before {
  position: absolute;
  content: '';
  width: 15px;
  height: 10px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2) inset;
}
.dropdown dt a span span {
  display: inline-block;
  padding: 0;
}
.dropdown dt a span span:first-child {
  padding: 0;
}
.dropdown dd {
  position: relative;
}
.dropdown a, .dropdown a:visited {
  color: #4a535f;
  text-decoration: none;
  outline: none;
}
.dropdown a:hover {
  color: #5d4617;
}
.dropdown dt a:hover, .dropdown dt a:focus {
  color: #5d4617;
}
.dropdown dt a {
  position: relative;
  background: transparent;
  display: block;
  padding-right: 20px;
  border:0;
  border-bottom:2px solid @mainCol4;
  color:@mainCol4;
  width: 100%;
}

.dropdown dd ul {
  background: @mainCol4;

  color: @mainCol3;
  display: none;
  left: 0px;
  padding: 5px 10px;
  position: absolute;

  width: 270px;
  border:2px solid @mainCol4;
  list-style: none;
  max-height: 190px;
  overflow-y: scroll;
  top:10px;
  z-index: 2;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  span {
    color: @mainCol3;
  }
}

li a {
  font-size:13px;
}

li a span:nth-child(2) {
  line-height: 2em;
}
.dropdown dd ul::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
  border-left:1px solid rgba(0,0,0,0.1);
}
.dropdown dd ul::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.4);
  /*-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5), 1px 0 0 #5cace9 inset, 2px 0 0 #b3d5ee inset;
      border-radius:10px;*/
}
.dropdown dd ul::-webkit-scrollbar-thumb:window-inactive {
  background: blue;
}
.dropdown span.value {
  display: none;
}
.dropdown dd ul li a {
  padding: 5px;
  display: block;
  font-size: 12px !important;
}
.dropdown dd ul li a:hover {
  background-color: rgba(0,0,0,0.05);
}
dl.dropdown {
  display: inline-block;
  width: 100%;
}
dl.dropdown > span:nth-child(2) {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}
dl.dropdown span:nth-child(3) {
  float: right;
}
dl.dropdown dt span:nth-child(2) {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: bold;
  line-height: 1.6em;
}
dl.dropdown dt span:nth-child(3) {
  display: none;
}
.countryFlag {
  padding: 0;
  background-image: url("https://i.imgur.com/OQiDoZe.png");
  background-repeat: no-repeat;
  display: inline-block;
  height: 11px;
  margin-right: 4px;
  width: 16px;
  cursor: pointer;
  white-space: nowrap;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #BFBFC1 #B6B6B6 #969696;
  border-image: none;
  border-radius: 2px 2px 2px 2px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.09);
}