html {
  position: relative;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  /* Margin bottom by footer height */
  background: #ffffff;
  font-family: Times, serif;
  width: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important;
}
a {
  text-decoration: none;
  border: 0;
  border: none;
  outline: 0 !important;
  -webkit-font-smoothing: antialiased !important;
}
a img {
  border: 0;
  border: none;
}
@-webkit-keyframes loader-anim {
  0% {
    transform: scale(0.8) rotate(0deg);
    -khtml-transform: scale(0.8) rotate(0deg);
    -moz-transform: scale(0.8) rotate(0deg);
    -ms-transform: scale(0.8) rotate(0deg);
    -webkit-transform: scale(0.8) rotate(0deg);
  }
  30% {
    transform: scale(0.9) rotate(-360deg);
    -khtml-transform: scale(0.9) rotate(-360deg);
    -moz-transform: scale(0.9) rotate(-360deg);
    -ms-transform: scale(0.9) rotate(-360deg);
    -webkit-transform: scale(0.9) rotate(-360deg);
  }
  60% {
    transform: scale(0.8) rotate(0deg);
    -khtml-transform: scale(0.8) rotate(0deg);
    -moz-transform: scale(0.8) rotate(0deg);
    -ms-transform: scale(0.8) rotate(0deg);
    -webkit-transform: scale(0.8) rotate(0deg);
  }
  60% {
    transform: scale(1) rotate(-360deg);
    -khtml-transform: scale(1) rotate(-360deg);
    -moz-transform: scale(1) rotate(-360deg);
    -ms-transform: scale(1) rotate(-360deg);
    -webkit-transform: scale(1) rotate(-360deg);
  }
  100% {
    transform: scale(0.9) rotate(-30deg);
    -khtml-transform: scale(0.9) rotate(-30deg);
    -moz-transform: scale(0.9) rotate(-30deg);
    -ms-transform: scale(0.9) rotate(-30deg);
    -webkit-transform: scale(0.9) rotate(-30deg);
  }
}
@-moz-keyframes loader-anim {
  0% {
    transform: scale(0.8) rotate(0deg);
    -khtml-transform: scale(0.8) rotate(0deg);
    -moz-transform: scale(0.8) rotate(0deg);
    -ms-transform: scale(0.8) rotate(0deg);
    -webkit-transform: scale(0.8) rotate(0deg);
  }
  30% {
    transform: scale(0.9) rotate(-360deg);
    -khtml-transform: scale(0.9) rotate(-360deg);
    -moz-transform: scale(0.9) rotate(-360deg);
    -ms-transform: scale(0.9) rotate(-360deg);
    -webkit-transform: scale(0.9) rotate(-360deg);
  }
  60% {
    transform: scale(0.8) rotate(0deg);
    -khtml-transform: scale(0.8) rotate(0deg);
    -moz-transform: scale(0.8) rotate(0deg);
    -ms-transform: scale(0.8) rotate(0deg);
    -webkit-transform: scale(0.8) rotate(0deg);
  }
  60% {
    transform: scale(1) rotate(-360deg);
    -khtml-transform: scale(1) rotate(-360deg);
    -moz-transform: scale(1) rotate(-360deg);
    -ms-transform: scale(1) rotate(-360deg);
    -webkit-transform: scale(1) rotate(-360deg);
  }
  100% {
    transform: scale(0.9) rotate(-30deg);
    -khtml-transform: scale(0.9) rotate(-30deg);
    -moz-transform: scale(0.9) rotate(-30deg);
    -ms-transform: scale(0.9) rotate(-30deg);
    -webkit-transform: scale(0.9) rotate(-30deg);
  }
}
@-ms-keyframes loader-anim {
  0% {
    transform: scale(0.8) rotate(0deg);
    -khtml-transform: scale(0.8) rotate(0deg);
    -moz-transform: scale(0.8) rotate(0deg);
    -ms-transform: scale(0.8) rotate(0deg);
    -webkit-transform: scale(0.8) rotate(0deg);
  }
  30% {
    transform: scale(0.9) rotate(-360deg);
    -khtml-transform: scale(0.9) rotate(-360deg);
    -moz-transform: scale(0.9) rotate(-360deg);
    -ms-transform: scale(0.9) rotate(-360deg);
    -webkit-transform: scale(0.9) rotate(-360deg);
  }
  60% {
    transform: scale(0.8) rotate(0deg);
    -khtml-transform: scale(0.8) rotate(0deg);
    -moz-transform: scale(0.8) rotate(0deg);
    -ms-transform: scale(0.8) rotate(0deg);
    -webkit-transform: scale(0.8) rotate(0deg);
  }
  60% {
    transform: scale(1) rotate(-360deg);
    -khtml-transform: scale(1) rotate(-360deg);
    -moz-transform: scale(1) rotate(-360deg);
    -ms-transform: scale(1) rotate(-360deg);
    -webkit-transform: scale(1) rotate(-360deg);
  }
  100% {
    transform: scale(0.9) rotate(-30deg);
    -khtml-transform: scale(0.9) rotate(-30deg);
    -moz-transform: scale(0.9) rotate(-30deg);
    -ms-transform: scale(0.9) rotate(-30deg);
    -webkit-transform: scale(0.9) rotate(-30deg);
  }
}
@-khtml-keyframes loader-anim {
  0% {
    transform: scale(0.8) rotate(0deg);
    -khtml-transform: scale(0.8) rotate(0deg);
    -moz-transform: scale(0.8) rotate(0deg);
    -ms-transform: scale(0.8) rotate(0deg);
    -webkit-transform: scale(0.8) rotate(0deg);
  }
  30% {
    transform: scale(0.9) rotate(-360deg);
    -khtml-transform: scale(0.9) rotate(-360deg);
    -moz-transform: scale(0.9) rotate(-360deg);
    -ms-transform: scale(0.9) rotate(-360deg);
    -webkit-transform: scale(0.9) rotate(-360deg);
  }
  60% {
    transform: scale(0.8) rotate(0deg);
    -khtml-transform: scale(0.8) rotate(0deg);
    -moz-transform: scale(0.8) rotate(0deg);
    -ms-transform: scale(0.8) rotate(0deg);
    -webkit-transform: scale(0.8) rotate(0deg);
  }
  60% {
    transform: scale(1) rotate(-360deg);
    -khtml-transform: scale(1) rotate(-360deg);
    -moz-transform: scale(1) rotate(-360deg);
    -ms-transform: scale(1) rotate(-360deg);
    -webkit-transform: scale(1) rotate(-360deg);
  }
  100% {
    transform: scale(0.9) rotate(-30deg);
    -khtml-transform: scale(0.9) rotate(-30deg);
    -moz-transform: scale(0.9) rotate(-30deg);
    -ms-transform: scale(0.9) rotate(-30deg);
    -webkit-transform: scale(0.9) rotate(-30deg);
  }
}
@-o-keyframes loader-anim {
  0% {
    transform: scale(0.8) rotate(0deg);
    -khtml-transform: scale(0.8) rotate(0deg);
    -moz-transform: scale(0.8) rotate(0deg);
    -ms-transform: scale(0.8) rotate(0deg);
    -webkit-transform: scale(0.8) rotate(0deg);
  }
  30% {
    transform: scale(0.9) rotate(-360deg);
    -khtml-transform: scale(0.9) rotate(-360deg);
    -moz-transform: scale(0.9) rotate(-360deg);
    -ms-transform: scale(0.9) rotate(-360deg);
    -webkit-transform: scale(0.9) rotate(-360deg);
  }
  60% {
    transform: scale(0.8) rotate(0deg);
    -khtml-transform: scale(0.8) rotate(0deg);
    -moz-transform: scale(0.8) rotate(0deg);
    -ms-transform: scale(0.8) rotate(0deg);
    -webkit-transform: scale(0.8) rotate(0deg);
  }
  60% {
    transform: scale(1) rotate(-360deg);
    -khtml-transform: scale(1) rotate(-360deg);
    -moz-transform: scale(1) rotate(-360deg);
    -ms-transform: scale(1) rotate(-360deg);
    -webkit-transform: scale(1) rotate(-360deg);
  }
  100% {
    transform: scale(0.9) rotate(-30deg);
    -khtml-transform: scale(0.9) rotate(-30deg);
    -moz-transform: scale(0.9) rotate(-30deg);
    -ms-transform: scale(0.9) rotate(-30deg);
    -webkit-transform: scale(0.9) rotate(-30deg);
  }
}
/*----------------------------------------------------------------------
Page loader CSS BY HighHay

USAGE:
------
- Add this as an external CSS file and put it before other css links inside
html file
- Add the following tag inside HTML file :
<div class='page-loader'>
    <div><i class='fa fa-spinner  fa-spin'></i><p>loading</p></div>
</div>
------------------------------------------------------------------------*/
@keyframes loading-anim {
  0% {
    transform: translate(0, 0);
    width: 0;
  }
  100% {
    transform: translate(300%, 0);
    width: 45%;
  }
}
.page-loader {
  position: fixed;
  z-index: 200;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ffffff;
  display: block;
}
.page-loader .fa {
  font-size: 2.5rem;
}
.page-loader.visible {
  -webkit-transition: 0.6s;
  -ms-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s;
  opacity: 1;
  visibility: visible;
}
.page-loader.hidden {
  visibility: hidden;
  /*    display: none;*/
  opacity: 0;
}
.page-loader .loader-bar {
  width: 80%;
  height: 5px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 9;
}
.page-loader .loader-bar:after {
  content: '';
  background: #000000;
  position: absolute;
  width: 20%;
  height: 45%;
  left: 0;
  top: 0px;
  -webkit-animation: loading-anim 3s infinite forwards;
  -khtml-animation: loading-anim 3s infinite forwards;
  -moz-animation: loading-anim 3s infinite forwards;
  -ms-animation: loading-anim 3s infinite forwards;
  -o-animation: loading-anim 3s infinite forwards;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
}
.page-loader .loader-bar:before {
  content: '';
  background: #000000;
  position: absolute;
  width: 20%;
  height: 45%;
  left: 0;
  top: 0px;
  -webkit-animation: loading-anim 3s infinite reverse;
  -khtml-animation: loading-anim 3s infinite reverse;
  -moz-animation: loading-anim 3s infinite reverse;
  -ms-animation: loading-anim 3s infinite reverse;
  -o-animation: loading-anim 3s infinite reverse;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
}
.page-loader div {
  position: absolute;
  top: 48%;
  width: 100%;
  text-align: center;
  color: #1e1e1e;
  margin-top: -1rem;
  font-size: 4rem;
}
::-webkit-scrollbar {
  width: 5px;
}
::-khtml-scrollbar {
  width: 5px;
}
::-moz-scrollbar {
  width: 5px;
}
::-ms-scrollbar {
  width: 5px;
}
::-o-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 26px rgba(0, 0, 0, 0.3);
}
::-khtml-scrollbar-track {
  -webkit-box-shadow: inset 0 0 26px rgba(0, 0, 0, 0.3);
}
::-moz-scrollbar-track {
  -webkit-box-shadow: inset 0 0 26px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 76px #fff100;
}
::-khtml-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 76px #fff100;
}
::-moz-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 76px #fff100;
}
.onlymobile {
  display: none;
}
.container {
  position: relative;
  background: #ffffff;
}
.container.dark-bg {
  background: #1e1e1e;
  color: #ffffff;
}
.container-fluid.dark-bg {
  background: #1e1e1e;
  color: #ffffff;
}
#top-nav {
  height: 85px;
  width: 100%;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
}
#top-nav .nav-box {
  width: 90%;
  position: relative;
  padding: 0 10px;
  margin: 0 auto;
  overflow: hidden;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
}
#top-nav .logo {
  float: left;
  display: block;
  width: 170px;
  height: 55px;
  margin-top: 5px;
  will-change: transform;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -webkit-transform: scale(1);
  -khtml-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#top-nav .mobile-nav-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  z-index: 9;
  top: 34px;
  right: 10px;
  cursor: pointer;
  *cursor: hand;
  display: none;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
}
#top-nav .mobile-nav-btn span {
  background: #ffffff;
  display: block;
  width: 100%;
  height: 4px;
  margin-bottom: 4px;
  position: relative;
  will-change: transform;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
}
#top-nav .mobile-nav-btn.active .shape1 {
  -webkit-transform: rotate(-45deg) translateX(-9px) translateY(3px);
  -khtml-transform: rotate(-45deg) translateX(-9px) translateY(3px);
  -moz-transform: rotate(-45deg) translateX(-9px) translateY(3px);
  -ms-transform: rotate(-45deg) translateX(-9px) translateY(3px);
  -o-transform: rotate(-45deg) translateX(-9px) translateY(3px);
  transform: rotate(-45deg) translateX(-9px) translateY(3px);
  width: 24px;
}
#top-nav .mobile-nav-btn.active .shape2 {
  -webkit-transform: translateX(40px);
  -khtml-transform: translateX(40px);
  -moz-transform: translateX(40px);
  -ms-transform: translateX(40px);
  -o-transform: translateX(40px);
  transform: translateX(40px);
  width: 0;
}
#top-nav .mobile-nav-btn.active .shape3 {
  -webkit-transform: rotate(45deg) translateX(-9px) translateY(-3px);
  -khtml-transform: rotate(45deg) translateX(-9px) translateY(-3px);
  -moz-transform: rotate(45deg) translateX(-9px) translateY(-3px);
  -ms-transform: rotate(45deg) translateX(-9px) translateY(-3px);
  -o-transform: rotate(45deg) translateX(-9px) translateY(-3px);
  transform: rotate(45deg) translateX(-9px) translateY(-3px);
  width: 24px;
}
#top-nav .menu {
  max-width: 60%;
  padding: 0px 40px;
  float: right;
  display: block;
}
#top-nav .menu a {
  margin: 0 10px;
  position: relative;
  padding: 15px 0 0 0;
  width: 110px;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  font-family: 'avenir-black';
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
}
#top-nav .menu a:before {
  content: '';
  height: 5px;
  position: relative;
  display: block;
  top: -15px;
  z-index: 8;
  margin: 0 auto;
  width: 0;
  background: transparent;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
}
#top-nav .menu a:last-of-type {
  margin-right: 0;
}
#top-nav .menu a:hover,
#top-nav .menu a.active {
  color: #fff100;
  font-family: 'avenir-black';
}
#top-nav .menu a:hover:before,
#top-nav .menu a.active:before {
  height: 5px;
  width: 40%;
  background: #fff100;
}
#top-nav.minimal {
  height: 40px;
  background: #d4d4d4;
  background: rgba(0, 0, 0, 0.6);
}
#top-nav.minimal:after {
  display: none;
}
#top-nav.minimal .menu a {
  padding: 6px 0 0 0;
}
#top-nav.minimal .logo {
  -webkit-transform: scale(0.6);
  -khtml-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
  margin-top: -7px;
  width: 165px;
}
#top-nav.minimal .nav-box {
  padding: 0 10px;
}
#top-nav.minimal .social {
  padding: 7px 0 0 30px;
}
#top-nav.minimal .mobile-nav-btn {
  top: 10px;
}
#top-nav.active {
  background: #d4d4d4;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.6);
}
#sideNav {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 1;
  padding: 0;
  background: #000000;
  will-change: transform;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -ms-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -webkit-transform: translateY(0px);
  -khtml-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}
#sideNav .logo {
  float: left;
  display: block;
  width: 170px;
  height: 55px;
  margin-top: 5px;
  will-change: transform;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -webkit-transform: scale(1);
  -khtml-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#sideNav .mobile-nav-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  z-index: 9;
  top: 18px;
  right: 20.5px;
  cursor: pointer;
  *cursor: hand;
}
#sideNav .mobile-nav-btn span {
  background: #ffffff;
  display: block;
  width: 100%;
  height: 4px;
  margin-bottom: 4px;
  position: relative;
  will-change: transform;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
}
#sideNav .mobile-nav-btn.active .shape1 {
  -webkit-transform: rotate(-45deg) translateX(-8px) translateY(3px);
  -khtml-transform: rotate(-45deg) translateX(-8px) translateY(3px);
  -moz-transform: rotate(-45deg) translateX(-8px) translateY(3px);
  -ms-transform: rotate(-45deg) translateX(-8px) translateY(3px);
  -o-transform: rotate(-45deg) translateX(-8px) translateY(3px);
  transform: rotate(-45deg) translateX(-8px) translateY(3px);
  width: 24px;
}
#sideNav .mobile-nav-btn.active .shape2 {
  -webkit-transform: translateX(40px);
  -khtml-transform: translateX(40px);
  -moz-transform: translateX(40px);
  -ms-transform: translateX(40px);
  -o-transform: translateX(40px);
  transform: translateX(40px);
  width: 0;
}
#sideNav .mobile-nav-btn.active .shape3 {
  -webkit-transform: rotate(45deg) translateX(-8px) translateY(-3px);
  -khtml-transform: rotate(45deg) translateX(-8px) translateY(-3px);
  -moz-transform: rotate(45deg) translateX(-8px) translateY(-3px);
  -ms-transform: rotate(45deg) translateX(-8px) translateY(-3px);
  -o-transform: rotate(45deg) translateX(-8px) translateY(-3px);
  transform: rotate(45deg) translateX(-8px) translateY(-3px);
  width: 24px;
}
#sideNav #mainNav {
  display: block;
  padding: 100px 0 0 0;
  width: 100%;
}
#sideNav #mainNav a {
  display: block;
  font-family: 'avenir-black';
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0 10px 0 30px;
  margin: 0 0 0 0;
  position: relative;
  transform: translateX(-220px);
  opacity: 0;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.9s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.9s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.9s;
  -ms-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.9s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.9s;
}
#sideNav #mainNav a:after {
  content: '';
  width: 0px;
  background: #ffffff;
  height: 80%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
  -ms-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
}
#sideNav #mainNav a.active:after,
#sideNav #mainNav a:hover:after {
  width: 6px;
}
#sideNav.active {
  z-index: 21;
  -webkit-transform: translateY(0px);
  -khtml-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  height: 100%;
}
#sideNav.active #mainNav a {
  -webkit-transform: translateY(0px);
  -khtml-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateX(0px);
  opacity: 1;
  margin: 0 0 50px 0;
}
#backUp {
  position: fixed;
  z-index: -1;
  bottom: -21px;
  right: -21px;
  width: 102px;
  height: 102px;
  background: #000000 url(../images/icons/svg/iconmonstr-arrow-66.svg) no-repeat center center;
  opacity: 0;
  cursor: pointer;
  *cursor: hand;
  -webkit-transform: scale(0.4);
  -khtml-transform: scale(0.4);
  -moz-transform: scale(0.4);
  -ms-transform: scale(0.4);
  -o-transform: scale(0.4);
  transform: scale(0.4);
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.5s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.5s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.5s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.5s;
}
#backUp.active {
  opacity: 1;
  bottom: -21px;
  right: -21px;
  z-index: 9;
  -webkit-transform: scale(0.6);
  -khtml-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}
.page-footer {
  position: relative;
  background: #000000;
  padding: 130px 12px;
  color: #fff;
  font-size: 11px;
  line-height: 2px;
  font-weight: normal;
  width: 100% !important;
  overflow: hidden;
  margin-top: -20px;
  z-index: 8;
  bottom: 0;
}
.page-footer .footer-container {
  max-width: 1170px;
  width: 100%;
  padding: 6px 0;
  margin: 0 auto;
  display: block;
}
.page-footer .footer-container p {
  color: #ffffff;
  font-size: 12px;
  line-height: 20px;
  font-family: 'avenir-light';
}
.page-footer .footer-container p.maxxed {
  max-width: 270px;
}
.page-footer .footer-container p.left-align {
  text-align: left;
}
.page-footer .footer-container p.right-align {
  text-align: right;
}
.page-footer .footer-container p.copyright {
  text-align: right;
  font-family: 'avenir-light';
  float: right;
  clear: both;
}
.page-footer .footer-container a {
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
  margin-right: 8px;
}
.page-footer .footer-container a:hover {
  color: #fff100;
}
.page-footer .footer-container .logo {
  width: 110px;
  height: 30px;
  display: block;
  float: right;
  clear: both;
  margin-top: 55px;
  margin-right: 0;
}
.page-footer .footer-container .social.foot {
  position: relative;
  margin: 70px 0 0 0;
}
.page-footer .footer-container .social.foot a {
  float: left;
  display: block;
  margin-right: 10px;
  border: 0;
  text-decoration: none;
  outline: 0;
  width: 24px;
  height: 24px;
  text-align: center;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
}
.page-footer .footer-container .social.foot a:last-child {
  margin-right: 0;
}
.page-footer .footer-container .social.foot a.facebook {
  background: url(../images/icons/svg/iconmonstr-facebook-1.svg) no-repeat 0px 0px;
}
.page-footer .footer-container .social.foot a.twitter {
  background: url(../images/icons/svg/iconmonstr-twitter-1.svg) no-repeat 0px 0px;
}
.page-footer .footer-container .social.foot a.instagram {
  background: url(../images/icons/svg/iconmonstr-instagram-11.svg) no-repeat 0px 0px;
}
.page-footer .footer-container .social.foot a.linkedin {
  background: url(../images/icons/svg/iconmonstr-linkedin-1.svg) no-repeat 0px 0px;
}
.page-footer .footer-container .social.foot a:hover {
  opacity: 0.6;
}
.expandible-content {
  position: relative;
  overflow: hidden;
  display: block;
  padding: 10% 8%;
}
.expandible-content blockquote {
  font-size: 41px;
  line-height: 52px;
}
.expandible-content .btn-expander {
  font-size: 32px;
  line-height: 40px;
}
.expandible-content .expandible {
  padding: 0;
  float: left;
  max-height: 800px;
  overflow: hidden;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
}
.expandible-content .expandible.closed {
  max-height: 0;
}
#noticebar {
  padding: 4px;
  background: #202020;
  color: #ffffff;
  text-align: center;
  font-size: 11px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 9;
}
#intro-home {
  padding: 0;
  width: 100%;
  max-width: 3000px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  background: #000000;
  height: 900px;
  background: url(../images/home-top-bg.jpg) no-repeat 0% 185%;
  background-size: 100%;
}
#intro-home h1 {
  text-transform: uppercase;
  font-size: 180px;
  line-height: 155px;
  font-size: 10vw;
  line-height: 7.8vw;
  max-width: 45%;
  overflow: visible;
  position: absolute;
  left: 43.1%;
  top: 42%;
  text-indent: 0px;
  color: #fff100;
  opacity: 0;
}
#intro-home h2 {
  font-size: 75px;
  line-height: 208px;
  font-size: 4vw;
  line-height: 12vw;
  max-width: 45%;
  overflow: hidden;
  position: absolute;
  left: 44.1%;
  top: 16%;
  text-indent: 0;
  color: #ffffff;
  opacity: 0;
  -webkit-transform: scale(0);
  -khtml-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
#intro-home.active h1 {
  opacity: 1;
  top: 35%;
}
#intro-home.active h2 {
  opacity: 1;
  -webkit-transform: scale(1);
  -khtml-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#about-home {
  padding: 0;
  width: 100%;
  max-width: 3000px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  background: #000000;
  height: 900px;
  background: url(../images/about-us-home-bg.jpg) no-repeat 75% 0%;
  background-size: cover;
}
#about-home h1 {
  text-transform: uppercase;
  font-size: 180px;
  line-height: 155px;
  font-size: 9vw;
  line-height: 9vw;
  max-width: 50%;
  overflow: hidden;
  position: absolute;
  left: 27.1%;
  top: 35%;
  text-indent: -1150px;
  color: #9a9a9a;
  opacity: 0;
}
#about-home h2 {
  font-size: 34px;
  line-height: 40px;
  font-size: 1.8vw;
  line-height: 2vw;
  max-width: 32%;
  overflow: visible;
  position: absolute;
  left: 20.1%;
  top: 54%;
  text-indent: 0;
  color: #000000;
  opacity: 0;
}
#about-home .btn {
  position: absolute;
  left: 27.1%;
  top: 90%;
  text-indent: 0;
  opacity: 0;
}
#about-home.active h1 {
  opacity: 0.3;
  text-indent: 0px;
}
#about-home.active h2 {
  opacity: 1;
  left: 27.1%;
}
#about-home.active .btn {
  top: 70%;
  opacity: 1;
}
#service-home {
  padding: 5% 0;
}
#service-home h1 {
  text-transform: uppercase;
  font-size: 200px;
  line-height: 166px;
  font-size: 7vw;
  line-height: 5.3vw;
  max-width: 100%;
  overflow: visible;
  margin-bottom: 60px;
  left: 39.1%;
  top: 45%;
  text-indent: 0px;
  color: #000000;
  opacity: 0;
  -webkit-transform: translateX(80px);
  -khtml-transform: translateX(80px);
  -moz-transform: translateX(80px);
  -ms-transform: translateX(80px);
  -o-transform: translateX(80px);
  transform: translateX(80px);
}
#service-home h1 span {
  color: #1e1e1e;
}
#service-home h2 {
  font-style: normal;
}
#service-home.active h1 {
  opacity: 1;
  -webkit-transform: translateX(120px);
  -khtml-transform: translateX(120px);
  -moz-transform: translateX(120px);
  -ms-transform: translateX(120px);
  -o-transform: translateX(120px);
  transform: translateX(120px);
}
#service-home.active h2 {
  opacity: 1;
}
#service-home #serviceCarousel {
  padding: 0 100px;
}
#service-home #serviceCarousel .carousel-btn {
  position: relative;
  font-family: 'avenir-black';
  font-size: 16px;
  line-height: 16px;
  padding: 0px 0 5px 0;
  cursor: pointer;
  *cursor: hand;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
}
#service-home #serviceCarousel .carousel-btn:after {
  content: '';
  position: absolute;
  background: #000000;
  height: 4px;
  width: 100%;
  z-index: -1;
  left: 0;
  bottom: 3px;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
}
#service-home #serviceCarousel .carousel-btn:hover {
  color: #000000;
}
#service-home #serviceCarousel .carousel-btn:hover:after {
  background: #b8b8b8;
}
#service-home #serviceCarousel .owl-item {
  -webkit-transform: scale(0.5);
  -khtml-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-filter: blur(4px);
  -khtml-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  filter: blur(4px);
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
}
#service-home #serviceCarousel .owl-item .slide {
  padding: 20px;
}
#service-home #serviceCarousel .owl-item .slide p {
  padding: 0 5px 15px 5px;
}
#service-home #serviceCarousel .owl-item .slide h2 {
  font-family: 'avenir-black';
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  padding-bottom: 10px;
  position: relative;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
}
#service-home #serviceCarousel .owl-item .slide h2:after {
  content: '';
  position: absolute;
  bottom: 7px;
  height: 4px;
  left: 0;
  width: 0;
  background: #000000;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
}
#service-home #serviceCarousel .owl-item.center {
  -webkit-transform: scale(1);
  -khtml-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-filter: blur(0px);
  -khtml-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  filter: blur(0px);
}
#service-home #serviceCarousel .owl-item.center .slide h2 {
  font-size: 36px;
  line-height: 36px;
}
#service-home #serviceCarousel .owl-item.center .slide h2:after {
  width: 100%;
}
#contact-home {
  padding: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
#contact-home h1 {
  text-transform: uppercase;
  font-size: 90px;
  line-height: 95px;
  margin: 100px 0 0 0;
}
#contact-home h2 {
  font-size: 25px;
  line-height: 25px;
  margin: 0 0 100px 0;
  font-style: italic;
}
#contact-home #contactNav {
  width: 100%;
  margin: 0 0 80px 0;
  position: relative;
  overflow: hidden;
  padding: 0;
}
#contact-home #contactNav span {
  position: relative;
  font-family: 'avenir-black';
  font-size: 15px;
  line-height: 18px;
  width: 25.5%;
  padding: 20px 0;
  display: block;
  float: left;
  cursor: pointer;
  *cursor: hand;
  color: #d2d2d2;
}
#contact-home #contactNav span:before {
  content: '';
  height: 4px;
  width: 100%;
  position: absolute;
  top: 0;
  background: #d2d2d2;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
}
#contact-home #contactNav span.active,
#contact-home #contactNav span:hover {
  color: #000000;
}
#contact-home #contactNav span.active:before,
#contact-home #contactNav span:hover:before {
  width: 100%;
  background: #000000;
}
#contact-home #contactTabs {
  padding: 0;
  margin-bottom: 70px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
#contact-home #contactTabs .tab {
  display: none;
}
#contact-home #contactTabs .tab#seeMap {
  width: 100%;
  height: 600px;
}
#contact-home #contactTabs .tab.active {
  display: block;
}
#contact-home #contactTabs .form {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto 40px auto;
  position: relative;
  overflow: hidden;
}
#contact-home #contactTabs .form .form-wrapper {
  max-width: 400px;
  width: 100%;
}
#contact-home #contactTabs .form .form-btn {
  float: right;
  position: relative;
  font-family: 'avenir-black';
  font-size: 16px;
  line-height: 16px;
  padding: 0px 0 5px 0;
  cursor: pointer;
  *cursor: hand;
  background: transparent;
  border: 0;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
}
#contact-home #contactTabs .form .form-btn:after {
  content: '';
  position: absolute;
  background: #000000;
  height: 4px;
  width: 100%;
  z-index: -1;
  left: 0;
  bottom: 0;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
}
#contact-home #contactTabs .form .form-btn:hover {
  color: #000000;
}
#contact-home #contactTabs .form .form-btn:hover:after {
  background: #b8b8b8;
}
#contact-home #contactTabs .form .field {
  margin-bottom: 20px;
  position: relative;
}
#contact-home #contactTabs .form .field.upload {
  display: none;
}
#contact-home #contactTabs .form .field.upload label {
  display: block;
  max-width: 100%;
  margin: 5px 0;
  font-weight: 700;
  text-align: right;
}
#contact-home #contactTabs .form .field.upload .upload-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  background: #ffffff;
  z-index: 4;
  border: 1px solid #878787;
  cursor: pointer;
  *cursor: hand;
}
#contact-home #contactTabs .form .field.upload .upload-mask.portfolio:before {
  content: 'Upload Portfolio';
  position: absolute;
  top: 10px;
  left: 12px;
  font-weight: bold;
}
#contact-home #contactTabs .form .field.upload .upload-mask.cv:before {
  content: 'Upload CV';
  position: absolute;
  top: 10px;
  left: 12px;
  font-weight: bold;
}
#contact-home #contactTabs .form .field.upload .upload-mask:after {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  background: url(../images/icons/svg/iconmonstr-upload-11.svg) no-repeat top left;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.5s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.5s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.5s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.5s;
}
#contact-home #contactTabs .form .field.upload .upload-mask.attached:after {
  background: url(../images/icons/svg/iconmonstr-upload-11.svg) no-repeat top left;
  transform: rotate(90deg);
}
#contact-home #contactTabs .form .field input,
#contact-home #contactTabs .form .field textarea {
  border: 1px solid #878787;
  padding: 10px;
  max-width: 400px;
  width: 100%;
  outline: none;
}
#contact-home #contactTabs .form .field .selectric {
  border-radius: 0;
  border: 1px solid #888888;
  background: #ffffff;
  border-bottom-width: 1px;
}
#contact-home #contactTabs .form .field .selectric .button {
  right: 0px;
  top: 7px;
  background: url(../images/icons/icon-select-drop.png) no-repeat center center;
  transform: scale(0.8);
}
#contact-home #contactTabs .form .field .selectric .label {
  text-transform: none;
  margin: 0;
  line-height: 30px;
  text-align: left;
  padding: 6px 12px;
}
#contact-home #contactTabs .form textarea {
  resize: none;
  min-height: 300px;
}
#contact-home #contactTabs .form p {
  max-width: 250px;
  margin-bottom: 20px;
}
#intro-about {
  padding: 0;
  width: 100%;
  max-width: 3000px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  background: #000000;
  height: 900px;
  background: url(../images/about-top-bg.jpg) no-repeat 0% 0%;
  background-size: 100%;
}
#intro-about h1 {
  text-transform: uppercase;
  font-size: 180px;
  line-height: 155px;
  font-size: 10vw;
  line-height: 8.3vw;
  max-width: 45%;
  overflow: hidden;
  position: absolute;
  left: 28.1%;
  top: 28%;
  text-indent: 0;
  color: #ffffff;
  opacity: 0;
  transform: scale(0.4);
}
#intro-about h1 span {
  color: #fff100;
  font-family: 'avenir-black';
}
#intro-about h2 {
  font-size: 75px;
  line-height: 208px;
  font-size: 4vw;
  line-height: 12vw;
  max-width: 45%;
  overflow: hidden;
  position: absolute;
  left: 40.1%;
  top: 53%;
  text-indent: 0;
  color: #ffffff;
  opacity: 0;
  -webkit-transform: scale(0);
  -khtml-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
#intro-about h2 span {
  color: #ffffff;
}
#intro-about.active h1 {
  opacity: 1;
  top: 28%;
  left: 28.1%;
  transform: scale(1);
  text-indent: 0;
}
#intro-about.active h2 {
  opacity: 1;
  left: 40.1%;
  -webkit-transform: scale(1);
  -khtml-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#bio-about {
  padding: 140px 0;
  overflow: hidden;
}
#bio-about h1 {
  text-transform: uppercase;
  font-size: 90px;
  line-height: 70px;
  margin: 0;
  opacity: 0;
  position: relative;
  will-change: transform;
  -webkit-transform: translateX(-900px);
  -khtml-transform: translateX(-900px);
  -moz-transform: translateX(-900px);
  -ms-transform: translateX(-900px);
  -o-transform: translateX(-900px);
  transform: translateX(-900px);
}
#bio-about p {
  position: relative;
  -webkit-transform: translateX(900px);
  -khtml-transform: translateX(900px);
  -moz-transform: translateX(900px);
  -ms-transform: translateX(900px);
  -o-transform: translateX(900px);
  transform: translateX(900px);
  opacity: 0;
  font-size: 18px;
  line-height: 27px;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
}
#bio-about.active h1 {
  opacity: 1;
  -webkit-transform: translateX(0);
  -khtml-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
#bio-about.active p {
  opacity: 1;
  -webkit-transform: translateX(0);
  -khtml-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
#detail-about {
  padding: 140px 0;
  overflow: hidden;
}
#detail-about .row {
  margin: 10% 0;
}
#detail-about h1 {
  text-transform: uppercase;
  font-size: 90px;
  line-height: 70px;
  margin: 0;
  opacity: 0;
  position: relative;
  -webkit-transform: translateY(200px);
  -khtml-transform: translateY(200px);
  -moz-transform: translateY(200px);
  -ms-transform: translateY(200px);
  -o-transform: translateY(200px);
  transform: translateY(200px);
  max-width: 70%;
}
#detail-about p {
  position: relative;
  -webkit-transform: translateY(200px);
  -khtml-transform: translateY(200px);
  -moz-transform: translateY(200px);
  -ms-transform: translateY(200px);
  -o-transform: translateY(200px);
  transform: translateY(200px);
  opacity: 0;
  font-size: 18px;
  line-height: 27px;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
}
#detail-about .btn {
  float: right;
  margin: 60px;
  opacity: 0;
  -webkit-transform: translateY(300px);
  -khtml-transform: translateY(300px);
  -moz-transform: translateY(300px);
  -ms-transform: translateY(300px);
  -o-transform: translateY(300px);
  transform: translateY(300px);
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
}
#detail-about.active h1 {
  opacity: 1;
  -webkit-transform: translateY(0);
  -khtml-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
#detail-about.active .btn {
  opacity: 1;
  -webkit-transform: translateY(0);
  -khtml-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
#detail-about.active p {
  opacity: 1;
  -webkit-transform: translateY(0);
  -khtml-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
#players-about {
  position: relative;
  overflow: hidden;
}
#players-about h1 {
  text-transform: uppercase;
  font-size: 180px;
  max-width: 45%;
  max-width: 61vw;
  overflow: hidden;
  line-height: 140px;
  position: absolute;
  left: 25%;
  top: 0;
  text-indent: 0;
  color: #1e1e1e;
  opacity: 1;
  will-change: transform;
  -webkit-transform: scale(0.99);
  -khtml-transform: scale(0.99);
  -moz-transform: scale(0.99);
  -ms-transform: scale(0.99);
  -o-transform: scale(0.99);
  transform: scale(0.99);
  z-index: 9;
}
#players-about h1 span {
  color: #1e1e1e;
  font-family: 'avenir-black';
}
#players-about #playersCarousel .owl-item .item {
  position: relative;
}
#players-about #playersCarousel .owl-item .item .profile-info {
  position: relative;
  left: 80px;
  padding-top: 18%;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.9s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.9s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.9s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.9s;
}
#players-about #playersCarousel .owl-item .item .profile-info h1 {
  font-size: 75px;
  overflow: hidden;
  line-height: 63px;
  position: relative;
  max-width: 440px;
  width: 100%;
  left: 0;
  top: 0;
  text-indent: 0;
  color: #1e1e1e;
  opacity: 1;
  transform: scale(1);
}
#players-about #playersCarousel .owl-item .item .profile-info h1 span {
  text-transform: none;
  color: #1e1e1e;
  display: block;
  font-family: Times, serif;
  font-size: 28px;
  line-height: 34px;
  font-style: italic;
}
#players-about #playersCarousel .owl-item .item .profile-info p {
  max-width: 440px;
  width: 100%;
  font-size: 18px;
  line-height: 27px;
  margin-top: 40px;
}
#players-about #playersCarousel .owl-item .item img {
  width: 100%;
  padding-left: 0;
  padding-top: 210px;
}
#players-about #playersCarousel .owl-item.active .item .profile-info {
  right: 20%;
}
#players-about #playersCarousel .owl-item.active .item img {
  padding-left: 15%;
}
#players-about #playersCarousel .owl-controls {
  position: absolute;
  bottom: 30%;
  width: 89%;
  height: 100px;
}
#players-about #playersCarousel .owl-controls .owl-nav > div.owl-next {
  right: 22%;
  top: 75%;
}
#players-about #playersCarousel .owl-controls .owl-nav > div.owl-prev {
  right: 24%;
  left: auto;
  top: 75%;
}
#players-about.active h1 {
  opacity: 1;
  left: 25.1%;
  -webkit-transform: scale(1);
  -khtml-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  text-indent: 0;
  z-index: 10;
}
#awards-about {
  padding: 140px 0;
}
#awards-about h1 {
  text-transform: uppercase;
  font-size: 180px;
  line-height: 160px;
  overflow: hidden;
  position: relative;
  left: -28.1%;
  text-indent: 0;
  color: #1e1e1e;
  opacity: 0;
  z-index: 9;
}
#awards-about h1 span {
  color: #ffffff;
  font-family: 'avenir-black';
  position: relative;
  left: 85%;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.2s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.2s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.2s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.2s;
}
#awards-about h2 {
  font-size: 21px;
  line-height: 25px;
  max-width: 50%;
  margin-bottom: 100px;
}
#awards-about #awardsCarousel {
  cursor: -webkit-grab;
}
#awards-about #awardsCarousel .owl-stage-outer {
  overflow: visible;
}
#awards-about #awardsCarousel .owl-item span {
  display: block;
  text-align: center;
  color: #d4d5d2;
  font-family: 'avenir-black';
}
#awards-about.active h1 {
  opacity: 1;
  left: 0;
}
#awards-about.active h1 span {
  color: #1e1e1e;
  left: 0;
}
#clients-about {
  padding: 140px 0;
}
#clients-about h1 {
  text-transform: uppercase;
  font-size: 180px;
  line-height: 160px;
  overflow: hidden;
  position: relative;
  left: 48.1%;
  text-indent: 0;
  color: #1e1e1e;
  opacity: 0;
  z-index: 9;
}
#clients-about h1 span {
  color: #ffffff;
  font-family: 'avenir-black';
  position: relative;
  left: 85%;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.2s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.2s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.2s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.2s;
}
#clients-about img {
  padding: 0 20px;
  width: 100%;
  vertical-align: middle;
  position: relative;
  min-width: 100%;
  height: 180px;
}
#clients-about #clientsCarousel {
  cursor: -webkit-grab;
}
#clients-about #clientsCarousel .owl-item span {
  display: block;
  text-align: center;
  color: #d4d5d2;
  font-family: 'avenir-black';
}
#clients-about.active h1 {
  opacity: 1;
  left: 100px;
  color: #1e1e1e;
}
#clients-about.active h1 span {
  color: #1e1e1e;
  left: 0;
}
#intro-services {
  padding: 0;
  width: 100%;
  max-width: 3000px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  background: #000000;
  height: 900px;
  background: url(../images/services-top-bg.jpg) no-repeat 0% 0%;
  background-size: 100%;
}
#intro-services h1 {
  text-transform: uppercase;
  font-size: 180px;
  line-height: 155px;
  font-size: 10vw;
  line-height: 8.3vw;
  overflow: hidden;
  position: absolute;
  left: 28.1%;
  top: 28%;
  text-indent: 0;
  color: #fff100;
  opacity: 0;
  -webkit-transform: scale(0.9);
  -khtml-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  max-width: 775px;
  max-width: 40vw;
}
#intro-services h1 span {
  color: #ffffff;
  font-family: 'avenir-black';
}
#intro-services h2 {
  font-size: 75px;
  line-height: 208px;
  font-size: 4vw;
  line-height: 12vw;
  max-width: 45%;
  overflow: hidden;
  position: absolute;
  left: 40.1%;
  top: 53%;
  text-indent: 0;
  color: #ffffff;
  opacity: 0;
  -webkit-transform: scale(0);
  -khtml-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  display: none;
}
#intro-services.active h1 {
  opacity: 1;
  top: 28%;
  left: 28.1%;
  -webkit-transform: scale(1);
  -khtml-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  text-indent: 0;
}
#intro-services.active h2 {
  opacity: 1;
  left: 40.1%;
  -webkit-transform: scale(1);
  -khtml-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#offering-services {
  position: relative;
  overflow: hidden;
  margin-bottom: 140px;
}
#offering-services h1 {
  text-transform: uppercase;
  font-size: 180px;
  max-width: 45%;
  overflow: hidden;
  line-height: 140px;
  position: absolute;
  left: 28.1%;
  top: 0;
  text-indent: 0;
  color: #1e1e1e;
  opacity: 0;
  transform: scale(0.4);
  z-index: 9;
}
#offering-services h1 span {
  color: #fff100;
  font-family: 'avenir-black';
}
#offering-services #serviceFilter {
  max-width: 780px;
  width: 100%;
  position: relative;
  top: 90px;
  opacity: 0;
  margin: 0 auto 100px auto;
  padding: 40px 0 100px 0;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
}
#offering-services #serviceFilter li {
  list-style: none;
  display: block;
  font-family: 'avenir-black';
  float: left;
  width: 100%;
  max-width: 154px;
  min-height: 80px;
}
#offering-services #serviceFilter li a {
  font-family: inherit;
  font-size: 15px;
  line-height: 18px;
  position: relative;
  opacity: 0.3;
  padding: 15px 0px 10px 0px;
  width: 100%;
  display: block;
  text-align: left;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
}
#offering-services #serviceFilter li a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background: #000000;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
}
#offering-services #serviceFilter li a.active,
#offering-services #serviceFilter li a:hover {
  opacity: 1;
}
#offering-services #offeringsCarousel {
  -webkit-transform: translateY(20%);
  -khtml-transform: translateY(20%);
  -moz-transform: translateY(20%);
  -ms-transform: translateY(20%);
  -o-transform: translateY(20%);
  transform: translateY(20%);
  will-change: transform;
  -webkit-transition: transform cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.9s;
  -khtml-transition: transform cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.9s;
  -moz-transition: transform cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.9s;
  transition: transform cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.9s;
}
#offering-services #offeringsCarousel .owl-item .item {
  position: relative;
  overflow: hidden;
}
#offering-services #offeringsCarousel .owl-item .item .profile-info {
  position: relative;
  top: 10%;
  left: 8%;
}
#offering-services #offeringsCarousel .owl-item .item .profile-info h1 {
  font-size: 124px;
  line-height: 103px;
  overflow: visible;
  position: relative;
  max-width: 100%;
  width: 100%;
  left: -300px;
  top: 0;
  text-indent: 0;
  color: #1e1e1e;
  opacity: 1;
  -webkit-transform: scale(1);
  -khtml-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#offering-services #offeringsCarousel .owl-item .item .profile-info h1 span {
  text-transform: none;
  color: #1e1e1e;
  display: block;
  font-family: Times, serif;
  font-size: 28px;
  line-height: 34px;
  font-style: italic;
}
#offering-services #offeringsCarousel .owl-item .item .profile-info p {
  max-width: 440px;
  width: 100%;
  font-size: 18px;
  line-height: 27px;
  margin-top: 60px;
}
#offering-services #offeringsCarousel .owl-item .item .profile-info p.sub-title {
  margin-top: 30px;
  font-family: Times, serif;
  font-style: italic;
  font-size: 28px;
  line-height: 28px;
}
#offering-services #offeringsCarousel .owl-item .item .profile {
  padding: 0;
}
#offering-services #offeringsCarousel .owl-item .item img {
  width: 100%;
}
#offering-services #offeringsCarousel .owl-item.active .item .profile-info {
  right: 20%;
}
#offering-services #offeringsCarousel .owl-item.active .item .profile-info h1 {
  font-size: 134px;
}
#offering-services #offeringsCarousel .owl-controls {
  position: absolute;
  width: 110px;
  top: 85%;
  right: 20%;
}
#offering-services #offeringsCarousel .owl-controls .owl-nav > div.owl-next {
  right: 24%;
  top: 65%;
}
#offering-services #offeringsCarousel .owl-controls .owl-nav > div.owl-prev {
  right: 55%;
  left: auto;
  top: 65%;
}
#offering-services.active #serviceFilter {
  top: 0;
  opacity: 1;
}
#offering-services.active #offeringsCarousel {
  -webkit-transform: translateY(0%);
  -khtml-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}
#offering-services.active h1 {
  opacity: 1;
  left: 25.1%;
  -webkit-transform: scale(1);
  -khtml-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  text-indent: 0;
}
#intro-works {
  padding: 0;
  width: 100%;
  max-width: 3000px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  background: #000000;
  height: 900px;
  background: url(../images/works-top-bg.jpg) no-repeat 0% 0%;
  background-size: 100%;
}
#intro-works h1 {
  text-transform: uppercase;
  font-size: 180px;
  line-height: 155px;
  font-size: 10vw;
  line-height: 8vw;
  overflow: hidden;
  max-width: 680px;
  position: absolute;
  top: 0;
  left: 38.1%;
  text-indent: 0;
  color: #fff100;
  opacity: 0;
  -webkit-transform: scale(1);
  -khtml-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#intro-works h1 span {
  color: #ffffff;
  font-family: 'avenir-black';
}
#intro-works h2 {
  font-size: 75px;
  line-height: 208px;
  font-size: 4vw;
  line-height: 12vw;
  max-width: 45%;
  overflow: hidden;
  position: absolute;
  left: 50.1%;
  top: 53%;
  text-indent: 0;
  color: #ffffff;
  opacity: 0;
  -webkit-transform: scale(0);
  -khtml-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
#intro-works.active h1 {
  opacity: 1;
  top: 22%;
  left: 38.1%;
  -webkit-transform: scale(1);
  -khtml-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  text-indent: 0;
}
#intro-works.active h2 {
  opacity: 1;
  top: 47%;
  left: 54.1%;
  -webkit-transform: scale(1);
  -khtml-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#gallery-work {
  position: relative;
  overflow: hidden;
  width: 100%;
}
#gallery-work #worksFilter {
  max-width: 980px;
  width: 100%;
  position: relative;
  top: 90px;
  opacity: 0;
  margin: 0 auto;
  padding: 40px 0 100px 0;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
}
#gallery-work #worksFilter li {
  list-style: none;
  display: block;
  font-family: 'avenir-black';
  float: left;
  width: 100%;
  max-width: 195px;
}
#gallery-work #worksFilter li a,
#gallery-work #worksFilter li span {
  font-family: inherit;
  font-size: 15px;
  line-height: 18px;
  position: relative;
  opacity: 0.3;
  padding: 15px 0px 10px 0px;
  width: 100%;
  display: block;
  text-align: left;
  cursor: pointer;
  *cursor: hand;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
}
#gallery-work #worksFilter li a:before,
#gallery-work #worksFilter li span:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background: #000000;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
}
#gallery-work #worksFilter li a.active,
#gallery-work #worksFilter li span.active,
#gallery-work #worksFilter li a:hover,
#gallery-work #worksFilter li span:hover {
  opacity: 1;
}
#gallery-work #workGallery {
  opacity: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
}
#gallery-work #workGallery .picture-item {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  cursor: pointer;
  *cursor: hand;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
}
#gallery-work #workGallery .picture-item img {
  position: relative;
  z-index: 1;
  width: 100%;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
}
#gallery-work #workGallery .picture-item .overlay {
  width: 100%;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: #000000;
  z-index: 2;
  opacity: 0;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
}
#gallery-work #workGallery .picture-item .title {
  position: absolute;
  z-index: 3;
  bottom: 15%;
  left: 15%;
  opacity: 0;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
}
#gallery-work #workGallery .picture-item .title h1 {
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transform: scale(0);
  -khtml-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  font-size: 50px;
  line-height: 43px;
  max-width: 50%;
  margin: 0;
}
#gallery-work #workGallery .picture-item .title h2 {
  -webkit-transform: scale(0);
  -khtml-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  font-size: 19px;
  line-height: 17px;
  color: #ffffff;
  margin: 5px 0 0 0;
}
#gallery-work #workGallery .picture-item:hover .title {
  opacity: 1;
}
#gallery-work #workGallery .picture-item:hover .title h1,
#gallery-work #workGallery .picture-item:hover .title h2 {
  -webkit-transform: scale(1);
  -khtml-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#gallery-work #workGallery .picture-item:hover .overlay {
  opacity: 0.9;
  height: 100%;
}
#gallery-work.active #worksFilter {
  top: 0;
  opacity: 1;
}
#gallery-work.active #workGallery {
  opacity: 1;
}
#intro-projects {
  padding: 0;
  width: 100%;
  max-width: 3000px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  background: #000000;
  height: 900px;
  background: url(../images/works-top-bg.jpg) no-repeat 0% 0%;
  background-size: 100%;
}
#intro-projects h1 {
  text-transform: uppercase;
  font-size: 160px;
  line-height: 130px;
  font-size: 8vw;
  line-height: 6.4vw;
  overflow: visible;
  max-width: 750px;
  position: absolute;
  top: 28%;
  left: 10.1%;
  text-indent: 0;
  color: #ffffff;
  opacity: 0;
  -webkit-transform: scale(1);
  -khtml-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#intro-projects h1 span {
  color: #ffffff;
  font-family: 'avenir-black';
}
#intro-projects h2 {
  font-size: 70px;
  line-height: 206px;
  font-size: 4vw;
  line-height: 12vw;
  overflow: visible;
  position: absolute;
  top: 49%;
  left: 33.6%;
  text-indent: 0;
  color: #ffffff;
  opacity: 0;
}
#intro-projects h2.kwid-green {
  color: #d9ff30;
}
#intro-projects.jti {
  background: url(../images/projects/jti/promise-work-jti-header.jpg) no-repeat 0% 0%;
  background-size: 100%;
}
#intro-projects.cna-halloween {
  background: url(../images/projects/cna-halloween/promise-work-cna-halloween-header.jpg) no-repeat 0% 0%;
  background-size: 100%;
}
#intro-projects.cna-halloween h1 {
  top: 28%;
  left: 10.1%;
}
#intro-projects.cna-halloween h2 {
  top: 49%;
  left: 33.6%;
}
#intro-projects.fyfes {
  background: url(../images/projects/fyfes/promise-work-fyfes-header.jpg) no-repeat 0% 0%;
  background-size: 100%;
}
#intro-projects.fyfes h1 {
  top: 31%;
  left: 38.1%;
}
#intro-projects.fyfes h2 {
  top: 52%;
  left: 38.3%;
}
#intro-projects.cna-smart-kids {
  background: url(../images/projects/cna-smart-kids/promise-work-cna-smart-kids-header.jpg) no-repeat 0% 0%;
  background-size: 100%;
}
#intro-projects.cna-smart-kids h1 {
  top: 28%;
  left: 10.1%;
}
#intro-projects.cna-smart-kids h2 {
  top: 49%;
  left: 33.6%;
}
#intro-projects.jyoc {
  background: url(../images/projects/jyoc/promise-work-jyoc-header.jpg) no-repeat 0% 0%;
  background-size: 100%;
}
#intro-projects.jyoc h1 {
  top: 0%;
  left: 21.1%;
  max-width: 890px;
}
#intro-projects.jyoc h2 {
  top: 54%;
  left: 21.5%;
}
#intro-projects.camel-augmented {
  background: url(../images/projects/camel-augmented/promise-work-camel-augmented-header.jpg) no-repeat 0% 0%;
  background-size: 100%;
}
#intro-projects.camel-augmented h1 {
  top: 0%;
  left: 21.1%;
}
#intro-projects.camel-augmented h2 {
  top: 54%;
  left: 21.5%;
}
#intro-projects.brutal-fruit-switch {
  background: url(../images/projects/brutal-fruit-blesser/promise-work-brutal-fruit-switch-header.jpg) no-repeat 0% 0%;
  background-size: 100%;
}
#intro-projects.brutal-fruit-loyalty-platform {
  background: url(../images/projects/brutal-fruit-loyalty-platform/promise-work-brutal-fruit-loyalty-platform-header.jpg) no-repeat 0% 0%;
  background-size: 100%;
}
#intro-projects.emperor-asset-management-ci-refresh {
  background: url(../images/projects/emperor-asset-management-ci-refresh/promise-work-emperor-asset-management-ci-refresh-header.jpg) no-repeat 0% 0%;
  background-size: 100%;
}
#intro-projects.behance-heart-of-gold {
  background: url(../images/projects/behance-heart-of-gold/promise-work-behance-heart-of-gold-header.jpg) no-repeat 0% 0%;
  background-size: 100%;
}
#intro-projects.behance-scripts-with-depth {
  background: url(../images/projects/behance-scripts-with-depth/promise-work-behance-scripts-with-depth-header.jpg) no-repeat 0% 0%;
  background-size: 100%;
}
#intro-projects.behance-scripts-with-depth h1 {
  top: 8%;
  left: 20.1%;
}
#intro-projects.behance-handmade-type {
  background: url(../images/projects/behance-handmade-type/promise-work-behance-handmade-type-header.jpg) no-repeat 0% 0%;
  background-size: 100%;
}
#intro-projects.behance-handmade-type h1 {
  top: 8%;
  left: 20.1%;
}
#intro-projects.photography {
  background: url(../images/projects/photography/promise-work-photography-header.jpg) no-repeat 0% 0%;
  background-size: 100%;
}
#intro-projects.photography h1 {
  top: 15%;
  left: 20.1%;
}
#intro-projects.megane {
  background: url(../images/projects/renault-megane/promise-work-renault-megane-header.jpg) no-repeat 0% 0%;
  background-size: 100%;
}
#intro-projects.megane h1 {
  top: 8%;
  left: 20.1%;
}
#intro-projects.megane h2 {
  top: 54%;
  left: 20.6%;
}
#intro-projects.kwid {
  background: url(../images/projects/renault-kwid/promise-work-renault-kwid-header.jpg) no-repeat 0% 0%;
  background-size: 100%;
}
#intro-projects.kwid h1 {
  top: 8%;
  left: 20.1%;
}
#intro-projects.kwid h2 {
  top: 54%;
  left: 20.6%;
}
#intro-projects.kadjar {
  background: url(../images/projects/renault-kadjar/promise-work-renault-kadjar-header.jpg) no-repeat 0% 0%;
  background-size: 100%;
}
#intro-projects.kadjar h1 {
  top: 8%;
  left: 20.1%;
}
#intro-projects.kadjar h2 {
  top: 54%;
  left: 20.6%;
}
#intro-projects.active h1 {
  opacity: 1;
  top: 28%;
  left: 20.1%;
  transform: scale(1);
  text-indent: 0;
}
#intro-projects.active h2 {
  opacity: 1;
  top: 49%;
  left: 20.6%;
}
#intro-projects.active.fyfes h1 {
  top: 31%;
  left: 38.1%;
}
#intro-projects.active.fyfes h2 {
  top: 52%;
  left: 38.3%;
}
#intro-projects.active.jti h1 {
  opacity: 1;
  top: 40%;
  left: 20.1%;
  transform: scale(1);
  text-indent: 0;
}
#intro-projects.active.jti h2 {
  opacity: 1;
  top: 49%;
  left: 19.6%;
}
#intro-projects.active.camel-augmented h1 {
  top: 28%;
  left: 21.1%;
}
#intro-projects.active.camel-augmented h2 {
  top: 47%;
  left: 21.5%;
}
#intro-projects.active.jyoc h1 {
  top: 28%;
  left: 21.1%;
}
#intro-projects.active.jyoc h2 {
  top: 47%;
  left: 21.5%;
}
#intro-projects.active.cna-halloween h1 {
  opacity: 1;
  top: 28%;
  left: 20.1%;
  transform: scale(1);
  text-indent: 0;
}
#intro-projects.active.cna-halloween h2 {
  opacity: 1;
  top: 49%;
  left: 20.6%;
}
#intro-projects.active.cna-smart-kids h1 {
  opacity: 1;
  top: 28%;
  left: 20.1%;
  transform: scale(1);
  text-indent: 0;
}
#intro-projects.active.cna-smart-kids h2 {
  opacity: 1;
  top: 49%;
  left: 20.6%;
}
#intro-projects.active.behance-scripts-with-depth h1 {
  top: 16%;
  left: 20.1%;
}
#intro-projects.active.photography h1 {
  top: 42%;
  left: 20.1%;
}
#campaign-projects {
  padding: 140px 20%;
  overflow: hidden;
  width: 100%;
}
#campaign-projects h1 {
  text-transform: uppercase;
  font-size: 90px;
  line-height: 70px;
  margin: 0 0 40px 0;
  max-width: 50%;
  max-width: 10vw;
  opacity: 0;
  position: relative;
  will-change: transform;
  -webkit-transform: translateX(-900px);
  -khtml-transform: translateX(-900px);
  -moz-transform: translateX(-900px);
  -ms-transform: translateX(-900px);
  transform: translateX(-900px);
}
#campaign-projects h2.kwid-green {
  color: #d9ff30;
}
#campaign-projects h2.kadjar-yellow {
  color: #ffcd11;
}
#campaign-projects h2.brutal-pink {
  color: #971c4d;
}
#campaign-projects p {
  position: relative;
  will-change: transform;
  -webkit-transform: translateX(900px);
  -khtml-transform: translateX(900px);
  -moz-transform: translateX(900px);
  -ms-transform: translateX(900px);
  transform: translateX(900px);
  opacity: 0;
  font-size: 28px;
  line-height: 42px;
  font-style: italic;
  max-width: 80%;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
}
#campaign-projects.margin-bottom {
  margin-bottom: 60px;
}
#campaign-projects.active h1 {
  opacity: 1;
  -webkit-transform: translateX(0);
  -khtml-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
#campaign-projects.active p {
  opacity: 1;
  -webkit-transform: translateX(0);
  -khtml-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.image-projects {
  position: relative;
  overflow: hidden;
  padding: 140px 0;
}
.image-projects img {
  width: 100%;
  display: block;
  opacity: 0;
  transform: translateY(220px);
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
}
.image-projects .video-carousel {
  padding: 100px 0;
  min-height: 600px;
  height: 90vh;
}
.image-projects .video-carousel .owl-video-tn {
  background-size: 100% !important;
}
.image-projects .video-carousel.blesser-video .owl-video-tn {
  background-image: url(../images/projects/brutal-fruit-blesser/promise-work-brutal-fruit-blesser-thumbnail.png) !important;
}
.image-projects .video-carousel.fyfes-video .owl-video-tn {
  background-image: url(../images/projects/fyfes/promise-work-fyfes-thumbnail.png) !important;
}
.image-projects .video-carousel div {
  height: 100%;
}
.image-projects.no-pad {
  padding: 0;
}
.image-projects.animate-left img {
  -webkit-transition: all cubic-bezier(0.1, 0.67, 0.1, 1.05) 1.3s;
  -khtml-transition: all cubic-bezier(0.1, 0.67, 0.1, 1.05) 1.3s;
  -moz-transition: all cubic-bezier(0.1, 0.67, 0.1, 1.05) 1.3s;
  transition: all cubic-bezier(0.1, 0.67, 0.1, 1.05) 1.3s;
  -webkit-transform: translateY(0px) translateX(-820px);
  -khtml-transform: translateY(0px) translateX(-820px);
  -moz-transform: translateY(0px) translateX(-820px);
  -ms-transform: translateY(0px) translateX(-820px);
  transform: translateY(0px) translateX(-820px);
}
.image-projects.animate-right img {
  -webkit-transition: all cubic-bezier(0.1, 0.67, 0.1, 1.05) 1.3s;
  -khtml-transition: all cubic-bezier(0.1, 0.67, 0.1, 1.05) 1.3s;
  -moz-transition: all cubic-bezier(0.1, 0.67, 0.1, 1.05) 1.3s;
  transition: all cubic-bezier(0.1, 0.67, 0.1, 1.05) 1.3s;
  -webkit-transform: translateY(0px) translateX(820px);
  -khtml-transform: translateY(0px) translateX(820px);
  -moz-transform: translateY(0px) translateX(820px);
  -ms-transform: translateY(0px) translateX(820px);
  transform: translateY(0px) translateX(820px);
}
.image-projects.photography {
  padding: 40px 0;
}
.image-projects.active img {
  -webkit-transform: translateX(0);
  -khtml-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0px);
  opacity: 1;
}
.image-projects.active.animate-left img {
  -webkit-transform: translateX(0) translateY(0px);
  -khtml-transform: translateX(0) translateY(0px);
  -moz-transform: translateX(0) translateY(0px);
  -ms-transform: translateX(0) translateY(0px);
  transform: translateX(0px) translateY(0px);
}
.info-projects {
  position: relative;
  padding: 20px 0;
}
.info-projects h1 {
  font-size: 90px;
  line-height: 75px;
  text-transform: uppercase;
}
.info-projects h1 span {
  font-family: 'avenir-black';
  display: block;
}
.info-projects p {
  padding: 20px 0;
  max-width: 85%;
  font-size: 28px;
  line-height: 42px;
  font-style: italic;
}
.info-projects.intro-section {
  padding-top: 160px;
}
.info-projects.parallax-bg {
  color: #ffffff;
  padding: 140px 18%;
}
.info-projects.parallax-bg.megane {
  background: url(../images/projects/renault-megane/promise-work-renault-megane-4.jpg) no-repeat 75% 0%;
  background-attachment: fixed !important;
  background-size: cover;
}
.info-projects.parallax-bg.kwid {
  background: url(../images/projects/renault-kwid/promise-work-renault-kwid-5.jpg) no-repeat 75% 0%;
  background-attachment: fixed !important;
  background-size: cover;
}
.info-projects.parallax-bg.kadjar {
  background: url(../images/projects/renault-kadjar/promise-work-renault-kadjar-5.jpg) no-repeat 75% 0%;
  background-attachment: fixed !important;
  background-size: cover;
}
.info-projects.parallax-bg.bf-blesser {
  background: url(../images/projects/brutal-fruit-blesser/promise-work-brutal-fruit-blesser-parallax.jpg) no-repeat 75% 0%;
  background-attachment: fixed !important;
  background-size: cover;
}
.info-projects.pad-top {
  padding-top: 90px;
}
.info-projects.pad-bottom {
  padding-bottom: 90px;
}
#nextProject {
  padding: 140px 0;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 100px;
}
#nextProject:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 400px;
  top: 0;
  left: 0;
  background: #000000;
  z-index: 1;
  opacity: 0.8;
}
#nextProject a {
  position: relative;
  z-index: 2;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 60px;
  font-family: 'avenir-black';
  text-align: center;
  display: block;
}
#nextProject p {
  position: relative;
  z-index: 2;
  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  font-style: italic;
}
#nextProject .image-holder {
  z-index: 1;
  width: 100%;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
}
#nextProject .image-holder.cna-smart {
  background: url(../images/next-preview/next-project-cna-smart-kids.jpg) no-repeat 0% 0%;
  background-size: 100%;
  background-attachment: fixed;
}
#nextProject .image-holder.cna-hallow {
  background: url(../images/next-preview/next-project-cna-halloween-2.jpg) no-repeat 0% 0%;
  background-size: 100%;
  background-attachment: fixed;
}
#nextProject .image-holder.camel-augment {
  background: url(../images/next-preview/next-project-camel-augmented-reality.jpg) no-repeat 0% 0%;
  background-size: 100%;
  background-attachment: fixed;
}
#nextProject .image-holder.brutal-fruit-bless {
  background: url(../images/next-preview/next-project-bf-blesser.jpg) no-repeat 0% 0%;
  background-size: 100%;
  background-attachment: fixed;
}
#nextProject .image-holder.brutal-fruit-party {
  background: url(../images/next-preview/next-project-party-store.jpg) no-repeat 0% 0%;
  background-size: 100%;
  background-attachment: fixed;
}
#nextProject .image-holder.emperor-asset {
  background: url(../images/next-preview/next-project-eam.jpg) no-repeat 0% 0%;
  background-size: 100%;
  background-attachment: fixed;
}
#nextProject .image-holder.fyfes {
  background: url(../images/next-preview/next-project-fyfes.jpg) no-repeat 0% 0%;
  background-size: 100%;
  background-attachment: fixed;
}
#nextProject .image-holder.jyo {
  background: url(../images/next-preview/next-project-jyo.jpg) no-repeat 0% 0%;
  background-size: 100%;
  background-attachment: fixed;
}
#nextProject .image-holder.kwid-launch {
  background: url(../images/next-preview/next-project-kwid.jpg) no-repeat 0% 0%;
  background-size: 100%;
  background-attachment: fixed;
}
#nextProject .image-holder.megane-launch {
  background: url(../images/next-preview/next-project-megane.jpg) no-repeat 0% 0%;
  background-size: 100%;
  background-attachment: fixed;
}
#nextProject .image-holder.kadjar-launch {
  background: url(../images/next-preview/next-project-renault-kadjar.jpg) no-repeat 0% 0%;
  background-size: 100%;
  background-attachment: fixed;
}
#nextProject .image-holder.pro-heart {
  background: url(../images/next-preview/next-project-gold-heart.jpg) no-repeat 0% 0%;
  background-size: 100%;
  background-attachment: fixed;
}
#nextProject .image-holder.pro-handmade {
  background: url(../images/next-preview/next-project-handmade-type.jpg) no-repeat 0% 0%;
  background-size: 100%;
  background-attachment: fixed;
}
#nextProject .image-holder.pro-scripts {
  background: url(../images/next-preview/next-project-scripts-with-depth.jpg) no-repeat 0% 0%;
  background-size: 100%;
  background-attachment: fixed;
}
#nextProject .image-holder.pro-photo {
  background: url(../images/next-preview/next-project-photography.jpg) no-repeat 0% 0%;
  background-size: 100%;
  background-attachment: fixed;
}
#intro-about.error {
  padding: 0;
  width: 100%;
  max-width: 3000px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  background: #000000;
  height: 100%;
  min-height: 934px;
  background: url(../images/works-top-bg.jpg) no-repeat 0% 0%;
  background-size: cover;
}
#intro-about.error h1 {
  text-transform: uppercase;
  font-size: 180px;
  line-height: 165px;
  font-size: 10vw;
  line-height: 9vw;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 38.1%;
  text-indent: 0;
  color: #fff100;
  opacity: 0;
  transform: scale(1);
}
#intro-about.error h1 span {
  color: #ffffff;
  font-family: 'avenir-black';
}
#intro-about.error h2 {
  font-size: 75px;
  line-height: 208px;
  font-size: 4vw;
  line-height: 12vw;
  max-width: 45%;
  overflow: hidden;
  position: absolute;
  left: 50.1%;
  top: 53%;
  text-indent: 0;
  color: #ffffff;
  opacity: 0;
  transform: scale(0);
}
#intro-about.error.active h1 {
  opacity: 1;
  top: 22%;
  left: 38.1%;
  transform: scale(1);
  text-indent: 0;
}
#intro-about.error.active h2 {
  opacity: 1;
  top: 50%;
  left: 46.1%;
  transform: scale(1);
}
.parallax-breaker {
  padding: 0;
  width: 100% !important;
  max-width: 3000px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  background: #000000;
  height: 400px;
  background: url(../images/about-top-bg.jpg) no-repeat 75% 0%;
  background-attachment: fixed !important;
  background-size: cover;
}
#rotateScreen {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 0px;
  background: #ffcc33 url(../images/rotate-screen.jpg) no-repeat center center;
  background-size: cover;
  will-change: transform;
  -webkit-transform: scale(0);
  -khtml-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all cubic-bezier(0.18, 0.89, 0.26, 1.08) 0.7s;
  -khtml-transition: all cubic-bezier(0.18, 0.89, 0.26, 1.08) 0.7s;
  -moz-transition: all cubic-bezier(0.18, 0.89, 0.26, 1.08) 0.7s;
  -ms-transition: all cubic-bezier(0.18, 0.89, 0.26, 1.08) 0.7s;
  transition: all cubic-bezier(0.18, 0.89, 0.26, 1.08) 0.7s;
}
#rotateScreen.active {
  -webkit-transform: scale(1);
  -khtml-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  width: 100%;
  display: block;
}
#modal {
  position: fixed;
  left: 34%;
  top: 25%;
  z-index: 11;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  box-shadow: none;
  border: 1px solid #fff100;
  -webkit-backface-visibility: hidden;
  transition: all 0.3s ease-out 0.2s;
  -webkit-transition: all 0.3s ease-out 0.2s;
  -moz-transition: all 0.3s ease-out 0.2s;
  -khtml-transition: all 0.3s ease-out 0.2s;
  -o-transition: all 0.3s ease-out 0.2s;
  -ms-transition: all 0.3s ease-out 0.2s;
}
#modal #close {
  background: url(../images/icons/close-icon.png) 0px 0px no-repeat;
  display: block;
  width: 15px;
  height: 14px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 12;
  cursor: pointer;
  *cursor: hand;
  transition: all 0.3s ease-out 0.2s;
  -webkit-transition: all 0.3s ease-out 0.2s;
  -moz-transition: all 0.3s ease-out 0.2s;
  -khtml-transition: all 0.3s ease-out 0.2s;
  -o-transition: all 0.3s ease-out 0.2s;
  -ms-transition: all 0.3s ease-out 0.2s;
}
#modal #close:hover {
  background-position: 0px -19px;
}
#modal .modal-content {
  padding: 80px;
  border-radius: 0;
  border: 0;
  box-shadow: none !important;
}
#modal .modal-content .button {
  color: #1e1e1e;
  width: 100%;
  max-width: 350px;
  cursor: pointer;
  *cursor: hand;
  border: 1px solid #666666;
  padding: 15px;
}
#modal .modal-content .browsers {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 20px 0;
}
#modal .modal-content .browsers a {
  width: 100px;
  height: 139px;
  display: block;
  float: left;
  margin-right: 5px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter ….3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
#modal .modal-content .browsers a:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter …\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
}
#modal .modal-content .browsers a:last-child {
  margin-right: 0;
}
#modal .modal-content .browsers a.firefox {
  background: url(../images/icons/icon-firefox.png) no-repeat center center;
}
#modal .modal-content .browsers a.chrome {
  background: url(../images/icons/icon-chrome.png) no-repeat center center;
}
#modal .modal-content .browsers a.opera {
  background: url(../images/icons/icon-opera.png) no-repeat center center;
}
#modal .modal-content .browsers a.safari {
  background: url(../images/icons/icon-safari.png) no-repeat center center;
}
#modal .modal-content h3 {
  font-family: 'renault_lifebold';
  color: #fff100;
  font-style: normal;
  font-size: 62px;
  line-height: 50px;
  margin-bottom: 40px;
}
#modal .modal-content h3:after {
  background: none;
}
#modal .modal-content p {
  position: relative;
  font-family: 'renault_lifebold';
  color: #1e1e1e;
  font-style: italic;
  font-size: 15px;
}
#modal .modal-content p span {
  position: relative;
  display: block;
  font-family: 'renault_lifebold';
  color: #666666;
  font-style: italic;
  font-size: 15px;
}
#modal .modal-content p:after {
  content: '';
  top: -20px;
  position: absolute;
  display: block;
  height: 10px;
  width: 30px;
  border-bottom: 3px solid #666666;
}
#modalScreen {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(../images/graph-holder-bg.png);
  -webkit-backface-visibility: hidden;
  transition: all 0.3s ease-out 0.2s;
  -webkit-transition: all 0.3s ease-out 0.2s;
  -moz-transition: all 0.3s ease-out 0.2s;
  -khtml-transition: all 0.3s ease-out 0.2s;
  -o-transition: all 0.3s ease-out 0.2s;
  -ms-transition: all 0.3s ease-out 0.2s;
}
.page-master {
  overflow: hidden;
}
@keyframes drop-arrow {
  0% {
    -webkit-transform: translate(0, -7px);
    -khtml-transform: translate(0, -7px);
    -moz-transform: translate(0, -7px);
    -ms-transform: translate(0, -7px);
    transform: translate(0, -7px);
  }
  34% {
    -webkit-transform: translate(0, 7px);
    -khtml-transform: translate(0, 7px);
    -moz-transform: translate(0, 7px);
    -ms-transform: translate(0, 7px);
    transform: translate(0, 7px);
  }
  48% {
    -webkit-transform: translate(0, -7px);
    -khtml-transform: translate(0, -7px);
    -moz-transform: translate(0, -7px);
    -ms-transform: translate(0, -7px);
    transform: translate(0, -7px);
  }
  82% {
    -webkit-transform: translate(0, 0);
    -khtml-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -khtml-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.page-master .next-section {
  width: 24px;
  height: 24px;
  background: url(../images/icons/svg/iconmonstr-arrow-65.svg) no-repeat center center;
  position: absolute;
  bottom: 4%;
  left: 48%;
  left: 48vw;
  z-index: 3;
  will-change: animation;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.7s;
  animation: drop-arrow alternate infinite 3s cubic-bezier(0.52, 0.01, 0.16, 1);
}
.page-master .next-section:hover {
  bottom: 3%;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}
.page-master.dark {
  color: #ffffff;
}
.page-master.light {
  color: #1e1e1e;
}
.page-master.light p {
  color: #1e1e1e;
}
.carousel .owl-controls .owl-nav > div {
  width: 24px;
  height: 78px;
  text-indent: -9999999px;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
}
.carousel .owl-controls .owl-nav > div.owl-prev {
  background: url(../images/icons/svg/iconmonstr-arrow-64.svg) no-repeat left center;
  position: absolute;
  left: 50px;
  top: 40%;
}
.carousel .owl-controls .owl-nav > div.owl-next {
  background: url(../images/icons/svg/iconmonstr-arrow-63.svg) no-repeat right center;
  position: absolute;
  right: 50px;
  top: 40%;
}
.carousel .owl-stage-outer {
  overflow: visible;
}
.carousel .owl-stage-outer .owl-item img {
  width: 100%;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
}
.carousel .owl-stage-outer .owl-item .btn {
  position: absolute;
  bottom: 10%;
  left: 70%;
  opacity: 0;
  z-index: 2;
}
.carousel .owl-stage-outer .owl-item.active .btn {
  opacity: 1;
  left: 80%;
}
.selectric-wrapper .selectric {
  border: 1px solid #878787;
}
.selectric-wrapper .selectric .label {
  text-transform: none;
  font-size: 14px;
}
.selectric-wrapper .selectric-items {
  border: 1px solid #878787;
  border-radius: 0;
}
.selectric-wrapper .selectric-items:before {
  border-bottom: 6px solid #878787;
}
.selectric-wrapper .selectric-items li {
  color: #000000;
}
.selectric-wrapper .selectric-items li:after {
  background: url(../images/icons/icon-selected.png) no-repeat top left;
  width: 24px;
}
.selectric-wrapper .selectric-items li:hover {
  background: #ffffff;
  color: #000000;
  font-weight: bold;
}
.selectric-wrapper .selectric-items li.selected {
  background: #ffffff;
  color: #000000;
  font-weight: bold;
}
.parallax-bg {
  background-attachment: fixed !important;
}
