html {
  position: relative;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background:#ffffff;
  color:#ffffff;
  font-family: Times, serif;
  width:100%;
  overflow-x:hidden;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important;

  will-change:background;

  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.9s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.9s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.9s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.9s;

}

a {
  text-decoration:none;
  border:0; border:none;
  outline:0 !important;
  -webkit-font-smoothing: antialiased !important;

  img {
    border:0; border:none;
  }
}

// generic styles

// preloader modal animation
@keyframes loading-anim {
  0% {
    transform: translate(0, 0);
    width:0;
  }
  100% {
    transform: translate(300%, 0);
    width:45%;
  }
}
.page-loader{
  position: fixed;
  z-index: 19;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background: @mainCol2;
  display: block;

  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.4s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.4s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.4s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.4s;

  .fa {
    font-size: 2.5rem;
  }
  .logo {
    display:block;
    margin:0 auto;
    width:100%;
    max-width:10vw;
    margin-top: 20vw;
  }

  .loader-bar {
    width:100%;
    height:8px;
    margin:0 auto;
    overflow:hidden;
    z-index:9;
    position: absolute;
    bottom:0;
    -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.4s;
    -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.4s;
    -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.4s;
    transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.4s;


    &:after {
      content:'';
      //background: linear-gradient(45deg,@mainCol2,@mainCol1,@mainCol2);
      background: @mainCol1;
      position:absolute;
      width:20%;
      height:100%;
      left:0;
      top:0px;

      -webkit-animation: loading-anim 3s infinite forwards;
      -khtml-animation: loading-anim 3s infinite forwards;
      -moz-animation: loading-anim 3s infinite forwards;
      -ms-animation: loading-anim 3s infinite forwards;
      -o-animation: loading-anim 3s infinite forwards;
      -webkit-animation-play-state: running;
      animation-play-state: running;

      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
      -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
    }
    &:before {
      content:'';
      //background:linear-gradient(45deg, @mainCol2,@mainCol1,@mainCol2);
      background:@mainCol1;
      position:absolute;
      width:20%;
      height:100%;
      left:0;
      top:0;

      -webkit-animation: loading-anim 3s infinite reverse;
      -khtml-animation: loading-anim 3s infinite reverse;
      -moz-animation: loading-anim 3s infinite reverse;
      -ms-animation: loading-anim 3s infinite reverse;
      -o-animation: loading-anim 3s infinite reverse;
      -webkit-animation-play-state: running;
      animation-play-state: running;

      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
      -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
    }
  }

  &.visible {
    opacity: 1;
  }
  &.hidden {
    opacity: 0;

    .loader-bar {
      height:0;
    }
  }


}

// global color variables
@footerCol: #24298f;
// quick colors
@mainCol1: #eb3f43;
@mainCol2: #f5bac5;
@mainCol3: #ffffff;
@mainCol4: #24298f;
@mainCol5: #d6d972;

@secCol1: #1e1e1e;
@secCol2: #000;
@secCol3: #000;

::-webkit-scrollbar {
  width: 5px;
}
::-khtml-scrollbar {
  width: 5px;
}
::-moz-scrollbar {
  width: 5px;
}
::-ms-scrollbar {
  width: 5px;
}
::-o-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 120px 120px 124px rgba(36, 41, 143, 1)
}
::-khtml-scrollbar-track {
  -webkit-box-shadow: inset 120px 120px 124px rgba(36, 41, 143, 1)
}
::-moz-scrollbar-track {
  -webkit-box-shadow: inset 120px 120px 124px rgba(36, 41, 143, 1)
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 76px @mainCol1;
}
::-khtml-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 76px @mainCol1;
}
::-moz-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 76px @mainCol1;
}


// global colours ends
.onlymobile {display:none}

.container {
  position: relative;
  background:#ffffff;

  &.dark-bg {
    background:@mainCol1;
    color:#ffffff;
  }
}

.container-fluid {
  //-webkit-transform: translate3d(0, 0, 0);
  background:transparent !important;
  &.dark-bg {
    background:@mainCol1;
    color:#ffffff;
  }
}

// generic styles ends
/* colours */
.color-pink {
  background-color: @mainCol2;
}
.color-red {
  background-color: @mainCol1;
}
.color-blue {
  background-color: @mainCol4;
}
.color-green {
  background-color: @mainCol5;
}
.color-black {
  background-color: #000000;
}
// container sections

// navigation styles
.mobile-nav-btn {
  width: 40px;
  height: 40px;
  position: fixed;
  z-index: 99;
  top: 10px;
  right: 40px;
  cursor:pointer; *cursor:hand;
  display:none;
  filter: brightness(1);
  will-change:transform, opacity, filter;

  -webkit-transform: translateX(0);
  -khtml-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform:translateX(0);


  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;

  span {
    background: @mainCol1;
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    position:relative;

    will-change: transform;

    -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
    -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
    -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
    transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;

  }

  &.active {
    filter: brightness(6);
    .shape1 {
      -webkit-transform: rotate(-45deg) translateX(-4px) translateY(5px);
      -khtml-transform: rotate(-45deg) translateX(-4px) translateY(5px);
      -moz-transform: rotate(-45deg) translateX(-4px) translateY(5px);
      -ms-transform: rotate(-45deg) translateX(-4px) translateY(5px);
      -o-transform: rotate(-45deg) translateX(-4px) translateY(5px);
      transform: rotate(-45deg) translateX(-4px) translateY(5px);
      width: 40px;
    }
    .shape2 {
      -webkit-transform: translateX(5px);
      -khtml-transform: translateX(5px);
      -moz-transform: translateX(5px);
      -ms-transform: translateX(5px);
      -o-transform: translateX(5px);
      transform: translateX(5px);
      width:0;
    }
    .shape3 {
      -webkit-transform: rotate(45deg) translateX(-3px) translateY(-5px);
      -khtml-transform: rotate(45deg) translateX(-3px) translateY(-5px);
      -moz-transform: rotate(45deg) translateX(-3px) translateY(-5px);
      -ms-transform: rotate(45deg) translateX(-3px) translateY(-5px);
      -o-transform: rotate(45deg) translateX(-3px) translateY(-5px);
      transform: rotate(45deg) translateX(-3px) translateY(-5px);
      width: 40px;
    }
  }
  &.loading {
    -webkit-transform: translateX(190px);
    -khtml-transform: translateX(190px);
    -moz-transform: translateX(190px);
    -ms-transform: translateX(190px);
    -o-transform: translateX(190px);
    transform:translateX(190px);
    opacity:0;
  }
}
#top-nav {
  height: 85px;
  width: 100%;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 21;

  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;

  .nav-box {
    //max-width:1170px;
    width:100%;
    position:relative;
    padding:4vw 9vw 0 9vw;
    margin:0 auto;
    overflow:hidden;

    transition-delay: 2s;

    -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
    -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
    -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
    transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  }
  .logo {
    float: left;
    display: block;
    width: 300px;
    height: 60px;
    margin-top: -8px;
    will-change:transform;
    -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
    -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
    -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
    transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
    -webkit-transform: scale(1) translateX(0) translateY(0);
    -khtml-transform: scale(1) translateX(0) translateY(0);
    -moz-transform: scale(1) translateX(0) translateY(0);
    -ms-transform: scale(1) translateX(0) translateY(0);
    -o-transform: scale(1) translateX(0) translateY(0);
    transform: scale(1) translateX(0) translateY(0);
    right: 45px;
    position: relative;

  }

  .mobile-nav-btn {
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 9;
    top: 66px;
    right: 12vw;
    cursor:pointer; *cursor:hand;
    display:none;

    -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
    -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
    -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
    transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;

    span {
      background: @mainCol1;
      display: block;
      width: 100%;
      height: 4px;
      margin-bottom: 4px;
      position:relative;

      will-change: transform;

      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
      -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;

    }

    &.active {
      .shape1 {
        -webkit-transform: rotate(-45deg) translateX(-9px) translateY(3px);
        -khtml-transform: rotate(-45deg) translateX(-9px) translateY(3px);
        -moz-transform: rotate(-45deg) translateX(-9px) translateY(3px);
        -ms-transform: rotate(-45deg) translateX(-9px) translateY(3px);
        -o-transform: rotate(-45deg) translateX(-9px) translateY(3px);
        transform: rotate(-45deg) translateX(-9px) translateY(3px);
        width: 24px;
      }
      .shape2 {
        -webkit-transform: translateX(5px);
        -khtml-transform: translateX(5px);
        -moz-transform: translateX(5px);
        -ms-transform: translateX(5px);
        -o-transform: translateX(5px);
        transform: translateX(5px);
        width:0;
      }
      .shape3 {
        -webkit-transform: rotate(45deg) translateX(-9px) translateY(-3px);
        -khtml-transform: rotate(45deg) translateX(-9px) translateY(-3px);
        -moz-transform: rotate(45deg) translateX(-9px) translateY(-3px);
        -ms-transform: rotate(45deg) translateX(-9px) translateY(-3px);
        -o-transform: rotate(45deg) translateX(-9px) translateY(-3px);
        transform: rotate(45deg) translateX(-9px) translateY(-3px);
        width: 24px;
      }
    }
  }
  .menu {
    max-width:60%;
    padding: 0 40px;
    float:right;
    display:block;
    opacity:1;
    font-family: 'ogilvy-sans-bold';
    transition-delay: 2s;

    -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
    -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
    -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
    transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;

    a {
      font-family: 'ogilvy-sans-bold';
      margin:0 10px;
      position:relative;
      padding: 10px;
      width: auto;
      color:@mainCol1;
      display: inline-block;
      text-align: center;
      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
      -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;

      &:last-of-type {
        margin-right:0;

        &:after {
          content:'';
          position:absolute;
          width:100%; height:100%;
          border:2px solid @mainCol1;
          left:0; top:0;
        }
      }

      &:hover, &.active {
        opacity:0.8;
      }
    }
  }

  &.loading {

    .menu {
      opacity:0;
    }
  }

  &.active {
    background: @mainCol1;

    .logo {
      filter: brightness(6);
    }
  }

  @media screen and (min-width: 769px) and (max-width: 3200px) {
    &.minimal {
      height: 60px;
      background: @mainCol4;

      &:after {
        display:none;
      }
      .menu {

        a {
          color:@mainCol1;
        }
      }
      .mobile-nav-btn {
        top: 16px;
        span {
          background: @mainCol2;
        }
      }
      .logo {
        -webkit-transform: scale(0.6);
        -khtml-transform: scale(0.6);
        -moz-transform: scale(0.6);
        -ms-transform: scale(0.6);
        -o-transform: scale(0.6);
        transform: scale(0.6);
        margin-top: -10px;
        width: 300px;
        position: relative;
        right: 70px;

      }
      .nav-box {
        padding: 8px 9vw 10px 9vw;
      }

    }
  }

  @media screen and (min-width: 300px) and (max-width: 769px) {
    &.minimal {
      background: @mainCol4;

      &.active {
        background: @mainCol1;
      }
    }
  }

}
#sideNav {
  position:fixed;
  overflow: hidden;
  top:0;
  left:0;
  width:100%;
  height:0;
  z-index: 20;
  padding:4vw 9vw 0 9vw;
  background:transparent;
  will-change:transform;
  opacity:0;

  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.2s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.2s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.2s;
  -ms-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.2s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.2s;

  -webkit-transform: translateY(0px);
  -khtml-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);

  .logo {
    float: left;
    display: block;
    width: 300px;
    height: 60px;
    margin-top: -10px;
    right: -15px;
    position: relative;
    will-change:transform;
    -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
    -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
    -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
    transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
    -webkit-transform: scale(1);
    -khtml-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    filter: brightness(1);

  }

  .mobile-nav-btn {
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 9;
    top: 66px;
    right: 12vw;
    cursor:pointer; *cursor:hand;

    span {
      background: @mainCol3;
      display: block;
      width: 100%;
      height: 4px;
      margin-bottom: 4px;
      position:relative;

      will-change: transform;

      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
      -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;

    }

    &.active {
      .shape1 {
        -webkit-transform: rotate(-45deg) translateX(-8px) translateY(3px);
        -khtml-transform: rotate(-45deg) translateX(-8px) translateY(3px);
        -moz-transform: rotate(-45deg) translateX(-8px) translateY(3px);
        -ms-transform: rotate(-45deg) translateX(-8px) translateY(3px);
        -o-transform: rotate(-45deg) translateX(-8px) translateY(3px);
        transform: rotate(-45deg) translateX(-8px) translateY(3px);
        width: 24px;
      }
      .shape2 {
        -webkit-transform: translateX(5px);
        -khtml-transform: translateX(5px);
        -moz-transform: translateX(5px);
        -ms-transform: translateX(5px);
        -o-transform: translateX(5px);
        transform: translateX(5px);
        width:0;
      }
      .shape3 {
        -webkit-transform: rotate(45deg) translateX(-8px) translateY(-3px);
        -khtml-transform: rotate(45deg) translateX(-8px) translateY(-3px);
        -moz-transform: rotate(45deg) translateX(-8px) translateY(-3px);
        -ms-transform: rotate(45deg) translateX(-8px) translateY(-3px);
        -o-transform: rotate(45deg) translateX(-8px) translateY(-3px);
        transform: rotate(45deg) translateX(-8px) translateY(-3px);
        width: 24px;
      }
    }
  }
  #mainNav {
    display: block;
    padding: 7vw 2vw 0 2vw;
    width: 100%;
    text-align: left;
    margin: 0 auto;

    a {
      display:block;
      font-family: 'ogilvy-sans-bold';
      font-size: 30px;
      line-height: 30px;
      color:@mainCol3;
      padding:0;
      margin: 0 0 60px 0;
      position: relative;
      will-change:transform, padding;
      opacity:0;

      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.5s;
      -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.5s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.5s;
      -ms-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.5s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.5s;
    }
  }
  &.minimal {
    background: @mainCol4;
  }
  &.active {
    z-index: 21;
    top:0;
    opacity:1;
    -webkit-transform: translateY(0px);
    -khtml-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    height:100%;
    background:@mainCol1;

    .logo {
      filter: brightness(6);
    }

    #mainNav a {
      opacity:1;
      margin: 0 0 30px 0;

      &.active, &:hover {
        color:#F5BAC5;
      }
    }
  }
}
#backUp {
  position:fixed;
  z-index:-1;
  bottom:-21px;
  right:-21px;
  width:102px; height:102px;
  //background:#000000 url(../images/icons/svg/iconmonstr-arrow-66.svg) no-repeat center center;
  opacity:0;
  cursor:pointer; *cursor:hand;
  -webkit-transform: scale(0.4);
  -khtml-transform: scale(0.4);
  -moz-transform: scale(0.4);
  -ms-transform: scale(0.4);
  -o-transform: scale(0.4);
  transform: scale(0.4);

  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.5s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.5s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.5s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.5s;

  &.active {
    opacity:1;
    bottom:-21px;
    right:-21px;
    z-index:9;

    -webkit-transform: scale(0.6);
    -khtml-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
  }
}
.page-footer {
  position: relative;
  padding: 0;
  overflow: hidden;
  color: #fff;
  font-size: 11px;
  line-height:2px;
  font-weight: normal;
  width: 100% !important;
  margin-top: 0;
  z-index: 8;
  bottom:0;

  .footer-container {
    background:@footerCol;
    width: 100%;
    padding: 5vw 10vw 0 10vw;
    margin: 0 auto;
    display: block;
    text-align: left;

    h1 {
      margin-bottom:10px;
      font-size:30px; line-height:30px;
    }
    p {
      color: @mainCol3;
      font-size:16px;
      line-height: 26px;
      text-align:left;
      margin-bottom:0;
      font-family: 'ogilvy-sans-light';
    }

    a {
      color: @mainCol3;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      display: inline-block;
      margin-right: 20px;

      &:hover {
        color: @mainCol1;
      }

      &.footer-logo {
        max-width:130px;
        width:100%;
      }
    }
    .foot-info {
      padding:1vw;
      min-height: 220px;



      .links {
        float:right;
        padding: 20px 0 20px 0;
        font-family: 'ogilvy-serif-reg';

        a {
          margin-right:20px;
          font-size: 14px;
          line-height:18px;

          &:last-of-type {
            margin-right:0;
          }
        }
      }
    }
    .logo {
      width: 180px;
      height: 60px;
      display: block;
      margin:40px 0;
      clear: both;
    }

  }
}
.copyright-bar {
  background:#000;
  padding:1vw;
  text-align:center;
  font-size: 11px;
  line-height:11px;
  font-weight: normal;
  color:@mainCol3;
}

.spacer {
  margin-top:5vw;
}
// about page styles
#story, #clients, #services, #footprint, #contact, #careers {
  padding: 10vw;
  overflow:hidden;
  background-attachment: fixed !important;
  position:relative;

  .title {
    h1,h2 {
      will-change:transform;
      color:@mainCol3;
    }
    h1 {
      font-size: 88px;
      line-height: 80px;
      margin: 0 0 40px 0;
      opacity:0;
      position:relative;

      -webkit-transform: translateY(190px);
      -khtml-transform: translateY(190px);
      -moz-transform: translateY(190px);
      -ms-transform: translateY(190px);
      -o-transform: translateY(190px);
      transform:translateY(190px);
    }
    h2 {
      font-size: 38px;
      line-height: 38px;
      font-style:italic;
      -webkit-transform: translateY(130px);
      -khtml-transform: translateY(130px);
      -moz-transform: translateY(130px);
      -ms-transform: translateY(130px);
      -o-transform: translateY(130px);
      transform:translateY(130px);

      margin: 0 0 40px 0;
      opacity:0;
      position:relative;
    }
  }

  &.active {
    .title {

      h1,h2 {
        opacity:1;
        -webkit-transform: translateY(0);
        -khtml-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform:translateY(0);
      }
    }
  }
}
#bio-about {
  padding: 10vw 0 0 0;
  overflow:hidden;
  background:@mainCol2;

  h1,h2,h3,h4,h5,p {color:#ffffff}
  h2 {
    font-style:normal;
  }

  #profile {
    img {
      position: relative;
      right: 6vw;
      margin: 0 auto;
      display: block;
      width:95%;
      opacity:0;
      will-change:transform, opacity;
      -webkit-transform: translateY(120px);
      -khtml-transform: translateY(120px);
      -moz-transform: translateY(120px);
      -ms-transform: translateY(120px);
      -o-transform: translateY(120px);
      transform:translateY(120px);

      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
      -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
    }

    &.active {
      h1,h4,h5  {
        opacity:1;
        -webkit-transform: translateX(0);
        -khtml-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform:translateX(0);
      }
      img {
        opacity:1;
        -webkit-transform: translateX(0);
        -khtml-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform:translateX(0);
      }
    }
  }
  #map {
    padding: 5vw 10vw 10vw 10vw;

    h4 {
      font-family: 'ogilvy-serif-bold';
      font-style:italic;
      text-align: center;
      font-size:40px;
      line-height:44px;
      margin: 4vw auto 0 auto;
      max-width:60vw;
      color:@mainCol4;
      position:relative;
      -webkit-transform: translateY(190px);
      -khtml-transform: translateY(190px);
      -moz-transform: translateY(190px);
      -ms-transform: translateY(190px);
      -o-transform: translateY(190px);
      transform:translateY(190px);
      opacity:0;

      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.9s;
      -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.9s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.9s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.9s;
    }
    img {
      margin: 0 auto;
      display: block;
      width:100%;
      opacity:0;
      will-change:transform, opacity;
      -webkit-transform: translateY(120px);
      -khtml-transform: translateY(120px);
      -moz-transform: translateY(120px);
      -ms-transform: translateY(120px);
      -o-transform: translateY(120px);
      transform:translateY(120px);

      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
      -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
    }

    #mapArea {
      position:relative;

      .marker {
        position: absolute;
        text-align: center;
        padding:40px 20px;
        max-width: 230px;
        width: 100%;
        height: 235px;
        background: url(../images/speech-bubble-map.svg) no-repeat 0 0;
        bottom: 120px;
        left: 564px;
        background-size: cover;
        opacity:0;

        will-change:transform, opacity;
        -webkit-transform: scale(0.7);
        -khtml-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
        transform:scale(0.7);

        -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;

        h2 {
          font-family: ogilvy-sans-bold;
          font-size:24px;
          margin: 10px 0 15px 0;
        }

        .icon {
          display:inline-block;
          width:50px; height:50px;
          margin-right:15px;

          will-change:transform;
          -webkit-transform: scale(1);
          -khtml-transform: scale(1);
          -moz-transform: scale(1);
          -ms-transform: scale(1);
          -o-transform: scale(1);
          transform:scale(1);

          -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
          -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
          -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
          transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;

          &.phone {
            background:url('../images/icon-phone.svg') no-repeat 0 0;
          }
          &.email {
            background:url('../images/icon-email.svg') no-repeat 0 0;
          }

          &:hover {
            -webkit-transform: scale(1.1);
            -khtml-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
            transform: scale(1.1);
          }
        }
      }
    }

    &.active {
      h1,h4,h5  {
        opacity:1;
        -webkit-transform: translateX(0);
        -khtml-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform:translateX(0);
      }
      img {
        opacity:1;
        -webkit-transform: translateX(0);
        -khtml-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform:translateX(0);
      }
      #mapArea .marker {
        opacity:1;
        transition-delay: 1s;
        -webkit-transform: scale(1);
        -khtml-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform:scale(1);
      }
    }
  }
}
#story {
  background:@mainCol4;

  .title {
    h2 {
      color:#9EA2F8;
    }
  }

  h1  {
    font-size:60px; line-height:60px;
  }
  h2  {
    font-size:40px; line-height:40px;
  }
  p {
    font-family: ogilvy-sans-light;
    padding-right: 5vw;
    font-size: 24px;
    line-height: 36px;
    opacity:0;

    -webkit-transform: translateY(190px);
    -khtml-transform: translateY(190px);
    -moz-transform: translateY(190px);
    -ms-transform: translateY(190px);
    -o-transform: translateY(190px);
    transform:translateY(190px);

    will-change:transform, opacity;

    -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
    -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
    -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
    transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;

    b {
      font-family: 'ogilvy-serif-bold';
      font-style:italic;
    }

  }

  #storySystem {
    position:relative;
    text-align:center;
    max-width: 66vw;
    margin: 4vw auto 0 auto;

    h1 {
      margin-bottom:0;
    }
    h2 {
      margin-top: 10px;
      margin-bottom:35px;
    }
    p {
      padding: 0;

      &:after {
        content:'';
        height:2px; width:30%;
        display:block;
        margin:30px auto 0 auto;
        background:#ffffff;
      }
    }

    .content-box {
      opacity:0;
      position:relative;
      padding: 60px;
      overflow-wrap: break-word;
      text-overflow: clip;
      border-radius: 1000px;
      display: inline-block;
      max-width: 500px;
      min-height: 500px;
      width: 100%;
      text-align: center;
      background-blend-mode: multiply !important;

      will-change:transform, opacity;

      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
      -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;

      @media screen and (min-width: 769px) and (max-width: 3200px) {
        &.pink {
          background:#f5bac5ed;
          color:@mainCol1;
          right:25px;

          -webkit-transform: translateX(120px);
          -khtml-transform: translateX(120px);
          -moz-transform: translateX(120px);
          -ms-transform: translateX(120px);
          -o-transform: translateX(120px);
          transform:translateX(120px);

          p:after {
            background:@mainCol1;
          }
        }
        &.red {
          background:@mainCol1;
          left:25px;

          -webkit-transform: translateX(-120px);
          -khtml-transform: translateX(-120px);
          -moz-transform: translateX(-120px);
          -ms-transform: translateX(-120px);
          -o-transform: translateX(-120px);
          transform:translateX(-120px);

          p:after {
            background:@mainCol3;
          }
        }
      }
      @media screen and (min-width: 220px) and (max-width: 768px) {
        &.pink {
          background: rgba(245, 186, 197, 0.93);
          color:@mainCol1;
          right:0; bottom:25px;

          -webkit-transform: translateY(120px);
          -khtml-transform: translateY(120px);
          -moz-transform: translateY(120px);
          -ms-transform: translateY(120px);
          -o-transform: translateY(120px);
          transform:translateY(120px);

          p:after {
            background:@mainCol1;
          }
        }
        &.red {
          background:@mainCol1;
          left:0; top:25px;

          -webkit-transform: translateY(-50px);
          -khtml-transform: translateY(-50px);
          -moz-transform: translateY(-50px);
          -ms-transform: translateY(-50px);
          -o-transform: translateY(-50px);
          transform:translateY(-50px);

          p:after {
            background:@mainCol3;
          }
        }
      }

    }

    &.active {
      @media screen and (min-width: 769px) and (max-width: 3200px) {
        .content-box {
          opacity:1;
          -webkit-transform: translateX(0);
          -khtml-transform: translateX(0);
          -moz-transform: translateX(0);
          -ms-transform: translateX(0);
          -o-transform: translateX(0);
          transform:translateX(0);
        }
      }
      @media screen and (min-width: 220px) and (max-width: 768px) {
        .content-box {
          opacity:1;
          -webkit-transform: translateY(0);
          -khtml-transform: translateY(0);
          -moz-transform: translateY(0);
          -ms-transform: translateY(0);
          -o-transform: translateY(0);
          transform:translateY(0);
        }
      }

    }
  }

  &.active {

    p {
      opacity:1;
      -webkit-transform: translateY(0);
      -khtml-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform:translateY(0);
    }
  }
}
#clients {
  background:@mainCol1;

  .title {
    h2 {
      color:#F5BAC5;
    }
  }

  .client-logoes {
    opacity:0;
    right: 40px;
    position: relative;

    -webkit-transform: translateY(190px);
    -khtml-transform: translateY(190px);
    -moz-transform: translateY(190px);
    -ms-transform: translateY(190px);
    -o-transform: translateY(190px);
    transform:translateY(190px);

    will-change:transform, opacity;

    -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
    -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
    -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
    transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
  }
  .logo {
    display: inline-flex;
    width: 100%;
    max-width: 248px;
    margin-bottom: 50px;

    -webkit-transform: scale(0.6);
    -khtml-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);

    will-change:transform;

    -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
    -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
    -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
    transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;

    img {
      display: block;
      width: 100%;
    }
  }

  &.active {

    .client-logoes {
      opacity:1;
      -webkit-transform: translateY(0);
      -khtml-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform:translateY(0);
    }

    .logo {
      transition-delay: 0.6s;

      -webkit-transform: scale(1);
      -khtml-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
    }
  }
}
#services {
  background:@mainCol4;

  .title {
    h2 {
      color:#9EA2F8;
    }
  }
  @keyframes bgHide {
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(50vw);
    }
    100% {
      transform: translateX(110vw);
    }
  }
  @keyframes bgReveal {
    0% {
      transform: translateX(110vw);
    }
    50% {
      transform: translateX(50vw);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes serviceReveal {
    0% {

      width:0;
      transform: translateX(0px);
    }
    50% {

      width:100%;
      transform: translateX(0px);
    }
    100% {

      width:100%;
      transform: translateX(110vw);
    }
  }
  @keyframes serviceHide {
    0% {

      width:100%;
      transform: translateX(110vw);

    }
    50% {

      width:100%;
      transform: translateX(0px);
    }
    100% {

      width:0;
      transform: translateX(0px);
    }
  }
  .title {
    margin-bottom:40px;

    h2 {
      //color:#7579D1;
    }
  }

  #servicePanel {
    position: relative;
    opacity:0;

    -webkit-transform: translateY(190px);
    -khtml-transform: translateY(190px);
    -moz-transform: translateY(190px);
    -ms-transform: translateY(190px);
    -o-transform: translateY(190px);
    transform:translateY(190px);

    will-change:transform, opacity;

    -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
    -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
    -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
    transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
  }

  #itemBg {
    position:absolute;
    right: 0;
    top: 15vw;
    z-index: 0;
    opacity: 0.5;
    max-width: 50vw;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    //-webkit-transform: translateX(690px);
    //-khtml-transform: translateX(690px);
    //-moz-transform: translateX(690px);
    //-ms-transform: translateX(690px);
    //-o-transform: translateX(690px);
    //transform:translateX(690px);

    -webkit-animation: bgHide 2s 1 forwards;
    -khtml-animation: bgHide 2s 1 forwards;
    -moz-animation: bgHide 2s 1 forwards;
    -ms-animation: bgHide 2s 1 forwards;
    -o-animation: bgHide 2s 1 forwards;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    animation-fill-mode: forwards;

    will-change:transform, background;

    -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
    -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
    -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
    transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;

    &.digi-strat {
      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.8s;
      -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.8s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.8s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.8s;

      -webkit-animation: bgReveal 2s 1 forwards;
      -khtml-animation: bgReveal 2s 1 forwards;
      -moz-animation: bgReveal 2s 1 forwards;
      -ms-animation: bgReveal 2s 1 forwards;
      -o-animation: bgReveal 2s 1 forwards;
      -webkit-animation-play-state: running;
      animation-play-state: running;
      background: url('../images/bg-digi-strat.svg') no-repeat 0 0;
    }
    &.digi-media {
      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.8s;
      -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.8s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.8s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.8s;

      -webkit-animation: bgReveal 2s 1 forwards;
      -khtml-animation: bgReveal 2s 1 forwards;
      -moz-animation: bgReveal 2s 1 forwards;
      -ms-animation: bgReveal 2s 1 forwards;
      -o-animation: bgReveal 2s 1 forwards;
      -webkit-animation-play-state: running;
      animation-play-state: running;
      background: url('../images/bg-digi-media.svg') no-repeat 0 0;
    }
    &.digi-intelli {
      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.8s;
      -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.8s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.8s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.8s;

      -webkit-animation: bgReveal 2s 1 forwards;
      -khtml-animation: bgReveal 2s 1 forwards;
      -moz-animation: bgReveal 2s 1 forwards;
      -ms-animation: bgReveal 2s 1 forwards;
      -o-animation: bgReveal 2s 1 forwards;
      -webkit-animation-play-state: running;
      animation-play-state: running;
      background: url('../images/bg-digi-intelli.svg') no-repeat 0 0;
    }
    &.creation {
      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.8s;
      -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.8s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.8s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.8s;

      -webkit-animation: bgReveal 2s 1 forwards;
      -khtml-animation: bgReveal 2s 1 forwards;
      -moz-animation: bgReveal 2s 1 forwards;
      -ms-animation: bgReveal 2s 1 forwards;
      -o-animation: bgReveal 2s 1 forwards;
      -webkit-animation-play-state: running;
      animation-play-state: running;
      background: url('../images/bg-creation.svg') no-repeat 0 0;
    }
    &.seo {
      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.8s;
      -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.8s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.8s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.8s;

      -webkit-animation: bgReveal 2s 1 forwards;
      -khtml-animation: bgReveal 2s 1 forwards;
      -moz-animation: bgReveal 2s 1 forwards;
      -ms-animation: bgReveal 2s 1 forwards;
      -o-animation: bgReveal 2s 1 forwards;
      -webkit-animation-play-state: running;
      animation-play-state: running;
      background: url('../images/bg-seo.svg') no-repeat 0 0;
    }
  }
  .service {
    background:transparent;
    overflow:hidden;
    max-height: 130px;
    height: 130px;
    position: relative;
    cursor: crosshair;
    z-index:2;

    &:before {
      content:'';
      display:block;
      width:0; height:100%;
      background:@mainCol1;
      position:absolute;
      z-index:3;

      -webkit-animation: serviceHide 1s 1 forwards;
      -khtml-animation: serviceHide 1s 1 forwards;
      -moz-animation: serviceHide 1s 1 forwards;
      -ms-animation: serviceHide 1s 1 forwards;
      -o-animation: serviceHide 1s 1 forwards;
      -webkit-animation-play-state: running;
      animation-play-state: running;

      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
      -o-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
    }

    &.type2 {

      &:before {
        background:#F5BAC5;
      }
    }
    &.type3 {

      &:before {
        background:#D6D972;
      }
    }

    h2,p {
      position:absolute;
      color:#ffffff;

      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
      -o-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
    }
    .service-title {
      font-size:100px; line-height:100px;
      transition-delay: 0.3s;
      transform: translateX(0) scale(1);

      &:before {
        content:'';
        position:relative;
        display:inline-block;
        width:60px; height:60px;
        margin-right:30px;
        bottom: 10px;
        opacity:1;
        transition-delay: 0.6s !important;
        will-change: transform, opacity;
        transform: translateX(0) scale(1);

        -o-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
      }
      &.digi-intelli {
        &:before {
          background: url('../images/service-digital-intelligence.svg') no-repeat center center;
        }
      }
      &.digi-media {
        &:before {
          background: url('../images/service-digital-media.svg') no-repeat center center;
        }
      }
      &.digi-strat {
        &:before {
          background: url('../images/service-digital-strategy.svg') no-repeat center center;
        }
      }
      &.creation {
        &:before {
          background: url('../images/service-creation.svg') no-repeat center center;
        }
      }
      &.seo {
        &:before {
          background: url('../images/service-seo.svg') no-repeat center center;
        }
      }
    }
    p {
      opacity:0;
      transform: translateX(100px) scale(0.1);
      font-size:24px; line-height: 38px;
      transition-delay: 0.2s;
      top: 40px;
      margin: 0;
      max-width:75%;
    }

    &:hover, .active {

      .service-title {
        opacity:0;
        transition-delay: 0.6s;
        transform: translateX(100px) scale(0.1);

        &:before {
          transform: translateX(-100px) scale(0);
          opacity:0;
        }
      }
      p {
        transform: translateX(0px) scale(1);
        opacity:1;
        transition-delay: 0.6s;
      }
      &:before {
        -webkit-animation: serviceReveal 2s 1 forwards;
        -khtml-animation: serviceReveal 2s 1 forwards;
        -moz-animation: serviceReveal 2s 1 forwards;
        -ms-animation: serviceReveal 2s 1 forwards;
        -o-animation: serviceReveal 2s 1 forwards;
        -webkit-animation-play-state: running;
        animation-play-state: running;
      }
    }

  }

  &.active {

    #servicePanel {
      opacity:1;
      -webkit-transform: translateY(0);
      -khtml-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform:translateY(0);
    }
  }
}
#footprint, #careers {
  background:#000000;
  position:relative;

  .key {
    display:inline-block;
    text-align:left;
    margin-right: 2.5vw;

    h2 {
      font-size:30px;
      margin-bottom: 30px;
      font-family: 'ogilvy-serif-bold';
      font-style:italic;
    }

    img {
      display:block;
      margin:0 auto 30px auto;
      text-align:center;
      width:100%;
      max-width:60px;
      position:relative;

      &.tall {
        max-width:40px;
      }
      &.short {
        max-width:75px;
        top:10px;
      }
    }

    &:last-of-type {
      margin-right:0;
    }
  }
  h2 {
    margin-top: 0;
  }
  p {
    font-size: 24px;
    line-height: 36px;
    padding-right:5vw;
    margin-bottom: 40px;
  }

  a {
    color:@mainCol3;
    font-size:30px;
    font-style:italic;
    font-family: 'ogilvy-serif-bold';
    display:inline-block;
    padding: 0;

    &:after {
      content:'';
      background: url('../images/icon-button.svg') no-repeat 0 0;
      width:30px; height:30px;
      display:inline-block;
      background-size: cover;
      margin-left: 20px;
      position:relative;
      top:5px;

      will-change:transform;

      -webkit-transform: translateX(0);
      -khtml-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);



      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
      -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
    }

    &:hover {

      &:after {
        -webkit-transform: translateX(5px);
        -khtml-transform: translateX(5px);
        -moz-transform: translateX(5px);
        -ms-transform: translateX(5px);
        -o-transform: translateX(5px);
        transform:translateX(5px);
      }
    }

  }

  @media screen and (min-width: 769px) and (max-width: 3200px) {
    .content-wrap {
      position: relative;
      pointer-events: none;
    }

    .content {
      position: relative;
      display: grid;
    }

    .content--fixed {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      min-height: 600px;
      z-index: 100;
      pointer-events: none;
      padding: 1.5em;
      grid-template-columns: 50% 50%;
      grid-template-rows: auto auto 4em;
      grid-template-areas:	"header ..."
							"... decotitle"
							"demos decotitle";
    }

    .content--fixed a {
      pointer-events: auto;
    }

    .content--layout {
      pointer-events: auto;
      justify-content: center;
      align-content: center;
      grid-template-columns: 150px 150px 150px 150px;
      grid-template-rows: 150px 75px 75px;
      grid-template-areas:	"... title title title"
							"author ... desc desc"
							"author ... link link";
    }

    .content--related {
      text-align: center;
      align-content: center;
      justify-content: center;
      padding: 0 2em;
      min-height: 600px;
      height: 100vh;
      font-size: 0.85em;
    }

    .content__img {
      right: 440px;
      position: relative;
      width: 570px;
      z-index:1;
    }

    .content__title {
      grid-area: title;
      cursor: default;
      position: relative;
      z-index: 2;
      top: 60px;
      width:80%;
      right: 121px;
    }

    .content__author {
      grid-area: author;
      z-index: 10;
      cursor: default;
      left: 250px;
      top: 320px;
      position: relative;
      width:100%;
    }

    .content__img,
    .content__title,
    .content__author {
      transition: transform 0.3s ease-out;
    }

    /* layout-4 */

    .content--layout-4 {
      grid-template-areas:	"title title title desc"
							"... author ... desc"
							"... author ... link";
    }

    .content--layout-4 .content__img {
      grid-column: 2 / 4;
      grid-row: 1 / 3;
    }

    .content--layout-4 .content__author {
      justify-self: start;
      align-self: start;
    }
  }

  &.active {
    .client-logoes {
      opacity:1;
      -webkit-transform: translateY(0);
      -khtml-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform:translateY(0);
    }

    .logo {
      transition-delay: 0.6s;

      -webkit-transform: scale(1);
      -khtml-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
    }
  }

}
#contact {
  background:@mainCol5;
  color:@mainCol4;

  .title, p, h2 {
    color:@mainCol4;

    h1, h2 {
      color:@mainCol4;
    }
  }
  h2 {
    font-family: 'ogilvy-serif-bold';
    font-style:italic;
  }
  .address {


    p {
      font-family: 'ogilvy-sans-light';

      b {
        font-family: 'ogilvy-sans-bold';
      }

      &:first-of-type {
        min-height: 120px;
        margin-bottom: 10px;
      }
    }
    a {
      font-family: 'ogilvy-sans-bold';
    }
  }
  p {
    font-family: ogilvy-sans-light;
    padding-right: 5vw;
    font-size: 24px;
    line-height: 36px;
    opacity:0;

    -webkit-transform: translateY(190px);
    -khtml-transform: translateY(190px);
    -moz-transform: translateY(190px);
    -ms-transform: translateY(190px);
    -o-transform: translateY(190px);
    transform:translateY(190px);

    will-change:transform, opacity;

    -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
    -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
    -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
    transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
  }
  h2, form, .btn {
    opacity:0;

    -webkit-transform: translateY(190px);
    -khtml-transform: translateY(190px);
    -moz-transform: translateY(190px);
    -ms-transform: translateY(190px);
    -o-transform: translateY(190px);
    transform:translateY(190px);

    will-change:transform, opacity;

    -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
    -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
    -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
    transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.6s;
  }

  .btn {
    border-radius:0;
    background:transparent;
    padding:10px;
    font-family: 'ogilvy-sans-bold';
    border:2px solid @mainCol4;
    margin-bottom:30px;
    width:70%;
    color:@mainCol4;
    text-align:center;

    &:hover {
      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
      -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;

      background:@mainCol4;
      color:@mainCol3;
    }
  }
  form {
    font-size: 18px;
    line-height: 24px;
    font-family: 'ogilvy-sans-light';
  }

  .group {
    position:relative;
    width: 70%;

    .error {
      font-size:12px;
      color:@mainCol1;
      position:absolute;
      right: 0;
      top: 40px;
      text-align:right;

      span.icon {
        background: url('../images/icon-error.svg') no-repeat 0 0;
        width: 15px;
        height: 14px;
        display: inline-block;
        background-size: 100%;
        position: relative;
        top: 2px;
        margin-left: 5px;
      }
    }

    &.split {

      .group {
        position:relative;
        display: inline-block;
        width: 20%;
        margin-right:15px;

        &:last-of-type {
          width:75%;
          margin-right:0;
        }
      }
    }

    &.message {

      .error {
        top: 90%;
      }
    }
  }
  input[type=text],input[type=email], input[type=number] {
    border:0; border-radius:0;
    outline: 0 !important;
    background:transparent;
    padding:5px;
    border-bottom:2px solid @mainCol4;
    margin-bottom:30px;
    width:100%;
    color:@mainCol4;
  }
  #submit {
    border-radius:0;
    background:transparent;
    padding:10px;
    outline: 0 !important;
    font-family: 'ogilvy-sans-bold';
    border:2px solid @mainCol4;
    margin-bottom:30px;
    width:100%;
    color:@mainCol4;
    text-align:center;

    -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
    -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
    -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
    transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;

    &:hover {
      background:@mainCol4;
      color:@mainCol3;
    }
  }
  textarea {
    border-radius:0;
    outline: 0 !important;
    background:transparent;
    padding:15px;
    border:2px solid @mainCol4;
    resize:none;
    width:100%;
    margin:30px 0;
    color:@mainCol4;
  }

  &.active {

    p, h2, form, .btn {
      opacity: 1;
      -webkit-transform: translateY(0);
      -khtml-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  }
}
#careers {
  h2 {
    font-size: 40px;
    line-height: 46px;
    padding-right: 10vw;
    margin-top: 0;
  }
}

// modal css
.swal2-container {

  h2 {
    font-family: 'ogilvy-sans-bold';
    color:@mainCol5;
    font-size:60px; line-height:60px;
    font-style: normal;
  }
  #swal2-content {
    font-family: 'ogilvy-serif-bold-italic';
    color:@mainCol5;
    font-size:30px; line-height:30px;
    font-style: normal;
  }
  button {
    background:@mainCol2 !important;
    color:@mainCol3 !important;
    border:0 !important;
    border-radius:0 !important;
    padding: 10px !important;
    max-width: 150px !important;
    width: 100% !important;
    outline: 0 !important;
    box-shadow: none !important;
    margin: 20px 0;
    font-family: 'ogilvy-sans-light' !important;
  }
}
.swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimation {
  background: rgba(0,0,0,0.7) !important;
}
.swal2-popup {
  max-width: 40vw !important;
  width:100% !important;
  padding:2vw 3vw 3vw 3vw !important;
  border-radius: 0 !important;
  background:@mainCol4 !important;

  .swal2-icon.swal2-success {
    border-color: @mainCol5 !important;
    color: @mainCol5 !important;
  }
  .swal2-icon.swal2-success .swal2-success-ring {
    border: .25em solid @mainCol5!important;
  }
  .swal2-icon.swal2-success [class^=swal2-success-line] {
    background-color: @mainCol5!important;
  }

}
.swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimation {
  background: #24298f9e !important;
}
.swal2-styled.swal2-confirm {
  font-size: 18px !important;
}
.full-take {
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;

  position:absolute;
  z-index:9999999999;
  width:100vw;
}

#rotateScreen {
  display: block;
  position: fixed;
  opacity:0;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  background: @mainCol2;
  background-size: cover;
  will-change: transform;
  //-webkit-transform: scale(0);
  //-khtml-transform: scale(0);
  //-moz-transform: scale(0);
  //-ms-transform: scale(0);
  //transform: scale(0);
  -webkit-transition: all cubic-bezier(0.18, 0.89, 0.26, 1.08) 0.7s;
  -khtml-transition: all cubic-bezier(0.18, 0.89, 0.26, 1.08) 0.7s;
  -moz-transition: all cubic-bezier(0.18, 0.89, 0.26, 1.08) 0.7s;
  -ms-transition: all cubic-bezier(0.18, 0.89, 0.26, 1.08) 0.7s;
  transition: all cubic-bezier(0.18, 0.89, 0.26, 1.08) 0.7s;

  h1,h2 {
    color:#ffffff;
    text-align: center;
    font-style:normal;
    opacity:0;
    margin: 0 auto 20px auto;

    -webkit-transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
    -khtml-transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
    -moz-transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
    -ms-transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
    transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;


  }
  h1 {
    position:relative;
    top:40px;
    font-size: 30px;
    transition-delay:1.4s;
    font-family: 'ogilvy-sans-bold';
  }
  h2 {
    font-family: 'ogilvy-serif-bold-italic';
    position:relative;
    top:80px;
    font-size: 16px;
    transition-delay:1.6s;
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(16deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  span {
    width: 32px;
    height: 32px;
    display:block;
    margin: -14vw auto 55vw auto;
    opacity:0;
    position:relative;

    -webkit-transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
    -khtml-transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
    -moz-transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
    -ms-transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
    transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;

    transition-delay:1.2s;

    &:after {
      content:'';
      position:absolute;
      top:5px; left:5px;
      z-index:2;
      width: 32px;
      height: 32px;
      display:block;
      background:url(../images/rotate-display-icon2.svg) no-repeat top left;

      -webkit-animation: rotate 2s infinite forwards;
      -khtml-animation: rotate 2s infinite forwards;
      -moz-animation: rotate 2s infinite forwards;
      -ms-animation: rotate 2s infinite forwards;
      -o-animation: rotate 2s infinite forwards;
      -webkit-animation-play-state: running;
      animation-play-state: running;
    }

    &:before {
      content:'';
      position:absolute;
      top:5px; left:5px;
      z-index:4;
      width: 32px;
      height: 32px;
      display:block;
      background:url(../images/rotate-display-icon.svg) no-repeat top left;
    }
  }

  &.active {
    opacity:1;
    z-index: 999;
    //-webkit-transform: scale(1);
    //-khtml-transform: scale(1);
    //-moz-transform: scale(1);
    //-ms-transform: scale(1);
    //transform: scale(1);
    //width: 100%;
    display: block;

    h1, h2 {
      opacity:1;
      top:0;
    }

    span {
      margin: 14vw auto 3vw auto;
      opacity:1;
    }
  }
}

.parallax-bg {
  background-attachment:fixed !important;
}

// firefox
.firefox {

}
// IE8 Fixes
.ie8 {

}






