
@media screen and (min-width: 1920px) and (max-width: 2560px)
{
  #story #storySystem {
    max-width: 1020px;
  }
  #story #storySystem .content-box {
    max-width: 510px;
    min-height:510px
  }
  #contact .group.split .group {
    margin-right: 22px;
  }
  .page-footer .footer-container .foot-info {
    padding: 2vw;
    min-height: 190px;
  }
}

@media screen and (min-width: 1681px) and (max-width: 1920px)
{
  #bio-about #map #mapArea .marker {
    bottom: 150px;
    left: 724px;
  }
  #bio-about #map h4 {
    max-width: 44vw;
  }
  #story #storySystem {
    max-width: 1020px;
  }
  #story #storySystem .content-box {
    max-width: 510px;
    min-height:510px
  }
  #clients .logo {
    max-width: 309px;
  }
  #services #itemBg {
    max-width: 40vw;
  }
  #contact .group.split .group {
    margin-right: 22px;
  }
  .page-footer .footer-container .foot-info {
    padding: 2vw;
    min-height: 190px;
  }
}

@media screen and (max-width: 1680px) {}

@media screen and (min-width: 1367px) and (max-width: 1680px)
{
  #bio-about #map #mapArea .marker {
    left: 524px;
  }
  #story #storySystem {
    max-width: 71vw;
  }
  #story #storySystem .content-box {
    max-width: 510px;
    min-height:510px
  }
  #clients .logo {
    max-width: 232px;
  }
  #contact .address p:first-of-type {
    min-height: 140px;
    margin-bottom: 10px;
    padding-right: 1vw;
  }

}

@media screen and (min-width: 1281px) and (max-width: 1366px)
{

  #story, #clients, #services, #footprint, #contact, #careers {
    padding:8vw;
  }
  #careers h2, #contact h2, #footprint .key h2, #careers .key h2 {
    font-size: 2.2vw;
    line-height: 3vw;
  }
  #story p, #contact p, #footprint p, #careers p, #services .service p {
    font-size: 1.5vw;
    line-height: 2vw;
  }
  #bio-about #map #mapArea .marker {
    bottom: 110px;
    left: 497px;
  }
  #story #storySystem {
    max-width: 77vw;
  }
  #story #storySystem .content-box {
    max-width: 520px;
    min-height: 500px;
  }
  #clients .logo {
    max-width: 221px;
  }
  #footprint .content__title, #careers .content__title {
    top: 90px;
    width: 60%;
    right: 71px;
  }
  #footprint .content__img, #careers .content__img {
    right: 420px;
    width: 520px;
  }
  #footprint .content__author, #careers .content__author {
    left: 230px;
    top: 280px;
  }
  #careers h2 {
    padding-right: 15vw;
  }
  #contact .address p:first-of-type {
    min-height: 110px;
    margin-bottom: 10px;
    padding-right: 3vw;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px)
{
  #top-nav .menu {
    max-width: 70%;
  }
  #bio-about #map #mapArea .marker {
    bottom: 100px;
    left: 457px;
  }
  #story #storySystem {
    max-width: 79vw;
  }
  #clients .logo {
    max-width: 207px;
  }
  #story, #clients, #services, #footprint, #contact, #careers {
    padding:8vw;
  }
  #careers h2, #contact h2, #footprint .key h2, #careers .key h2 {
    font-size: 2.6vw;
    line-height: 3vw;
  }
  #story p, #contact p, #footprint p, #careers p, #services .service p {
    font-size: 1.5vw;
    line-height: 2vw;
  }
  #services .service p {
    max-width: 65%;
  }

  #story h1, #story .title h1, #clients .title h1, #services .title h1, #footprint .title h1, #contact .title h1, #careers .title h1 {
    font-size:60px; line-height:60px;
  }

  #story h2, #story .title h2, #clients .title h2, #services .title h2, #footprint .title h2, #contact .title h2, #careers .title h2 {
    font-size:30px; line-height:30px;
    margin: 0 0 20px 0;
  }
  #bio-about #map h4 {
    font-size:30px; line-height:30px;
  }
  #careers h2, #contact h2, #footprint .key h2, #careers .key h2 {
    font-size:30px; line-height:30px;
  }
  #story p, #contact p, #footprint p, #careers p, #services .service p {
    font-size: 20px;
    line-height: 28px;
  }

  #footprint .key, #careers .key {
    margin-right: 20px;
  }
  #footprint .content__title, #careers .content__title {
    top: 60px;
    width: 80%;
    right: 60px;
  }
  #footprint .content__img, #careers .content__img {
    right: 400px;
    width: 480px;
  }
  #footprint .content__author, #careers .content__author {
    cursor: default;
    left: 210px;
    top: 240px;
  }
  #contact .group.split .group {
    margin-right: 14px;
  }
  #contact .address p:first-of-type {
    min-height: 100px;
    margin-bottom: 10px;
    padding-right: 3vw;
  }
}

// Ipad responsive
@media screen and (min-width: 769px) and (max-width: 1024px)
{

  #story h1, #story .title h1, #clients .title h1, #services .title h1, #footprint .title h1, #contact .title h1, #careers .title h1 {
    font-size:40px; line-height:40px;
  }

  #story h2, #story .title h2, #clients .title h2, #services .title h2, #footprint .title h2, #contact .title h2, #careers .title h2 {
    font-size:24px; line-height:28px;
    margin: 0 0 20px 0;
  }
  #bio-about #map h4 {
    font-size:24px; line-height:28px;
  }
  #careers h2, #contact h2, #footprint .key h2, #careers .key h2 {
    font-size:24px; line-height:28px;
  }
  #story p, #contact p, #footprint p, #careers p, #services .service p {
    font-size: 16px;
    line-height: 28px;
  }
  #top-nav .menu {
    max-width: 80%;
  }
  #top-nav .nav-box {
    padding: 4vw 0vw 0 6vw;
  }
  #top-nav.minimal .nav-box {
    padding: 8px 0vw 10px 6vw;
  }
  #bio-about {
    padding: 20vw 12vw 5vw 12vw;
    overflow: hidden;
  }
  #bio-about #map #mapArea .marker {
    bottom: 20px;
    left: 213px;
  }
  #bio-about #map.active #mapArea .marker {
    opacity: 1;
    transition-delay: 1s;
    -webkit-transform: scale(0.7);
    -khtml-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
  }

  #story #storySystem {
    max-width: 84vw;
  }
  #story #storySystem .content-box {
    max-width: 430px;
    min-height: 430px;
    padding: 40px;
  }
  #clients .logo {
    max-width: 175px;
  }
  #services .service .service-title {
    font-size: 70px;
    line-height: 70px;
  }
  #services .service .service-title:before {
    bottom:0;
  }

  #footprint .content__img, #careers .content__img {
    right: 370px;
    width: 420px;
  }
  #footprint .content__author, #careers .content__author {
    cursor: default;
    left: 170px;
    top: 180px;
  }
  #footprint .content__title, #careers .content__title {
    top: 60px;
    width: 60%;
    right: -30px;
  }
  #footprint .key, #careers .key {
    margin-right: 15px;
  }

  #contact .group.split .group {
    margin-right: 10px;
  }

  #contact .address p:first-of-type {
    min-height: 100px;
    margin-bottom: 10px;
    padding-right: 2vw;
  }

  .page-footer .footer-container h1 {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 28px;
  }
  .page-footer .footer-container .foot-info {
    padding: 2vw;
    min-height: 160px;
  }
  .page-footer .footer-container p {
    font-size: 13px;
    line-height: 20px;
  }
}

@media screen and (max-width: 960px)
{

  #bio-about #covidLink {
    padding: 30px 30px 0 30px;
  }
  #bio-about #covidLink p {
    font-family: 'ogilvy-sans-bold';
    top: 0;
    text-align: left;
    float:none;
  }
  #bio-about #covidLink a {
    margin:20px 0;
    display:block;
    float:none;
  }
  #clients #clientsCarousel {
    width:100%;
  }
  #rotateScreen {

    h1 {
      font-size: 30px;
      line-height: 30px;
    }
    h2 {
      font-size: 16px;
      line-height: 28px;
    }
  }
  // GENERAL
  .container {
    width: 100%;
    padding: 0;
  }

  // ABOUT PAGE
  #bio-about {
    padding: 14vw 6vw 7vw 6vw;
  }
  #bio-about #message img {
    margin:20px 0;
  }
  #bio-about #message .inner-pad-right {
    padding-right: 15px;
  }
  #bio-about #profile h1 {
    font-size: 11vw;
    line-height: 10vw;
  }
  #bio-about #profile h4 {
    font-size: 7vw;
    line-height: 7vw;
    margin-top: 15vw;
  }
  #bio-about #profile h5 {
    font-size: 5vw;
    line-height: 5vw;
  }
  #bio-about #profile img {
    margin:30px auto 0 auto;
  }
  #bio-about #message h3 {
    max-width:100%;
    margin: 5vw 0 10vw 0;
    text-align: left;
    font-size: 7vw;
    line-height: 8vw;
  }
  #bio-about #message p {
    font-size: 4vw;
    line-height: 8vw;
    margin-bottom: 25px;
  }
  #bio-about #message p.no-space {
    margin-bottom: 10px;
  }
}



// General Mobile
@media screen and (min-width: 220px) and (max-width: 900px)
{
  .copyright-bar {
    padding: 3vw;
  }
  #sideNav {
    padding: 24px 4vw;
    height: 60px;
  }
  #sideNav.active {
    padding: 24px 4vw;
  }
  #sideNav .logo {
    position: relative;
    bottom: -1px;
    right: 30px;
  }
  #sideNav #mainNav {
    padding: 15vw 3vw 0 4vw;
  }
  #top-nav .mobile-nav-btn {
    top: 8px;
    right: 40px;
    display:block;
  }
  .mobile-nav-btn {
    display:block;
  }
  #top-nav {
    background:transparent;
    padding: 10px 2vw;
    height:auto;
    border-bottom:0;
    top:0;
  }
  #top-nav .logo {
    width: 205px;
    height: 32px;
    margin-top: 5px;
    float: left;
    background-size:initial;
    position: relative;
    bottom: 0;
    right: 30px;
  }
  #top-nav .nav-box {
    padding: 0 9px;
  }
  #top-nav .menu {
    display:none;
  }
  #top-nav .menu a:last-of-type, #top-nav a.download-pdf {
    display:none;
  }
  #top-nav .menu a {
    padding: 6px 0 0 0;
    color:@mainCol2;
  }
  #top-nav .menu a:before {
    height: 1px;
    width: 80%;
    background: #ffffff;
    z-index: 99999;
    top: 24px;
  }
  #top-nav .menu a:hover:before, #top-nav .menu a.active:before {
    height: 1px;
    width: 80%;
    background: #24298f;
    z-index: 99999;
    top: 21px;
  }
  #top-nav .mobile-nav-btn span {
    background:@mainCol1;
  }
  #top-nav .menu a:hover, #top-nav .menu a.active {
    color: @mainCol1;
  }
  #top-nav  {
    display:none;
  }
  #sideNav {
    opacity:1;
  }
  #sideNav .logo {
    width: 205px;
    height: 32px;
  }
  #sideNav .mobile-nav-btn {
    top: 18px;
    right: 50px;
  }
  #sideNav #mainNav a {
    font-size: 4.6vw;
    line-height: 4.8vw;
  }
  .page-footer .footer-container p {
    font-size: 12px;
    line-height: 30px;
    margin: 0;
  }

  #rotateScreen {

    h1 {
      font-size: 30px;
      line-height: 30px;
    }
    h2 {
      font-size: 16px;
      line-height: 28px;
    }
  }
  // GENERAL
  .container {
    width: 100%;
    padding: 0;
  }
  // ABOUT PAGE
  #bio-about {
    padding: 14vw 6vw 7vw 6vw;
  }

  #bio-about #profile img {
    margin: 15vw auto 0 auto;
    right: 0;
  }
  #bio-about #map {
    padding: 10vw 0 0 0;
  }
  #bio-about #map h4 {
    font-size: 14px;
    line-height: 20px;
  }
  #bio-about #map #mapArea .marker {
    bottom: 18px;
    left: 142px;
  }
  #bio-about #map.active #mapArea .marker {
    opacity: 1;
    transition-delay: 1s;
    -webkit-transform: scale(0.8);
    -khtml-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }

  #story .title h1, #clients .title h1, #services .title h1, #footprint .title h1, #contact .title h1, #careers .title h1 {
    font-size:30px; line-height:30px;
  }
  #story .title h2, #clients .title h2, #services .title h2, #footprint .title h2, #contact .title h2, #careers .title h2 {
    font-size:14px; line-height:20px;
    margin: 0 0 20px 0;
  }
  #careers h2, #contact h2, #footprint .key h2, #careers .key h2 {
    font-size:14px; line-height:20px;
  }
  #story p, #contact p, #footprint p, #careers p, #services .service p {
    font-size: 16px;
    line-height: 28px;
  }
  #story, #clients, #services, #footprint, #contact, #careers {
    padding: 15vw 8vw;
  }

  #story #storySystem {
    max-width: 100vw;
  }
  #story #storySystem .content-box {
    max-width: 450px;
    min-height: 280px;
    padding: 50px;
  }
  #story #storySystem h1 {
    font-size: 16px;
    line-height: 22px;
  }
  #story #storySystem h2 {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 25px;
  }

  #clients .client-logoes {
    right: 25px;
    width: 100vw;

    .logo {
      max-width: 32.8vw;
      margin-bottom: 20px;
      display: inline-block;
    }
  }

  #services .service {
    max-height: 130px;
    height: 110px;
  }
  #services .service .service-title {
    font-size: 30px;
    line-height: 30px;
  }
  #services .service .service-title:before {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    bottom: -5px;
    background-size: 100%!important;
  }
  #services .service p {
    max-width: 100%;
    top: 20px;
  }
  #services #itemBg {
    display:none;
  }

  #footprint .content__title, #careers .content__title {
    top: 60px;
    width: 100%;
    max-width: 180px;;
  }
  #footprint .content__img, #careers .content__img {
    right: 40px;
    width: 100vw;
    position: relative;
    margin: 30px 0;
  }
  #footprint .content__author, #careers .content__author {
    left: 55%;
    top: 96vw;
    position: absolute;
    max-width: 180px;
  }
  #footprint .key, #careers .key {
    margin-right: 18vw;
  }
  #footprint .key img, #careers .key img {
    max-width: 40px;
  }
  #footprint .key img.short, #careers .key img.short {
    max-width: 55px;
    top: 5px;
  }
  #footprint .key img.tall, #careers .key img.tall {
    max-width: 30px;
  }
  #footprint p, #careers p {
    padding-right:0;
  }
  #footprint a, #careers a {
    color: #ffffff;
    font-size: 16px;
  }
  #footprint a:after, #careers a:after {
    width: 25px;
    height: 25px;
  }

  #contact .btn {
    width: 40%;
  }
  #contact .group {
    position: relative;
    width: 100%;
  }
  .swal2-popup {
    max-width: 90vw !important;
    width: 100% !important;
    padding: 5vw 5vw 10vw 5vw !important;
  }
  .swal2-container h2 {
    font-size: 30px;
    line-height: 30px;
  }
  .swal2-container #swal2-content {
    font-size: 16px;
    line-height: 24px;
  }
  .page-footer .footer-container .foot-info {
    padding: 2vw;
    min-height: 120px;
  }
  .page-footer .footer-container h1 {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 24px;
  }
  .page-footer .footer-container p {
    font-size: 10px;
    line-height: 15px;
    margin: 0;
  }
  .page-footer .footer-container .foot-info .links {
    padding: 14px 0;
  }

}

@media screen and (min-width: 640px) and (max-width: 768px)
{

  #sideNav #mainNav {
    padding: 10vw 2vw;
  }

  #story .title h1, #clients .title h1, #services .title h1, #footprint .title h1, #contact .title h1, #careers .title h1 {
    font-size: 60px;
    line-height: 60px;
  }
  #story .title h2, #clients .title h2, #services .title h2, #footprint .title h2, #contact .title h2, #careers .title h2 {
    font-size: 26px;
    line-height: 46px;
    margin: 0 0 20px 0;
  }
  #story p, #contact p, #footprint p, #careers p, #services .service p {
    font-size: 24px;
    line-height: 38px;
  }

  #bio-about #map #mapArea .marker {
    bottom: 45px;
    left: 35.4vw;
  }
  #bio-about #map h4 {
    font-size: 26px;
    line-height: 30px;
    max-width: 70vw;
  }
  #story #storySystem .content-box {
    max-width: 470px;
    min-height: 370px;
    padding: 50px;
  }
  #story #storySystem {
    max-width: 60vw;
  }
  #clients .client-logoes {
    right: 55px;
    width: 100vw;
  }
  #services .service .service-title {
    font-size: 60px;
    line-height: 60px;
  }
  #services .service .service-title:before {
    width: 40px;
    height: 40px;
    bottom: 2px;
  }
  #services .service {
    max-height: 150px;
    height: 150px;
  }
  #services .service p {
    max-width: 100%;
    top: 10px;
  }
  #footprint .content__img, #careers .content__img {
    right: 61px;
  }
  #footprint .content__title, #careers .content__title {
    top: 60px;
    width: 100%;
    max-width: 240px;
  }
  #footprint .content__author, #careers .content__author {
    left: 70%;
    top: 93vw;
    max-width: 220px;
  }
  #careers h2, #contact h2, #footprint .key h2, #careers .key h2 {
    font-size: 26px;
    line-height: 40px;
  }
  #footprint .key, #careers .key {
    margin-right: 17vw;
  }
  #contact .group.split .group {
    margin-right: 28px;
  }
  #footprint a, #careers a {
    font-size: 26px;
  }
  .page-footer .footer-container h1 {
    margin-bottom: 10px;
    font-size: 26px;
    line-height: 34px;
  }
  .page-footer .footer-container p {
    font-size: 16px;
    line-height: 25px;
    margin: 0;
  }
  .page-footer .footer-container .foot-info {
    padding: 2vw;
    min-height: 150px;
  }
}

// Xperia Xz3
@media screen and (min-width: 426px)  and (max-width: 485px)
{
  #story #storySystem .content-box {
    max-width: 450px;
    min-height: 280px;
    padding: 60px;
  }
}

// Hauwei p30
@media screen and (max-width: 425px)
{
  #bio-about #map #mapArea .marker {
    bottom: 13px;
    left: 114px;
  }
  #story #storySystem .content-box {
    padding: 30px;
  }
  #clients .client-logoes .logo {
    max-width: 32.7vw;
    margin-bottom: 20px;
  }
  #footprint .content__img, #careers .content__img {
    right: 32px;
    width: 100vw;
    position: relative;
    margin: 30px 0;
  }
  #footprint .content__author, #careers .content__author {
    left: 48%;
    top: 96vw;
    position: absolute;
    max-width: 180px;
  }
  #footprint .key, #careers .key {
    margin-right: 14vw;
  }
  #careers .title h1 {
    margin-bottom: 0;
  }
  .page-footer .footer-container .foot-info .links a {
    margin-right: 20px;
    font-size: 12px;
    line-height: 12px;
  }
  #contact .group.split .group {
    margin-right: 13px;
  }
}

// IPHONE 6 PLUS
@media screen and (max-width: 414px)
{
  #bio-about #map #mapArea .marker {
    bottom: 13px;
    left: 109px;
  }
  #story #storySystem .content-box {
    padding: 30px;
  }
  #clients .client-logoes .logo {
    max-width: 32.7vw;
    margin-bottom: 20px;
  }
  #footprint .content__img, #careers .content__img {
    right: 32px;
    width: 100vw;
    position: relative;
    margin: 30px 0;
  }
  #footprint .content__author, #careers .content__author {
    left: 48%;
    top: 96vw;
    position: absolute;
    max-width: 180px;
  }
  #footprint .key, #careers .key {
    margin-right: 14vw;
  }
  #careers .title h1 {
    margin-bottom: 0;
  }
  #contact .group.split .group {
    margin-right: 13px;
  }
}

// IPHONE 6
@media screen and (max-width: 375px)
{
  #bio-about #map.active #mapArea .marker {
    opacity: 1;
    transition-delay: 1s;
    -webkit-transform: scale(0.8);
    -khtml-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.6);
  }
  #bio-about #map #mapArea .marker {
    bottom: -14px;
    left: 82px;
  }
  #story #storySystem .content-box {
    padding: 10px;
  }
  #story #storySystem .content-box.red {
    top: 15px;
  }
  #story #storySystem .content-box.pink {
    bottom: 15px;
  }

  #clients .client-logoes {
    right: 15px;
    width: 100vw;
  }

  #services .service .service-title {
    font-size: 7vw;
    line-height: 7vw;
  }
  #services .service p {
    font-size: 3.5vw;
    line-height: 6vw;
  }

  #footprint .content__img, #careers .content__img {
    right: 30px;
  }
  #footprint .content__author, #careers .content__author {
    left: 43%;
    top: 97vw;
  }
  #footprint .key, #careers .key {
    margin-right: 12vw;
  }

  #contact .group.split .group {
    margin-right: 11px;
  }

  .page-footer .footer-container .foot-info .footer-logo {
    display:block;
    margin: 20px 0 10px 0;
    max-width: 131px;
  }
  .page-footer .footer-container .foot-info .links {
    float: none;
    padding: 20px 0 20px 0;
    max-width: 187px;
    margin: 0;
  }
  .page-footer .footer-container .foot-info .links a {
    margin-right: 20px;
    font-size: 12px;
    line-height: 18px;
  }

}

// SAMSUNG S3 | S7 | SONY XPERIA Z5
@media screen and (max-width: 360px)
{
  #bio-about #map #mapArea .marker {
    bottom: -14px;
    left: 76px;
  }
  #clients .client-logoes .logo {
    max-width: 32.6vw;
    margin-bottom: 20px;
  }
  #footprint .content__img, #careers .content__img {
    right: 29px;
  }
  #footprint .content__author, #careers .content__author {
    left: 43%;
    top: 99vw;
  }
  #footprint .key, #careers .key {
    margin-right: 10vw;
  }
  .copyright-bar {
    padding: 4vw 0;
  }
}

@media screen and (max-width: 340px)
{
  #bio-about #map #mapArea .marker {
    bottom: -18px;
    left: 63px;
  }
  #story, #clients, #services, #footprint, #contact, #careers {
    padding: 20vw 4vw;
  }
  #story p {
    padding-right:0;
  }
  #story #storySystem .content-box {
    padding: 7px;
  }
  #clients .client-logoes {
    right: 10px;
    width: 100vw;
  }

  #services .service p {
    max-width: 75%;
    top: 20px;
  }

  #footprint .content__img, #careers .content__img {
    right: 13px;
  }
  #contact .group.split .group {
    margin-right: 10px;
  }
  p.copyright {
    font-size: 10px;
    line-height: 10px;
  }
}

@media screen and (max-width: 280px)
{
  #contact .group.split .group {
    margin-right: 8px;
  }
}

@media (prefers-color-scheme: darks) {
  body {
    background:#000000;
  }
  .container, .container-fluid {
    background:#000000;

    &.page-master.light {
      p,a {
        color: #ffffff;
      }
    }
    &.page-footer {
      background: #1e1e1e;
    }
    h1,h1 span,h3,h4,p,blockquote {color:#ffffff !important}
    h2 {color:red !important}

    .owl-controls {
      filter:invert(1);
    }
    .btn-expander
    {
      color:#ffffff;

      &.expanded {

        &:after {
          background: red;
        }
      }


    }
  }

  // specialised
  #awards-about #awardsCarousel img {
    filter: invert(1);
  }
  #gallery-work.active #worksFilter {
    filter: invert(1);
  }

}