@font-face {
  font-family: 'avenir-heavy';
  src: url('../fonts/files/avenir-heavy.eot');
  src: url('../fonts/files/avenir-heavy.eot?#iefix') format('embedded-opentype'), url('../fonts/files/avenir-heavy.woff') format('woff'), url('../fonts/files/avenir-heavy.ttf') format('truetype'), url('../fonts/files/avenir-heavy.svg#AvenirHeavy') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'avenir-light';
  src: url('../fonts/files/avenir-light.eot');
  src: url('../fonts/files/avenir-light.eot?#iefix') format('embedded-opentype'), url('../fonts/files/avenir-light.woff') format('woff'), url('../fonts/files/avenir-light.ttf') format('truetype'), url('../fonts/files/avenir-light.svg#AvenirLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'avenir-lightoblique';
  src: url('../fonts/files/avenir-lightoblique.eot');
  src: url('../fonts/files/avenir-lightoblique.eot?#iefix') format('embedded-opentype'), url('../fonts/files/avenir-lightoblique.woff') format('woff'), url('../fonts/files/avenir-lightoblique.ttf') format('truetype'), url('../fonts/files/avenir-lightoblique.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'avenir-medium';
  src: url('../fonts/files/avenir-medium.eot');
  src: url('../fonts/files/avenir-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/files/avenir-medium.woff') format('woff'), url('../fonts/files/avenir-medium.ttf') format('truetype'), url('../fonts/files/avenir-medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'avenir-black';
  src: url('../fonts/files/avenir-black.eot');
  src: url('../fonts/files/avenir-black.eot?#iefix') format('embedded-opentype'), url('../fonts/files/avenir-black.woff') format('woff'), url('../fonts/files/avenir-black.ttf') format('truetype'), url('../fonts/files/avenir-black.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'avenir-roman';
  src: url('../fonts/files/avenir-roman.eot');
  src: url('../fonts/files/avenir-roman.eot?#iefix') format('embedded-opentype'), url('../fonts/files/avenir-roman.woff') format('woff'), url('../fonts/files/avenir-roman.ttf') format('truetype'), url('../fonts/files/avenir-roman.svg#avenir-roman') format('svg');
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'avenir-light';
    src: url('../fonts/files/avenir-light.svg#AvenirLight') format('svg');
  }
  @font-face {
    font-family: 'avenir-lightoblique';
    src: url('../fonts/files/avenir-lightoblique.svg#AvenirLightOblique') format('svg');
  }
  @font-face {
    font-family: 'avenir-medium';
    src: url('../fonts/files/avenir-medium.svg#AvenirMedium') format('svg');
  }
  @font-face {
    font-family: 'avenir-black';
    src: url('../fonts/files/avenir-black.svg#AvenirBlack') format('svg');
  }
  @font-face {
    font-family: 'avenir-heavy';
    src: url('../fonts/files/avenir-heavy.svg#AvenirHeavy') format('svg');
  }
  @font-face {
    font-family: 'avenir-roman';
    src: url('../fonts/files/avenir-roman.svg#avenir-roman') format('svg');
  }
}
.menu {
  font-family: 'avenir-medium';
  text-transform: uppercase;
}
a {
  color: #000000;
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  color: #000000;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'avenir-black';
  color: inherit;
  margin-bottom: 20px;
  margin-top: 20px;
  -webkit-font-smoothing: antialiased;
}
h1.centered,
h2.centered,
h3.centered,
h4.centered,
h5.centered {
  text-align: center;
}
h1.bold,
h2.bold,
h3.bold,
h4.bold,
h5.bold {
  font-family: 'avenir-heavy';
}
h1 span,
h2 span,
h3 span,
h4 span,
h5 span {
  font-family: 'avenir-light';
  color: inherit;
}
h1 {
  font-size: 26px;
  line-height: 26px;
}
h2 {
  font-size: 21px;
  line-height: 21px;
}
h3 {
  font-size: 18px;
  line-height: 18px;
}
p {
  font-family: Times, serif;
}
p.centered {
  text-align: center;
}
p.bold {
  font-weight: bold;
}
