
@font-face {
  font-family: 'ogilvy-sans-bold';
  src: url('../fonts/OgilvySans-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ogilvy-sans-light';
  src: url('../fonts/OgilvySans-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ogilvy-serif-reg';
  src: url('../fonts/OgilvySerif-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ogilvy-serif-bold';
  src: url('../fonts/OgilvySerif-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ogilvy-serif-bold-italic';
  src: url('../fonts/OgilvySerif-BoldItalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.menu {
  font-family: 'ogilvy-sans-light';
}

a {
  color:#1e1e1e;
  text-decoration:none;

  &:hover, &:active, &:focus {
    color:#1e1e1e;
    text-decoration:none;
  }
}

h1 {
  font-family: 'ogilvy-sans-bold';
  color:inherit;
  margin-bottom:20px;
  margin-top:20px;
  -webkit-font-smoothing: antialiased;

  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;

  span {
    font-family: 'ogilvy-serif-bold';
    font-style:italic;
  }

  &.centered {text-align:center}
}

h2 {
  font-family: 'ogilvy-serif-bold-italic';
  color:inherit;
  margin-bottom:20px;
  margin-top:20px;
  -webkit-font-smoothing: antialiased;

  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;

  &.centered {text-align:center}
  &.bold {
    font-weight:bold;
  }
  span {
    color:@mainCol2;
  }
}

h1 {
  font-size: 90px; line-height: 90px;
}
h2 {
  font-size:30px; line-height:30px;
}
h3 {
  font-size:18px; line-height:18px;
}

p {
  font-family: 'ogilvy-sans-light';
  color:inherit;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 40px;
  &.copyright {
    font-size: 11px;
    line-height: 11px;
    margin: 0;
  }
  &.centered {text-align:center}
  &.bold {
    font-weight:bold;
  }
}

h1, h2, h3, p, a, blockqoute {
  letter-spacing: 0;
  font-weight: normal;
  //font-style: normal;
}


