
/*FONTS.CSS*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* Author: Designova.*/
/* Website: http://www.designova.net */
/* Copyright: (C) 2013 */
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* YOUR CUSTOM FONTS CAN BE DEFINED HERE VIA CSS3 FONT-FACE TECHNOLOGY*/
/* More info : http://www.littleboxofideas.com/blog/tutorials/how-do-i-implement-font-face */
/*-------------------------------------------------------------------------------------------------------------------------------*/

@font-face {
    font-family: 'avenir-heavy';
    src: url('files/avenir-heavy.eot');
    src: url('files/avenir-heavy.eot?#iefix') format('embedded-opentype'),
    url('files/avenir-heavy.woff') format('woff'),
    url('files/avenir-heavy.ttf') format('truetype'),
    url('files/avenir-heavy.svg#AvenirHeavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avenir-light';
    src: url('files/avenir-light.eot');
    src: url('files/avenir-light.eot?#iefix') format('embedded-opentype'),
    url('files/avenir-light.woff') format('woff'),
    url('files/avenir-light.ttf') format('truetype'),
    url('files/avenir-light.svg#AvenirLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avenir-lightoblique';
    src: url('files/avenir-lightoblique.eot');
    src: url('files/avenir-lightoblique.eot?#iefix') format('embedded-opentype'),
    url('files/avenir-lightoblique.woff') format('woff'),
    url('files/avenir-lightoblique.ttf') format('truetype'),
    url('files/avenir-lightoblique.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avenir-medium';
    src: url('files/avenir-medium.eot');
    src: url('files/avenir-medium.eot?#iefix') format('embedded-opentype'),
    url('files/avenir-medium.woff') format('woff'),
    url('files/avenir-medium.ttf') format('truetype'),
    url('files/avenir-medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avenir-black';
    src: url('files/avenir-black.eot');
    src: url('files/avenir-black.eot?#iefix') format('embedded-opentype'),
    url('files/avenir-black.woff') format('woff'),
    url('files/avenir-black.ttf') format('truetype'),
    url('files/avenir-black.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avenir-roman';
    src: url('files/avenir-roman.eot');
    src: url('files/avenir-roman.eot?#iefix') format('embedded-opentype'),
    url('files/avenir-roman.woff') format('woff'),
    url('files/avenir-roman.ttf') format('truetype'),
    url('files/avenir-roman.svg#avenir-roman') format('svg');
    font-weight: normal;
    font-style: normal;
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'avenir-light';
        src: url('files/avenir-light.svg#AvenirLight') format('svg');
    }
    @font-face {
        font-family: 'avenir-lightoblique';
        src: url('files/avenir-lightoblique.svg#AvenirLightOblique') format('svg');
    }
    @font-face {
        font-family: 'avenir-medium';
        src: url('files/avenir-medium.svg#AvenirMedium') format('svg');
    }
    @font-face {
        font-family: 'avenir-black';
        src: url('files/avenir-black.svg#AvenirBlack') format('svg');
    }
    @font-face {
        font-family: 'avenir-heavy';
        src: url('files/avenir-heavy.svg#AvenirHeavy') format('svg');
    }
    @font-face {
        font-family: 'avenir-roman';
        src: url('files/avenir-roman.svg#avenir-roman') format('svg');
    }
}